.amp-wp-enforced-sizes {
  max-width: 100%;
  margin: 0 auto; }

.amp-wp-unknown-size img {
  object-fit: contain; }

amp-carousel,
amp-iframe,
amp-youtube,
amp-instagram,
amp-vine {
  margin: 0 0 1.5rem;
  background-color: #f2f2f2; }

.amp-wp-article-content amp-carousel amp-img {
  border: none; }

amp-carousel > amp-img > img {
  object-fit: contain; }

.amp-wp-iframe-placeholder {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 48px 48px;
  min-height: 48px; }

html, body,
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
abbr, acronym, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

body {
  background-color: #fff;
  color: #666; }

ul {
  margin-left: 2em;
  list-style-type: circle; }

ol {
  margin-left: 2em;
  list-style-type: decimal; }

dl {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.75em; }

pre,
code,
kbd,
samp {
  font-family: "Lucida Console", Courier, "DejaVu Sans Mono", monospace, sans-serif; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code {
  font-family: monospace, serif; }

pre code {
  padding: 0.75em;
  display: block;
  border-width: 0; }

blockquote {
  min-height: 32px;
  padding: 0 22px; }

a {
  cursor: pointer;
  text-decoration: none;
  border-width: 0;
  border-style: solid; }

a:hover,
a:active {
  outline: none; }

/* Avoid grey background in IE10 */
small {
  font-size: 11px; }
  h1 small,
  h2 small,
  h3 small {
    font-size: 75%; }

strong {
  font-weight: bold; }

dfn,
em,
q,
cite {
  font-weight: normal;
  font-style: italic; }

del {
  text-decoration: line-through; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1 sub, h2 sub, h3 sub {
  font-size: 50%;
  bottom: 0; }

h1 sup, h2 sup, h3 sup {
  font-size: 50%;
  top: -0.75em; }

abbr,
acronym {
  text-transform: uppercase; }

hr {
  border-width: 1px 0 0;
  margin: 1.5em 0;
  border-style: solid;
  opacity: 0.1667; }

/* ----->>> IMAGES <<<-------------------------------------------------------------------------- */
img {
  max-width: 100%;
  height: auto; }
  #ie8 img {
    width: auto; }

video,
embed,
object,
iframe {
  max-width: 100%; }

/* ----->>> TABLES <<<-------------------------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0; }
  table caption {
    width: 100%;
    padding: 6px 10px; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

/* --- Text highlighting ----------------------------------------------------------------------- */
ins {
  color: #333;
  background-color: #c1f7ff; }

mark {
  padding: 0 0.33em; }

figure {
  position: relative;
  margin-bottom: 1.5rem; }

/**
 * Standard heading sizes:
 * .g1-alpha        -> h1
 * .g1-beta         -> h2
 * .g1-gamma        -> h3
 * .g1-delta        -> h4
 * .g1-epsilon      -> h5
 * .g1-zeta         -> h6
 *
 * This way we can alter the size of any heading or even paragraph without changing its tag.
 * Good for SEO and proper heading hierarchy.
 *
 * Extra heading sizes:
 * .g1-mega
 * .g1-giga
 *
 * Purpose modifiers:
 * .g1-beta-1st     -> Regular headings
 * .g1-beta-2nd     -> Section titles (e.g. "YOU MAY ALSO LIKE")
 * .g1-beta-3rd     -> Subtitles
 */
html {
  font-size: 15px; }

body,
input,
select,
textarea,
button {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

label {
  font-size: 13px;
  line-height: 20px;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.g1-giga {
  font-size: 1.80203rem;
  line-height: 1.067;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #000;
  word-spacing: 0.05em; }

.g1-mega {
  font-size: 1.80203rem;
  line-height: 1.067;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #000; }

h1,
.g1-alpha {
  font-size: 1.60181rem;
  line-height: 1.067;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: #000; }

h2,
.g1-beta {
  font-size: 1.42383rem;
  line-height: 1.125;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #000; }

h3,
.g1-gamma {
  font-size: 1.26563rem;
  line-height: 1.125;
  font-family: "Poppins", "Roboto", sans-serif;
  letter-spacing: -0.025em;
  font-weight: 600;
  color: #000; }

h4,
.g1-delta {
  font-size: 1.125rem;
  line-height: 1.2;
  font-family: "Poppins", "Roboto", sans-serif;
  letter-spacing: -0.025em;
  font-weight: 600;
  color: #000; }

h5,
.g1-epsilon,
.item-title {
  font-size: 14px;
  line-height: 18px;
  font-family: "Poppins", "Roboto", sans-serif;
  letter-spacing: -0.025em;
  font-weight: 500;
  color: #000; }

h6,
.g1-zeta {
  font-size: 11px;
  line-height: 12px;
  font-family: "Poppins", "Roboto", sans-serif;
  letter-spacing: 0em;
  font-weight: 500;
  text-transform: uppercase;
  color: #000; }

/* Large screen typography */
@media only screen and (min-width: 1025px) {
  h6,
  .g1-zeta {
    font-size: 11px; }
  h5,
  .g1-epsilon,
  .item-title {
    font-size: 14px; }
  h4,
  .g1-delta {
    font-size: 18px; }
  h3,
  .g1-gamma {
    font-size: 21px; }
  h2,
  .g1-beta,
  .g1lg-beta {
    font-size: 24px; }
  h1,
  .g1-alpha,
  .g1lg-alpha {
    font-size: 29px;
    line-height: 1.067; }
  .g1-mega {
    font-size: 40px; }
  .g1-giga {
    font-size: 48px; } }

.g1-giga-2nd,
.g1-mega-2nd,
.g1-alpha-2nd,
.g1-beta-2nd,
.g1-gamma-2nd,
.g1-delta-2nd,
.g1-epsilon-2nd,
.g1-zeta-2nd {
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal; }

.g1-giga-3rd,
.g1-mega-3rd,
.g1-alpha-3rd,
.g1-beta-3rd,
.g1-gamma-3rd,
.g1-delta-3rd,
.g1-epsilon-3rd,
.g1-zeta-3rd {
  font-weight: 300;
  letter-spacing: -0.025em;
  opacity: 0.5; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
dl, ol, ul, table,
legend, hr, figure {
  margin-bottom: 21px;
  margin-bottom: 1.5rem; }

.g1-typography-xl {
  font-size: 18px;
  line-height: 30px; }
  .g1-typography-xl h1,
  .g1-typography-xl h2 {
    margin-top: 3rem; }
  .g1-typography-xl h1:first-child,
  .g1-typography-xl h2:first-child {
    margin-top: 0; }

.g1-meta {
  font-size: 13px;
  line-height: 16px;
  font-family: "Poppins", "Roboto", sans-serif;
  color: #999; }
  .g1-meta a {
    color: #000; }

/* Base */
.g1-row {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .g1-row:after {
    display: table;
    clear: both;
    content: ""; }
  .g1-row .g1-row {
    width: auto;
    margin-left: -10px;
    margin-right: -10px; }

.g1-row-layout-page > .g1-row-background {
  background-color: #fff; }

.g1-row-inner {
  position: relative;
  z-index: 1;
  max-width: 708px;
  margin: 0 auto;
  font-size: 0; }

@media only screen and (min-width: 801px) {
  .g1-row-inner {
    max-width: 1182px; } }

.g1-row-wide > .g1-row-inner {
  max-width: none; }

.g1-row-background {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  z-index: -2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.g1-column {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  vertical-align: top;
  font-size: 1rem; }

@media only screen and (max-width: 800px) {
  #secondary {
    margin-top: 30px; } }

@media only screen and (min-width: 801px) {
  .g1-column {
    display: inline-block; }
  /* Columns sizes */
  .g1-column-1of2 {
    width: 50%; }
  .g1-column-1of3 {
    width: 33.33333%; }
  .g1-column-2of3 {
    width: 66.66667%; }
  .g1-column-1of6 {
    width: 16.66667%; }
  #secondary {
    padding-left: 20px; } }

.g1-primary-max {
  width: 100%; }

.g1-row-padding-m {
  padding-top: 30px;
  padding-bottom: 30px; }

.g1-row-padding-xs {
  padding-top: 10px; }
  .g1-row-padding-xs > .g1-row-inner > .g1-column-1of3 {
    padding-top: 35px; }

.g1-current-background {
  background-color: #fff; }

.g1-row-inner {
  max-width: 778px; }

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.g1-collection {
  clear: both;
  max-width: 1152px;
  margin: 0 auto; }

.g1-collection-viewport {
  clear: both;
  margin-left: -10px;
  margin-right: -10px; }

.g1-collection-items {
  counter-reset: g1-collection-item-counter;
  clear: both;
  list-style: none;
  font-size: 0; }

.g1-collection-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  vertical-align: top;
  font-size: 1rem; }

.g1-collection-item-1of3 {
  width: 100%; }

@media only screen and (min-width: 709px) and (max-width: 1024px) {
  .g1-collection-item-1of3 {
    width: 50%; } }

@media only screen and (min-width: 1025px) {
  .g1-collection-viewport {
    margin-left: -15px;
    margin-right: -15px; }
  .g1-collection-item {
    padding: 0 15px; }
  .g1-collection-columns-2 .g1-collection-item {
    width: 50%; }
  .g1-collection-columns-3 .g1-collection-item {
    width: 33.33333%; }
  .g1-collection-columns-4 .g1-collection-item {
    width: 25%; } }

.g1-collection-more {
  overflow: hidden;
  position: relative;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  text-align: center; }
  .g1-collection-more .g1-button {
    width: 100%; }

.g1-collection-more-spinner {
  display: none;
  position: absolute;
  left: 50%;
  right: auto;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 21px;
  -webkit-animation: g1-anim-spin 2s infinite linear;
  animation: g1-anim-spin 2s infinite linear; }
  .g1-collection-more-spinner:before {
    font-family: "bimber";
    font-style: normal;
    content: "\e01d"; }

.g1-collection-more-inner {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto; }

.g1-collection-more-inner {
  display: inline-block;
  position: relative;
  max-width: 100%; }
  .g1-collection-more-inner:before {
    display: block;
    width: 999px;
    height: 0;
    border-width: 1px 0 0;
    margin-right: 20px;
    position: absolute;
    right: 100%;
    left: auto;
    top: 50%;
    border-style: solid;
    content: "";
    opacity: 0.1667; }
  .g1-collection-more-inner:after {
    display: block;
    width: 999px;
    height: 0;
    border-width: 1px 0 0;
    margin-left: 20px;
    position: absolute;
    left: 100%;
    right: auto;
    top: 50%;
    border-style: solid;
    content: "";
    opacity: 0.1667; }

.g1-collection-more .g1-button {
  max-width: 100%;
  width: 364px; }

.g1-collection-more-loading .g1-button {
  visibility: hidden; }

.g1-collection-more-loading .g1-collection-more-spinner {
  display: block; }

.g1-related-entries {
  margin: 3rem 0; }

.g1-dont-miss {
  margin-top: 60px; }

.g1-hot-content,
.g1-trending-content,
.g1-popular-content {
  margin-bottom: 3rem; }

.sticky {
  /* Sticky*/ }

.entry-featured-media img {
  width: 100%; }

.entry-media-with-ellipsis {
  position: relative;
  max-height: 500px;
  overflow: hidden; }

.entry-media-ellipsis {
  padding: 10px 20px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  text-align: center;
  background-color: #454545; }
  .entry-media-ellipsis .g1-button {
    border-color: #fff;
    background-color: #fff;
    color: #000; }

.entry-author {
  display: block;
  margin-right: 10px; }
  .entry-author .avatar {
    float: left;
    margin-right: 10px; }

/* Entry categories */
.entry-category {
  display: inline-block;
  position: relative;
  padding: 2px 9px;
  border-width: 1px;
  font-size: 13px;
  line-height: 15px;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  pointer-events: auto;
  border-style: solid;
  text-shadow: none;
  border-color: #e6e6e6;
  background-color: #e6e6e6;
  color: #000;
  -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
  -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
  -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
  transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; }

.entry-categories {
  display: inline;
  margin: 0 0 16px;
  margin: 0 0 1rem; }

.entry-categories-inner {
  display: inline;
  margin-top: -1px;
  font-size: 0; }

/* Entry tags */
.entry-tag {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  font-family: "Poppins", "Roboto", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 400;
  vertical-align: top;
  text-transform: uppercase;
  color: inherit; }
  .entry-tag:before {
    content: "#"; }

.entry-date {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top; }

.entry-comments-link {
  display: inline-block;
  vertical-align: top;
  pointer-events: auto; }
  .entry-comments-link a {
    display: inline-block;
    position: relative; }
    .entry-comments-link a:before {
      display: inline-block;
      margin-right: 0.25em;
      font: 16px/11px "bimber";
      vertical-align: middle;
      content: "\e010";
      opacity: 0.333; }
    .entry-comments-link a > span {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden; }
  .entry-comments-link a:hover:before {
    opacity: 0.999; }

.entry-shares {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top; }
  .entry-shares:before {
    display: inline-block;
    margin-right: 4px;
    font: 16px/11px "bimber";
    vertical-align: middle;
    content: "\e011"; }

.entry-views {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top; }
  .entry-views:before {
    display: inline-block;
    margin-right: 0.25em;
    font: 16px/11px "bimber";
    vertical-align: middle;
    content: "\e014";
    opacity: 0.5; }

.entry-counter {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 10px;
  right: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px;
  font-size: 18px;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  pointer-events: none; }
  .entry-counter:before {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    border-radius: inherit;
    content: ""; }
  .entry-counter:after {
    position: relative;
    z-index: 2;
    content: counter(g1-collection-item-counter); }

.entry-meta {
  font-size: 13px;
  line-height: 16px;
  font-family: "Poppins", "Roboto", sans-serif;
  letter-spacing: normal;
  color: #999; }
  .entry-meta strong {
    font-weight: 400; }
  .entry-meta a {
    color: #000; }

.entry-meta-m .entry-views {
  vertical-align: middle; }
  .entry-meta-m .entry-views:before {
    font-size: 32px;
    line-height: 32px; }

.entry-meta-m .entry-views-popular:before {
  content: "\e015";
  color: #ff577b; }

.entry-meta-m .entry-views-popular strong {
  color: #ff577b; }

.entry-meta-m .entry-views-hot:before {
  content: "\e01c";
  color: #ff0036; }

.entry-meta-m .entry-views-hot strong {
  color: #ff0036; }

.entry-meta-m .entry-views-trending:before {
  content: "\e00e";
  content: "\e030";
  color: #bf0029; }

.entry-meta-m .entry-views-trending strong {
  color: #bf0029; }

.entry-meta-m .entry-comments-link a:before {
  font-size: 32px;
  line-height: 32px; }

.entry-meta-wrap {
  display: block; }
  .entry-meta-wrap:after {
    display: table;
    clear: both;
    content: ""; }
  .entry-meta-wrap .entry-date {
    display: block; }

.entry-meta-stats {
  display: inline-block;
  clear: both;
  position: relative;
  z-index: 6;
  margin-bottom: 0.75rem;
  padding: 3px 10px 3px 0;
  font-size: 13px;
  line-height: 15px; }

.entry-meta-byline {
  margin: 10px 0; }
  .entry-meta-byline:after {
    clear: both;
    display: table;
    content: ""; }

.entry-meta-m {
  margin-bottom: 0.75rem;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  /* Clearfix */ }
  .entry-meta-m:after {
    display: table;
    clear: both;
    content: ""; }
  .entry-meta-m strong {
    font-weight: 600; }
  .entry-meta-m .entry-date {
    font-size: 13px;
    white-space: nowrap; }
  .entry-meta-m .entry-meta-wrap {
    margin-right: 10px;
    margin-bottom: 0.75rem; }

@media only screen and (min-width: 481px) {
  .entry-meta-m .entry-meta-wrap {
    float: left; }
  .entry-meta-m .entry-meta-wrap + .entry-meta-wrap {
    float: right;
    margin-left: 10px;
    margin-right: 0; } }

.entry-header .entry-meta-bunchy .entry-author,
.entry-header .entry-meta-bunchy .entry-date,
.entry-header .entry-meta-bunchy .entry-categories {
  display: inline-block;
  float: none; }

.entry-flag {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  border-width: 1px;
  vertical-align: top;
  font-size: 0;
  line-height: 38px;
  text-align: center;
  border-style: solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-color: #ff0036;
  background-color: #ff0036;
  color: #fff; }
  .entry-flag:before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    font-family: "bimber";
    font-weight: normal;
    content: ""; }
  .entry-flag > .wyr-reaction-icon {
    width: inherit;
    height: inherit; }

.entry-flag-text {
  font-size: 12px; }

a.entry-flag {
  pointer-events: auto;
  -webkit-transition: top 0.175s ease-in-out;
  -moz-transition: top 0.175s ease-in-out;
  -o-transition: top 0.175s ease-in-out;
  transition: top 0.175s ease-in-out; }
  a.entry-flag:hover {
    top: -5px; }

.entry-flag-latest {
  border-color: #808080;
  background-color: #808080;
  color: #fff; }
  .entry-flag-latest:before {
    content: "\e017"; }

.entry-flag-popular {
  border-color: #ff577b;
  background-color: #ff577b;
  color: #fff; }
  .entry-flag-popular:before {
    content: "\e015"; }

.entry-flag-hot:before {
  content: "\e01c"; }

.entry-flag-top,
.entry-flag-trending {
  border-color: #bf0029;
  background-color: #bf0029;
  color: #fff; }
  .entry-flag-top:before,
  .entry-flag-trending:before {
    content: "\e00e";
    content: "\e030"; }

.entry-flag-reaction {
  border-color: transparent;
  background-color: transparent; }

.entry-flags {
  margin-right: -6px;
  font-size: 0;
  pointer-events: none; }
  .entry-flags .entry-flag {
    display: none;
    margin-right: 6px; }
  .entry-flags .entry-flag:first-child,
  .entry-flags .entry-flag:first-child + .entry-flag-reaction,
  .entry-flags .entry-flag-trending + .entry-flag-reaction,
  .entry-flags .entry-flag-hot + .entry-flag-reaction,
  .entry-flags .entry-flag-popular + .entry-flag-reaction {
    display: inline-block; }

.entry-before-title .entry-flags {
  margin-bottom: 10px;
  float: right; }

.menu-item > a .entry-flag {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.entry-before-title:after {
  display: table;
  clear: both;
  content: ""; }

.entry-before-title .entry-meta-stats,
.entry-before-title .entry-categories {
  float: left;
  margin-bottom: 0; }

.entry-title > a {
  color: inherit; }

.entry-title + .entry-subtitle {
  margin-top: -0.75em; }

.g1-content-narrow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 758px;
  margin-left: auto;
  margin-right: auto; }

.entry-content .aligncenter,
.entry-summary .aligncenter {
  width: 100%; }
  .entry-content .aligncenter img,
  .entry-content .aligncenter canvas,
  .entry-summary .aligncenter img,
  .entry-summary .aligncenter canvas {
    width: 100%; }

.entry-content video,
.entry-summary video {
  width: 100%;
  margin-bottom: 100px; }

.entry-media-row > .g1-row-inner > .g1-column-2of3 {
  position: absolute;
  bottom: 0; }

.entry-media-row > .g1-row-background > .g1-row-background-media {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #808080;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.entry-media-row-03 > .g1-row-inner {
  max-width: none; }
  .entry-media-row-03 > .g1-row-inner > .g1-column {
    padding-left: 0;
    padding-right: 0; }

.entry-media-row-03 > .g1-row-background > .g1-row-background-media {
  top: 0;
  bottom: auto;
  height: 400px; }

.entry-media-row-03 .g1-row-1 {
  height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto; }
  .entry-media-row-03 .g1-row-1 > .g1-row-background {
    background-color: transparent;
    background-image: -owg-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px); }

.entry-media-row-03 .g1-row-2 {
  margin: 0 auto; }
  .entry-media-row-03 .g1-row-2:after {
    display: table;
    clear: both;
    content: ""; }

.entry-media-row-03 .entry-before-title {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 10px;
  bottom: 100%; }

.entry-media-row-03 .entry-flags {
  margin-left: auto;
  margin-bottom: 0; }

.entry-media-row-03 .entry-header {
  padding-top: 1.5rem; }

.entry-media-row-03 h1, .entry-media-row-03 h2 {
  color: #fff; }

.entry-media-row-03 .entry-media-credit {
  padding: 0.333em 0; }

@media only screen and (max-width: 800px) {
  .entry-media-row-03 .g1-row-2 {
    background: #1a1a1a; } }

@media only screen and (min-width: 801px) {
  .entry-media-row-03 > .g1-row-inner {
    min-height: 66vh; }
    .entry-media-row-03 > .g1-row-inner > .g1-column {
      position: static; }
  .entry-media-row-03 > .g1-row-background > .g1-row-background-media {
    top: 0;
    bottom: 0;
    height: auto; }
  .entry-media-row-03 .g1-row-2 {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0; }
    .entry-media-row-03 .g1-row-2 .g1-column-2of3 {
      width: calc( 66.666% + 45px); }
    .entry-media-row-03 .g1-row-2 .g1-column-1of3 {
      width: calc( 33.333% - 45px - 15px);
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: auto;
      right: 15px;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.333);
      color: #fff; }
    .entry-media-row-03 .g1-row-2 > .g1-row-background {
      background-color: transparent;
      background-image: -owg-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.666));
      background-image: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.666));
      background-image: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.666));
      background-image: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.666));
      background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.666)); } }

.entry-media-row-04 {
  max-width: 1182px; }
  .entry-media-row-04 > .g1-row-inner {
    max-width: none; }
    .entry-media-row-04 > .g1-row-inner > .g1-column {
      padding-left: 0;
      padding-right: 0; }
  .entry-media-row-04 > .g1-row-background {
    background-color: #fff; }
    .entry-media-row-04 > .g1-row-background > .g1-row-background-media {
      max-width: 100%;
      width: 1152px;
      top: 0;
      bottom: auto;
      height: 400px; }
  .entry-media-row-04 .g1-row-1 {
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto; }
  .entry-media-row-04 .g1-row-2 {
    max-width: 1242px;
    margin: 0 auto; }
    .entry-media-row-04 .g1-row-2:after {
      display: table;
      clear: both;
      content: ""; }
    .entry-media-row-04 .g1-row-2 > .g1-row-background {
      max-width: 1152px; }
  .entry-media-row-04 .entry-header {
    padding-bottom: 1.5rem; }
  .entry-media-row-04 h1, .entry-media-row-04 h2 {
    color: #fff; }
  .entry-media-row-04 .entry-media-credit {
    padding: 0.333em 0; }

@media only screen and (max-width: 800px) {
  .entry-media-row-04 .g1-row-2 {
    background: #1a1a1a; } }

@media only screen and (min-width: 801px) {
  .entry-media-row-04 > .g1-row-inner {
    min-height: 66vh; }
    .entry-media-row-04 > .g1-row-inner > .g1-column {
      position: static; }
  .entry-media-row-04 > .g1-row-background > .g1-row-background-media {
    top: 0;
    bottom: 0;
    height: auto; }
  .entry-media-row-04 .g1-row-1 .g1-breadcrumbs {
    padding-left: 15px;
    padding-right: 15px; }
  .entry-media-row-04 .g1-row-2 {
    padding-top: 120px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0; }
    .entry-media-row-04 .g1-row-2 .g1-column-2of3 {
      width: calc( 66.666% + 45px);
      padding-left: 60px; }
    .entry-media-row-04 .g1-row-2 .g1-column-1of3 {
      width: calc( 33.333% - 45px);
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: auto;
      right: 15px;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.333);
      color: #fff; }
    .entry-media-row-04 .g1-row-2 > .g1-row-background {
      background-image: -owg-linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.333) 120px, rgba(0, 0, 0, 0.666) 100%);
      background-image: -webkit-linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.333) 120px, rgba(0, 0, 0, 0.666) 100%);
      background-image: -moz-linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.333) 120px, rgba(0, 0, 0, 0.666) 100%);
      background-image: -o-linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.333) 120px, rgba(0, 0, 0, 0.666) 100%);
      background-image: linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.333) 120px, rgba(0, 0, 0, 0.666) 100%); } }

.entry-media-row-05 {
  max-width: 1212px; }
  .entry-media-row-05 > .g1-row-inner {
    max-width: none; }
    .entry-media-row-05 > .g1-row-inner > .g1-column {
      padding-left: 0;
      padding-right: 0; }
  .entry-media-row-05 > .g1-row-background {
    background-color: #fff; }
    .entry-media-row-05 > .g1-row-background > .g1-row-background-media {
      max-width: 100%;
      width: 1152px;
      top: 0;
      bottom: auto;
      height: 400px; }
  .entry-media-row-05 .g1-row-1 {
    max-width: 1152px;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto; }
    .entry-media-row-05 .g1-row-1 > .g1-row-background {
      background-color: transparent;
      background-image: -owg-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
      background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
      background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
      background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px); }
  .entry-media-row-05 .g1-row-2 {
    margin: 0 auto; }
    .entry-media-row-05 .g1-row-2 .g1-column-2of3 {
      padding-top: 1.5rem;
      background-color: #fff; }
    .entry-media-row-05 .g1-row-2:after {
      display: table;
      clear: both;
      content: ""; }
  .entry-media-row-05 .entry-before-title {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 100%; }
  .entry-media-row-05 .entry-flags {
    margin-left: auto;
    margin-bottom: -10px; }
  .entry-media-row-05 .entry-media-credit {
    padding: 0.333em 0; }

@media only screen and (min-width: 801px) {
  .entry-media-row-05 > .g1-row-inner {
    min-height: 66vh; }
    .entry-media-row-05 > .g1-row-inner > .g1-column {
      position: static; }
  .entry-media-row-05 > .g1-row-background > .g1-row-background-media {
    top: 0;
    bottom: 0;
    height: auto; }
  .entry-media-row-05 .g1-row-1 .g1-breadcrumbs {
    padding-left: 15px;
    padding-right: 15px; }
  .entry-media-row-05 .g1-row-2 {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0; }
    .entry-media-row-05 .g1-row-2 .g1-column-2of3 {
      width: calc( 66.666% + 45px); }
    .entry-media-row-05 .g1-row-2 .g1-column-1of3 {
      width: calc( 33.333% - 45px - 15px);
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: auto;
      right: 15px;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.333);
      color: #fff; } }

.entry-media-row-06 > .g1-row-inner {
  max-width: none; }
  .entry-media-row-06 > .g1-row-inner > .g1-column {
    padding-left: 0;
    padding-right: 0; }

.entry-media-row-06 > .g1-row-background > .g1-row-background-media {
  top: 0;
  bottom: auto;
  height: 400px; }

.entry-media-row-06 .g1-row-1 {
  height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto; }
  .entry-media-row-06 .g1-row-1 > .g1-row-background {
    background-color: transparent;
    background-image: -owg-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.333), transparent 60px); }

.entry-media-row-06 .g1-row-2 {
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
  background-color: #fff; }
  .entry-media-row-06 .g1-row-2:after {
    display: table;
    clear: both;
    content: ""; }
  .entry-media-row-06 .g1-row-2 > .g1-row-inner,
  .entry-media-row-06 .g1-row-2 > .g1-row-inner > .g1-column {
    position: static; }

.entry-media-row-06 .entry-header {
  padding-top: 2.5rem; }

.entry-media-row-06 .entry-before-title {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0; }
  .entry-media-row-06 .entry-before-title:after {
    display: table;
    clear: both;
    content: ""; }

@media only screen and (min-width: 801px) {
  .entry-media-row-06 .g1-row-1 .g1-column-1of3 {
    text-align: right; } }

@media only screen and (min-width: 1200px) {
  .entry-media-row-06 > .g1-row-inner {
    min-height: 66vh; }
    .entry-media-row-06 > .g1-row-inner > .g1-column {
      position: static; }
  .entry-media-row-06 > .g1-row-background > .g1-row-background-media {
    top: 0;
    bottom: 0;
    height: auto; }
  .entry-media-row-06 .g1-row-2 {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0; } }

.entry-header .entry-categories {
  float: left; }

.entry-header .entry-flags {
  position: static;
  float: right; }

.entry-header .entry-title {
  clear: both; }

.entry-tpl-grid {
  position: relative;
  width: 100%;
  margin-bottom: 30px; }
  .entry-tpl-grid .entry-featured-media {
    margin-bottom: 0; }
  .entry-tpl-grid .entry-flags {
    padding: 0 10px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 3;
    top: -10px;
    left: 0;
    right: auto; }
  .entry-tpl-grid .entry-flags:first-child {
    position: relative; }
  .entry-tpl-grid .entry-header {
    position: relative; }
  .entry-tpl-grid .entry-before-title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0; }
    .entry-tpl-grid .entry-before-title .entry-categories,
    .entry-tpl-grid .entry-before-title .entry-categories-inner {
      display: inline;
      float: none;
      clear: none;
      vertical-align: middle; }
  .entry-tpl-grid .entry-featured-media ~ .entry-body .entry-before-title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%; }
  .entry-tpl-grid .entry-meta-stats {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px; }
  .entry-tpl-grid .entry-categories {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0; }
  .entry-tpl-grid .entry-title {
    padding-top: 0.75em;
    margin-bottom: 0.75em; }
  .entry-tpl-grid .g1-button {
    float: right;
    margin-bottom: 15px; }

/**
 * List template
 */
.entry-tpl-list {
  width: 100%;
  position: relative;
  margin-bottom: 30px; }
  .entry-tpl-list:after {
    display: table;
    clear: both;
    content: ""; }
  .entry-tpl-list .entry-featured-media {
    margin: 0; }
  .entry-tpl-list .entry-flags {
    padding: 0 10px;
    margin: 0 0 10px;
    position: absolute;
    z-index: 3;
    left: -10px;
    right: auto; }
  .entry-tpl-list .entry-flags:first-child {
    position: relative; }
  .entry-tpl-list .entry-title {
    padding-top: 0.75em;
    margin-bottom: 0.75em; }
  .entry-tpl-list .g1-button {
    float: right;
    margin-bottom: 15px; }

@media only screen and (max-width: 600px) {
  .entry-tpl-list .entry-header {
    position: relative; }
  .entry-tpl-list .entry-featured-media ~ .entry-body .entry-header .entry-before-title {
    position: absolute;
    left: 0;
    right: auto;
    bottom: 100%; } }

@media only screen and (min-width: 601px) {
  .entry-tpl-list {
    position: relative; }
    .entry-tpl-list .entry-featured-media {
      float: left;
      width: 50%;
      max-width: 364px;
      margin: 0 20px 0 0; }
    .entry-tpl-list .entry-flags {
      position: absolute;
      left: 0;
      margin-top: 0; }
    .entry-tpl-list .entry-body {
      overflow: hidden; } }

@media only screen and (min-width: 1025px) {
  .entry-tpl-list .entry-featured-media {
    margin-right: 30px; } }

.entry-media-nsfw {
  position: relative; }

.g1-nsfw {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 1.125;
  background: #000;
  color: #fff; }

.g1-nsfw-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 0 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.g1-nsfw-icon {
  display: block;
  width: 1.333em;
  height: 1.333em;
  margin: 0 auto;
  position: relative;
  font-size: 32px;
  line-height: 1.333;
  font-weight: 400;
  font-style: normal;
  color: #ff0036; }
  .g1-nsfw-icon:before {
    font-family: "bimber";
    content: "\e022"; }

.g1-nsfw-title {
  font-size: 1.17em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.025em; }

.g1-nsfw-desc {
  font-size: 0.83em;
  font-family: "Poppins", sans-serif;
  color: #ccc; }

/* =Button */
[type=submit],
[type=reset],
[type=button],
button,
.g1-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-right: 0.2px;
  /*IE8 inline-block fix*/
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  zoom: 1;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out;
  -moz-transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out;
  -o-transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out;
  transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out; }
  [type=submit]:hover,
  [type=reset]:hover,
  [type=button]:hover,
  button:hover,
  .g1-button:hover {
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.333); }
  [type=submit]:active,
  [type=reset]:active,
  [type=button]:active,
  button:active,
  .g1-button:active {
    box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, 0.333); }
  [type=submit]:disabled,
  [type=reset]:disabled,
  [type=button]:disabled,
  button:disabled,
  .g1-button:disabled {
    filter: grayscale(100%);
    opacity: 0.333;
    box-shadow: none; }

/* Extra small buttons */
.g1-button-xs {
  padding: 0px 9px;
  border-width: 1px;
  line-height: 19px;
  font-size: 10px; }

/* Small buttons */
.g1-button-s {
  padding: 3px 19px;
  border-width: 1px;
  font-size: 12px; }

/* Medium buttons */
.g1-button-m {
  padding: 7px 28px;
  border-width: 2px; }

/* Large buttons */
.g1-button-l {
  padding: 14px 37px;
  border-width: 2px;
  font-size: 16px;
  line-height: 18px; }

/* Extra large buttons */
.g1-button-xl {
  padding: 21px 37px;
  border-width: 3px;
  font-size: 18px; }

/* Wide buttons */
.g1-button-wide {
  display: block; }

.g1-button-subtle {
  color: #000;
  background-color: #f2f2f2;
  border-color: #f2f2f2; }

.g1-nav-single {
  max-width: 758px;
  margin: 2rem auto 1rem;
  font-family: "Poppins", "Roboto", sans-serif; }

.g1-single-nav-label {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden; }

.g1-nav-single-links {
  margin: 0;
  overflow: hidden;
  list-style: none; }
  .g1-nav-single-links:after {
    display: table;
    clear: both;
    content: ""; }

.g1-nav-single-prev,
.g1-nav-single-next {
  margin-bottom: 1rem; }
  .g1-nav-single-prev > a,
  .g1-nav-single-next > a {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    color: inherit; }
    .g1-nav-single-prev > a > strong,
    .g1-nav-single-next > a > strong {
      display: block;
      margin-bottom: 0.5em;
      font-size: 13px;
      line-height: 16px;
      font-family: "Poppins", "Roboto", sans-serif;
      font-weight: normal;
      opacity: 0.666; }
    .g1-nav-single-prev > a > span,
    .g1-nav-single-next > a > span {
      display: block;
      position: relative; }

.g1-nav-single-prev > a > span {
  margin-left: auto;
  margin-right: 0; }
  .g1-nav-single-prev > a > span:before {
    display: inline-block;
    position: absolute;
    top: -3px;
    width: 30px;
    margin-left: -30px;
    font-size: 28px;
    font-family: "bimber";
    font-weight: normal;
    content: "\e00d";
    text-align: left; }

.g1-nav-single-next > a > span {
  margin-left: 0;
  margin-right: auto; }
  .g1-nav-single-next > a > span:after {
    display: inline-block;
    position: absolute;
    top: -3px;
    left: auto;
    right: 100%;
    width: 30px;
    font-size: 28px;
    font-family: "bimber";
    font-weight: normal;
    content: "\e00b";
    text-align: left; }

.g1-nav-single-back {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden; }

@media only screen and (min-width: 801px) {
  .g1-nav-single-prev {
    float: left;
    width: 50%;
    text-align: left; }
  .g1-nav-single-next {
    float: right;
    width: 50%;
    text-align: right; }
    .g1-nav-single-next > a > span:after {
      left: 100%;
      right: auto;
      text-align: right; } }

.author-info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 758px;
  padding: 30px 0 0;
  margin: 0 auto 30px;
  position: relative;
  border-radius: 0; }
  .author-info:before {
    display: block;
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: currentColor;
    opacity: 0.0833; }
  .author-info:after {
    display: table;
    clear: both;
    content: ""; }
  .author-info .author-info-inner {
    position: relative; }
  .author-info .author-avatar {
    position: absolute;
    left: 10px;
    right: auto;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 0; }
  .author-info .author-overview {
    padding-left: 60px; }
  .author-info .author-title .g1-delta > a {
    display: block; }

.g1-row .author-info {
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 801px) {
  .author-info {
    padding: 30px 30px 0; }
    .author-info .author-avatar {
      left: 0;
      width: auto;
      height: auto; }
    .author-info .author-overview {
      min-height: 100px;
      padding-left: 90px; } }

.g1-header > .g1-row-inner > .g1-column {
  padding-left: 50px;
  padding-right: 50px; }

.g1-hamburger {
  display: block;
  float: left;
  margin-right: 20px;
  z-index: 1;
  cursor: pointer;
  color: inherit; }

.g1-hamburger-icon {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-width: 2px 0;
  width: 30px;
  height: 20px;
  border-style: solid;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px; }
  .g1-hamburger-icon:before, .g1-hamburger-icon:after {
    display: block;
    position: absolute;
    left: 0;
    right: auto;
    top: 50%;
    width: 100%;
    margin-top: -1px;
    border-width: 1px 0;
    border-style: solid;
    content: ""; }

.g1-hamburger-label {
  display: none; }

.g1-hamburger {
  position: absolute;
  left: 10px;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.site-title,
.site-description {
  margin-bottom: 0; }

.g1-logo-wrapper {
  display: block;
  position: relative; }
  .g1-logo-wrapper .g1-logo {
    display: block; }

.g1-id {
  margin: 15px auto;
  z-index: 1; }

.g1-logo-small-wrapper {
  display: none;
  float: left;
  margin: 5px 0; }
  .g1-logo-small-wrapper .g1-logo-small {
    display: block;
    max-height: 40px;
    width: auto; }

@media only screen and (max-width: 800px) {
  body.g1-has-mobile-logo .g1-logo-small-wrapper {
    display: block; } }

.g1-header .g1-logo {
  margin-left: auto;
  margin-right: auto; }

blockquote {
  position: relative;
  padding: 2em 10px 0.5em;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
  /* Open quote */
  /* Borders */ }
  blockquote:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    right: auto;
    top: 20px;
    font-size: 60px;
    line-height: 1;
    font-family: "Poppins", "Roboto", sans-serif;
    font-weight: 700;
    cursor: default;
    vertical-align: bottom;
    content: "\201c"; }
  blockquote::after {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    left: 0;
    right: auto;
    top: 0;
    width: 100%;
    height: 100%;
    border-width: 6px 0 1px;
    border-style: solid;
    content: "";
    opacity: 0.1666; }

.wp-caption-text {
  padding-top: 0.5em;
  padding-right: 10px;
  text-align: left;
  font-size: 13px;
  line-height: 1.125;
  font-family: "Poppins", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  opacity: 0.666; }
  .wp-caption-text a {
    text-decoration: underline;
    color: inherit; }

.mashsb-stretched .mashsb-buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
  .mashsb-stretched .mashsb-buttons a {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  .mashsb-stretched .mashsb-buttons .secondary-shares {
    display: none; }

.entry-content {
  max-width: 662px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.g1-switch-to-non-amp {
  text-align: center; }

.g1-footer {
  padding-top: 3rem; }
  .g1-footer .g1-column {
    text-align: center; }

#g1-canvas {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  padding: 30px 15px;
  background-color: #fff; }

.g1-primary-nav-menu {
  margin: 0;
  list-style: none; }

.g1-primary-nav {
  margin: 0 0 3rem; }
  .g1-primary-nav .menu-item > a {
    color: inherit; }
  .g1-primary-nav .sub-menu {
    margin: 0 0 0 15px;
    list-style: none; }
