.pp_wrap .nav-tab
{
	border: 0;
	color: #444;
	clear:both;
	display: block;
	width: 120px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 11px 20px 11px 20px;
	margin: 0px;
	text-shadow: none;
	background: transparent;
	left:1px;
	position: relative;
	opacity: 0.6;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-weight: 400;
	font-size: 13px;
}

.pp_wrap h2
{
	font-size: 1.7em;
	margin-top: 27px;
	padding-bottom: 5px;
	margin-bottom: 0;
}

.pp_wrap h2 span
{
	font-size :13px;
	margin-left: 10px;
}

.pp_wrap label h2
{
	margin: 0 0 20px 0;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	text-align: left;
	padding-bottom: 20px;
	font-weight: 300;
	border-bottom: 1px solid #d4d4d4;
}

.pp_wrap .nav-tab:first-child
{
	margin-top: 0px;
	border-top: 0;
}

.pp_wrap .nav-tab img
{
	max-width: 16px;
	height: auto;
}

.pp_wrap .nav-tab-active, .pp_wrap .nav-tab:hover
{ 
	background: #fff;
	z-index: 9;
	opacity: 1;
}

.pp_wrap .nav-tab:active
{
	outline: none;
	-moz-outline-style: none;
	opacity: 1;
}

:-moz-any-link:focus {
  outline: none;
}

.pp_wrap
{
	margin: 0;
	border-bottom: 1px solid #ccc;
	background: #f0f0f0;
	float: left;
}

.rm_wrap{
	width: 700px;
	margin: 17px 0 40px 10px;
	border: 1px solid #ccc;
	background: #fff;
	overflow-x: hidden;
}

.header_wrap
{
	padding: 0 20px 0 20px;
	background: #ffffff;
	background-color: rgba(256,256,256, 0.95);
	border-bottom: 1px solid #ddd;
}

.rm_section{
	display: none;
	background: transparent;
}

#pp_panel_general.rm_section {
	display: block;
}

.rm_options
{
	/*background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#ebebeb));
	text-shadow: 0 1px 1px #ffffff;*/
	margin-top: -18px;
}

.rm_opts label{
	font-size:12px;
	font-weight:700;
	width:100%;
	clear:both;
	padding: 0 0 5px 0;
}
.rm_input {
	padding:20px;
}

.rm_opts small{
	display:block;
	width:160px;
	padding: 15px 0 10px 20px;
	float:right;
	color:#999;
	font-size: 11px;
	margin-top: -12px;
	margin-right: 0px;
}
.rm_opts input[type="text"], .rm_opts input[type="password"]{
	width:290px;
	font-size:12px;
	padding:5px;
	float: left;
	border: 1px solid #dddddd;
	background: #f9f9f9;
	margin-top: 5px;
}

.rm_opts input[type="file"]
{
	width: 280px;
}

.rm_opts input[type="file"]#pp_import_current
{
	width: 220px;
	margin-right: 10px;
	background:#f0f0f0;
	padding: 6px;
	margin-top: -1px;
}

.rm_input input:focus, .rm_input textarea:focus, .rm_input input:hover, .rm_input textarea:hover {
    border: 1px solid #ccc;
}
.rm_input textarea{
	width: 290px;
	height: 80px;
	font-size:12px;
	padding:5px;
	border: 1px solid #dddddd;
	background: #f9f9f9;
	margin-top: 5px;
}
.rm_title h3 {
	cursor:pointer;
	font-size:1em;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:14px 4px;
	text-shadow: 0 1px 1px #fff;
}

.rm_title{
	cursor:pointer;
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ebebeb), to(#f9f9f9));
	text-shadow: 0 1px 1px #ffffff;
	display: none;
}

.rm_title h3 img.inactive{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('images/pointer.png') no-repeat 0 0;
	float:left;
	display: none;
}

.rm_title h3 img.active{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('images/pointer.png') no-repeat  0 -32px;
	float:left;
}
		
.rm_title h3:hover img{

}

.rm_title span.submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0;
}

.clearfix{
	clear:both;
}

.rm_table th, .rm_table td{
	border:1px solid #bbb;
	padding:10px;
	text-align:center;
}

.rm_table th, .rm_table td.feature{
	border-color:#888;
	}
	
.rm_list
{
	margin: 20px 0 0 20px;
}

.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
  float: left;
  margin-top: 5px;
   }
  .iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
  .iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iPhoneCheckDisabled {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }

label.iPhoneCheckLabelOn {
  color: white;
  background: url('images/iphone-style-checkboxes/on.png?1282083753') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url('images/iphone-style-checkboxes/off.png?1282083753') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iPhoneCheckLabelOff span {
    padding-right: 8px; }

.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('images/iphone-style-checkboxes/slider_left.png?1282083753') no-repeat;
  padding-left: 3px; }

.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('images/iphone-style-checkboxes/slider_right.png?1282083753') no-repeat right 0; }

.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('images/iphone-style-checkboxes/slider_center.png?1282083753'); }



.jslider .jslider-bg i,
.jslider .jslider-pointer
{ background: url(images/jslider.png) no-repeat 0 0; display: block;  }

.jslider { display: block; width: 100%; height: 1em; position: relative; top: 1.5em; font-family: Arial, sans-serif; margin-bottom: 20px; }
.jslider table { width: 100%; border-collapse: collapse; border: 0; }
.jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

.jslider table,
.jslider table tr,
.jslider table tr td { width: 100%; vertical-align: top; }

.jslider .jslider-bg { position: relative; }
.jslider .jslider-bg i { height: 5px; position: absolute; font-size: 0; top: 0; }
.jslider .jslider-bg .l { width: 50%; background-position: 0 0; left: 0; }
.jslider .jslider-bg .r { width: 50%; left: 50%; background-position: right 0; }
.jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-position: 0 -20px; }

.jslider .jslider-pointer { width: 13px; height: 15px; background-position: 0 -40px; position: absolute; left: 20%; top: -4px; margin-left: -6px; cursor: pointer; cursor: hand; }
.jslider .jslider-pointer-hover { background-position: -20px -40px; }
.jslider .jslider-pointer-to { left: 80%; }

.jslider .jslider-label { font-size: 9px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
.jslider .jslider-label-to { left: auto; right: 0; }

.jslider .jslider-value { font-size: 11px; white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -19px; left: 20%; background: white; line-height: 10px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.jslider .jslider-value-to { left: 80%; }

.jslider .jslider-label small,
.jslider .jslider-value small { position: relative; top: -0.4em; }

.jslider .jslider-scale { position: relative; top: 9px; }
.jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
.jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label
{ display: none; }


  .jslider_blue .jslider-bg i,
  .jslider_blue .jslider-pointer
  { background-image: url(images/jslider.blue.png); }
  
  
  .jslider_round .jslider-bg i,
  .jslider_round .jslider-pointer
  { background-image: url(images/jslider.round.png); }

  .jslider_round .jslider-pointer { width: 17px; height: 17px; top: -6px; margin-left: -8px; }
  
.jslider_round_plastic .jslider-bg i,
  .jslider_round_plastic .jslider-pointer { background-image: url(images/jslider.round.plastic.png); }

  .jslider_round_plastic .jslider-pointer { width: 18px; height: 18px; top: -7px; margin-left: -8px; }
  
  .jslider_plastic .jslider-bg i,
  .jslider_plastic .jslider-pointer { background-image: url(images/jslider.plastic.png); }

input[type="radio"]
{
	vertical-align: top;
	margin-top: 13px;
	margin-right: 5px;
}

.one_half
{
	width: 50%;
	float: left;
	text-align:center;
	margin-bottom: 50px;
}

.one_half.last
{
	margin-right: 0;
}

.one_half img
{
	height: auto;
}

.theme_detail_wrapper
{
	width: 300px;
	margin: auto;
}

.theme_name
{
	float: left;
	width: 150px;
	text-align: left;
}

.theme_buy
{
	float:right;
	width: 150px;
	text-align: right;
}

.theme_title
{
	font-size: 14px;
}

.theme_desc
{
	color: #888;
	font-size: 11px;
}

.pp_sortable, .ppb_sortable, .pp_skin_mgmt 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

.pp_sortable li, .ppb_sortable li, .pp_skin_mgmt li 
{ 
	background: #fff; 
	margin: 5px 0 5px 0;
	padding: 1em; 
	padding-left: 0; 
	padding-right: 0; 
	font-size: 1em; 
	color: #000; 
	cursor: move; 
	border: 1px solid #ddd;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.pp_sortable li
{
	padding: 1em;
}

#content_builder_sort.ppb_sortable li div.thumb
{
	float: left;
	margin-right: 10px;
}

#content_builder_sort.ppb_sortable li div.thumb img
{
	max-height: 30px;
}

#content_builder_sort.ppb_sortable li div.size
{
	float: left;
	height: 34px;
	margin-right: 10px;
	margin-left: 0;
	position: relative;
	top: -8px;
}

#content_builder_sort.ppb_sortable li div.size a.button
{
	line-height: 20px;
	float: none;
	clear: both;
	display: block;
	border-radius: 0;
	width: 25px;
	height: 25px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.pp_sortable li div.title, .pp_skin_mgmt li div.title, .ppb_sortable li div.title
{
	float: left;
	margin-top: 3px;
	max-width: 75%;
	font-weight: bold;
	color: #000;
	font-size: 14px;
	line-height: 26px;
}

.ppb_sortable li .shortcode_title
{
	font-weight: normal;
	color: #999;
	font-size: 10px;
}

.ppb_sortable li .shortcode_title:after
{
	content: " | ";
}

.pp_sortable li a.button, .ppb_sortable li a.button
{
	float: left;
	padding: 3px;
	margin-right: 5px;
	padding: 3px 5px 3px 5px;
	margin-right: 5px;
	line-height: 12px;
	height: 20px;
	line-height: 26px;
}

.pp_sortable li a.ppb_edit, .ppb_sortable li a.ppb_edit
{
	float: right;
	display: block;
	background: #ebebeb;
	width: 60px;
	height: 24px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	margin-left: 5px;
	text-align: center;
	font-weight: normal;
	color: #000;
	line-height: 24px;
	margin-top: 5px;
}

.pp_sortable li a.ppb_edit:hover, .ppb_sortable li a.ppb_edit:hover
{
	opacity: 0.7;
}

.pp_sortable li a.ppb_edit:active, .ppb_sortable li a.ppb_edit:active
{
	outline: none;
}

.pp_sortable li a.ppb_edit:after, .ppb_sortable li a.ppb_edit:after {
   content: "Edit";
}

.pp_sortable li.ppb_divider a.ppb_edit, .ppb_sortable li.ppb_divider a.ppb_edit
{
	display: none;
}

.pp_sortable li a.remove, .pp_skin_mgmt li a.remove, .ppb_sortable li a.remove
{
	float: right;
	display: block;
	background: #e62c22;
	width: 16px;
	height: 16px;
	text-indent: 9999px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	margin-top: 3px;
	margin-left: 5px;
}

.pp_sortable li a.ppb_remove, .ppb_sortable li a.ppb_remove
{
	float: right;
	display: block;
	background: #e62c22;
	width: 16px;
	height: 16px;
	text-indent: 9999px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	margin-top: 8px;
	margin-left: 5px;
}

.pp_sortable li a.ppb_remove:hover, .ppb_sortable li a.ppb_remove:hover
{
	opacity: 0.7;
}

.pp_sortable li a.ppb_unsave, .ppb_sortable li a.ppb_unsave
{
	float: left;
	display: block;
	background: #00a0d2;
	color: #fff;
	margin-left: 10px;
	text-align: center;
	font-weight: normal;
	line-height: 20px;
	margin-top: 7px;
	width: 62px;
	height: 20px;
	font-size: 11px;
}

.pp_sortable li a.ppb_unsave, .ppb_sortable li a.ppb_unsave, .pp_sortable li a.ppb_edit, .ppb_sortable li a.ppb_edit
{
	text-decoration: none;
}

html>body .pp_sortable li, , html>body .pp_skin_mgmt li, html>body .ppb_sortable li { line-height: 1.2em; }
.pp_sortable .ui-state-highlight, .ppb_sortable .ui-state-highlight { height: 1.5em; line-height: 1.2em; background: transparent; border: 1px dashed #888; }

.pp_sortable_wrapper
{
	text-align: center;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	background: #f5f5f5;
	float: left;
}

.pp_sortable_header
{
	padding: 10px;
	text-align: center;
	background: #ebebeb;
	font-weight: bold;
	margin-top: 20px;
}

.pp_checkbox_wrapper
{
	padding: 10px;
	width: 110px;
	float: left;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; 
	background: #f9f9f9;
	border: 1px solid #dddddd;
	font-size: 10px;
}

#content_builder_sort.pp_sortable, #content_builder_sort.ppb_sortable
{
	float: left;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	background: #f5f5f5;
}

#content_builder_sort.pp_sortable.empty, #content_builder_sort.ppb_sortable.empty
{
	display: none;
}

.ppb_inline
{
	width: 100%;
	margin: auto;
	max-height: 90%;
}

.ppb_inline .wrap
{
	width: 100%;
}

.ppb_inline label
{
	font-weight: bold;
	vertical-align: baseline;
	font-size: 12px;
}

.ppb_inline .label_desc
{
	font-size: 10px;
	color: #999;
	margin-top: 7px;
}

.ppb_inline input[type=text], .ppb_inline textarea
{
	width: 99%;
}

.ppb_inline input[type=text].color_picker
{
	width: 95% !important;
}

.ppb_inline input[type=text].ppb_file
{
	display: inline;
	width: 89%;
}

.ppb_inline input[type=range]
{
	width: 600px;
}

output 
{ 
  position: absolute;
  width: 40px; 
  text-align: center; 
  color: #fff; 
  background: #00a0d2;
  border-radius: 3px; 
  display: inline-block; 
  bottom: 18px;
  left: 615px;
  line-height: 30px;
}

.ppb_image_fullwidth_image_button
{
	display: inline;
}

#content_builder_sort.ppb_sortable li
{
	padding-left: 9px;
	padding-right: 9px;
}

#content_builder_sort.ppb_sortable li.one_fourth
{
	width: 25%;
	float: left;
}

#content_builder_sort.ppb_sortable li.one_fourth div.thumb, #content_builder_sort.ppb_sortable li.one_fourth div.title .shortcode_title
{
	display: none;
}

#content_builder_sort.ppb_sortable li.one_half
{
	width: 50%;
	float: left;
}

#content_builder_sort.ppb_sortable li.one_third
{
	width: 33.3%;
	float: left;
}

#content_builder_sort.ppb_sortable li.one_third div.thumb, #content_builder_sort.ppb_sortable li.one_third div.title .shortcode_title
{
	display: none;
}

#content_builder_sort.ppb_sortable li.two_third
{
	width: 66.6%;
	float: left;
}

#content_builder_sort.ppb_sortable li.ppb_divider div.size
{
	display: none;
}

#content_builder_sort.ppb_sortable li.one:hover
{
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.check_thumb
{
	max-width: 100px;
	max-height: 30px;
}

#event_date_raw_wrapper
{
	display: none;
}

.pp_sample_text
{
	margin: 10px 0 10px 0;
	padding: 15px;
	background: #ebebeb;
	font-size: 20px;
	text-align: center;
}

#pp_panel
{
	width: 160px;
	float:left;
	border-right: 1px solid #ddd;
}

.rm_opts
{
	float:left;
	width: 538px;
	background: #fff;
	padding-bottom: 20px;
	margin-top: 0;
	min-height: 760px;
	border-left: 1px solid #ddd;
	margin-left:-1px;
}

.header_wrap input.button, .header_wrap input.button-primary
{

}

#current_sidebar
{
	margin: 15px 0 0 5px;
}

.ver_mid
{
	vertical-align: middle;
	margin: -2px 10px 0 0;
}

#current_sidebar,  #current_ggfont
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 8px;
}

#current_sidebar li,  #current_ggfont li
{ 
	background: #fff; margin: 5px 0 5px 0; padding: 1em; font-size: 1em; color: #000; border: 1px solid #ddd;
}

#current_sidebar li div.title,  #current_ggfont li div.title
{
	float: left;
}

#current_sidebar li .sidebar_del, #current_ggfont li .ggfont_del
{
	float: right;
	display: block;
	background: #e62c22;
	width: 16px;
	height: 16px;
	text-indent: 9999px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

.pp_widget_description
{
	color: #999;
	font-size: 11px;
}

.pp_widget_description strong
{
	color: #444;
}

.pp_widget_hr
{
	border: 0;
	border-top: 1px solid #DFDFDF;;
	border-bottom: 1px solid #fff;
}

#pp_loading
{
	padding: 70px 20px 20px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #464646 url('images/ajax-loader.gif') no-repeat center 30%;
	box-shadow: rgba(0,0,0, 0.4) 0px 0px 5px;  
    -moz-box-shadow: rgba(0,0,0, 0.4) 0px 0px 5px;  
    -webkit-box-shadow: rgba(0,0,0, 0.4) 0px 0px 5px;
	position: fixed;
	top: 40%;
	left: 49%;
	color: #fff;
	text-align: center;
	display: none;
}

#pp_success
{
	padding: 20px 15px 20px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #4db2ec;
	position: fixed;
	top: 40%;
	left: 49%;
	color: #fff;
	text-align: center;
	display: none;
	z-index: 9999;
}

.woocommerce_options_panel label, .woocommerce_options_panel legend
{
	float: none !important;
}

.primary_button
{
	background: #4db2ec !important;
	border: 0 !important;
	color: #fff !important;
	text-shadow: none !important;
	height: 30px !important;
	line-height: 30px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	text-transform: uppercase;
}

.primary_button:active
{
	background: #71d5fe !important;
}

.secondary_button
{
	background: #999 !important;
	border: 0 !important;
	color: #fff !important;
	text-shadow: none !important;
	height: 30px !important;
	line-height: 30px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	text-transform: uppercase;
}

.rm_opts select
{
	min-width: 270px;
	margin-top: 10px;
	background: #fff;
	border: 1px solid #ccc;
}

.icheckbox_flat-green, .iradio_flat-green
{
	float: left;
	margin-right: 8px !important;
}

textarea.blur, input[type=text].blur
{
	color: #ccc;
}

.meta_post_img
{
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.meta_post_img.hidden, .meta_post_img_remove.hidden
{
	display: none;
}

/**
	Demo Styles
**/

.demo_list
{
	list-style: none;
	display: block;
	margin: 15px 0 20px 0;
}

.demo_list > li
{
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	width: 45%;
	margin-right: 3%;
	height: auto;
	overflow: hidden;
	cursor: pointer;
	padding: 2px;
	background: #f9f9f9;
	border-radius: 3px;
}

.demo_list > li.fullwidth
{
	width: 100%;
	margin-right: 0;
}

.demo_list > li.selected, .demo_list > li:hover
{
	background: #0074a2;
}

.demo_list > li img
{
	max-width: 100%;
	height: auto;
	line-height: 0;
}

.demo_list > li.selected img
{
	opacity: 1;
}

.demo_list > li .item_content_wrapper
{
	display: table;
	width: 100%;
	height: 100px;
}

.demo_list > li .item_content_wrapper .item_content
{
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.demo_list > li .item_content_wrapper .item_content .item_thumb
{
	float: left;
	margin-right: 5%;
	width: 30%;
}

.demo_list > li .item_content_wrapper .item_content .item_thumb img
{
	max-width: 100%;
	height: auto;
}

.demo_list li > .item_content_wrapper .item_content .item_content
{
	float: right;
	width: 65%;
	text-align: left;
}

.demo_list > li.selected .item_content_wrapper .item_content, .demo_list > li:hover .item_content_wrapper .item_content, .demo_list > li.selected .item_content_wrapper .item_content a, .demo_list > li:hover .item_content_wrapper .item_content a
{
	color: #fff;
}

.meta_date_raw
{
	display: none;
}

#ppb_module_wrapper
{
	list-style: none;
	width: 100%;
	margin-top: 20px;
}

#ppb_module_wrapper li
{
	width: 79px;
	height:130px;
	vertical-align: top;
	margin: 0;
	padding: 3px;
	display: inline-block;
	border: 1px solid #fff;
	cursor: pointer;
	text-align: center;
	font-size: 8px;
	
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#ppb_module_wrapper li:hover
{
	border-color: #e1e1e1;
}

#ppb_module_wrapper li img
{
	width: 79px;
	height: 79px;
}

#ppb_module_wrapper li .builder_page_icon
{
	width: 77px;
	height: 77px;
	background: #f0f0f0;
	border: 1px solid #ebebeb;
}

#ppb_module_wrapper li .builder_page_icon span.dashicons
{
	line-height: 77px;
	font-size: 24px;
	color: #777;
}

#ppb_module_wrapper li.selected
{
	border-color: #000;
}

#ppb_sortable_add_button
{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	height: 44px;
	line-height: 42px;
	border-radius: 0;
	border: 0;
	box-shadow: 0 0 0 0;
	margin-left: 0 !important;
	margin-bottom: 5px;
}

.tipsy-inner:empty { display: none !important; }
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
  
.ui-tabs .ui-tabs-nav li
{
	background: #f0f0f0;
	margin: 0;
	border: 1px solid #e1e1e1 !important;
	padding-top: 2px;
	top: 1px;
}

#ppb_tab .ui-widget-header
{
	border-bottom: 1px solid #e1e1e1;
}

#ppb_tab.ui-tabs .ui-tabs-nav li
{
	top: 2px;
}

.vertical.ui-tabs .ui-tabs-nav li
{
	width: 100%;
	clear: both;
}

.ui-tabs .ui-tabs-nav li:hover
{
	background: #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
	border: 1px solid #e1e1e1;
	border-top: 3px solid #e1e1e1;
}

.ui-tabs .ui-tabs-nav li.ui-state-active
{
	background: #fff !important;
	border-bottom: 1px solid #fff !important;
	outline: none;
	position: relative;
	z-index: 9;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a
{
	outline: none;
}

.ui-tabs .ui-tabs-nav li a 
{
	padding: 8px 20px 7px 20px;
	outline: none;
}

.tabs .ui-tabs .ui-tabs-nav li
{
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	display: block;	
}

.tabs .ui-tabs-panel
{
	border: 1px solid #e1e1e1;
	border-top: 0;
	margin:0;
	padding-top: 0em;
	background: #fff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	z-index: 2;
	position: relative;
}

.tabs .ui-state-active a
{
	color: #333;
	font-weight: bold;
}

.ui-tabs.vertical li:first-child
{
	margin-left: 0;
}

#ppb_tab.ui-tabs .ui-tabs-panel
{
	padding: 0.5em;
}

.import_message, .update_message
{
	text-align: center;
	display: none;
}

.import_message_success, .update_message_success
{
	color: #6a863b;
}

.ppb_inline_wrap
{
	margin: 0;
	width: 100%;
	max-width: 700px;
	background: #ebebeb;
	float: left;
	position: fixed;
	z-index: 9;
	top: 30px;
}

.ppb_inline_wrap h2
{
	font-size: 16px;
	font-weight: 600;
	display: block;
	float: left;
	width: 50%;
	padding-left: 20px;
}

.ppb_inline_option_wrap
{
	width: 100%;
	padding: 60px 20px 0 20px;
	box-sizing: border-box;
}

.ppb_inline_option
{
	margin-bottom: 5px;
	position: relative;
}

.ppb_inline_wrap h2
{
	float: left;
}

.ppb_inline_wrap .ppb_inline_save, .ppb_inline_wrap .button
{
	float: right;
	min-height: 44px;
	border-radius: 0;
	line-height: 44px;
	border: 0;
	box-shadow: 0 0 0 0;
	width: 22%;
	text-align: center;
	font-weight: 600;
}

.ppb_file_image
{
	max-height: 200px;
	display: block;
	margin: 5px 0 5px 0;
}

.ppb_inline_option select
{
	width: 100%;
}

.ppb_inline_option[type=text] .color_picker
{
	width: 94.5%;
}

body.wp-customizer #customize-theme-controls .control-section.open .accordion-section-title, #customize-theme-controls .control-section.open .accordion-section-title:after {
  color: #fff !important;
}

.customize-control-image img
{
	width: auto;
}

#customize-controls .description
{
	color: #999;
	font-size: 11px;
	font-style: normal;
}

.customize-control-checkbox label
{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 24px;
}

.customize-control select
{
	margin-bottom: 15px;
}

.customize-control-radio-buttonset label.ui-state-active
{
	color: #fff !important;
}

.tg_system_status_wrapper
{
	background: #f9f9f9;
	padding: 20px;
	margin-bottom: 20px;
}

.tg_system_status_wrapper h4
{
	margin: 0;
}

.tg_system_status_wrapper > div
{
	color: #7ad03a;
	font-weight: bold;
}

.tg_system_status_wrapper > div:before
{
	font-family: 'FontAwesome';
	content: "\f00c";
	margin-right: 5px;
}

.tg_system_status_wrapper > div.tg_error, .tg_system_status_wrapper span.tg_error
{
	color: #dd3d36;
	font-weight: bold;
}

.tg_system_status_wrapper > div.tg_error:before
{
	font-family: 'FontAwesome';
	content: "\f12a";
	margin-right: 5px;
}

/**
*
* Some content builder modules which are not support multiple size
*
**/
#content_builder_sort.ppb_sortable li.ppb_text_sidebar div.size, 
#content_builder_sort.ppb_sortable li.ppb_image_fullwidth div.size,
#content_builder_sort.ppb_sortable li.ppb_image_parallax div.size,
#content_builder_sort.ppb_sortable li.ppb_content_half_bg div.size,
#content_builder_sort.ppb_sortable li.ppb_image_half_fixed_width div.size,
#content_builder_sort.ppb_sortable li.ppb_image_half_fullwidth div.size,
#content_builder_sort.ppb_sortable li.ppb_fullwidth_button div.size,
#content_builder_sort.ppb_sortable li.ppb_gallery_slider div.size,
#content_builder_sort.ppb_sortable li.ppb_gallery_grid div.size,
#content_builder_sort.ppb_sortable li.ppb_gallery_masonry div.size,
#content_builder_sort.ppb_sortable li.ppb_portfolio_classic div.size,
#content_builder_sort.ppb_sortable li.ppb_portfolio_classic_masonry div.size,
#content_builder_sort.ppb_sortable li.ppb_portfolio_grid div.size, 
#content_builder_sort.ppb_sortable li.ppb_portfolio_grid_masonry div.size,
#content_builder_sort.ppb_sortable li.ppb_blog_grid div.size,
#content_builder_sort.ppb_sortable li.ppb_team_column div.size,
#content_builder_sort.ppb_sortable li.ppb_client_slider div.size, 
#content_builder_sort.ppb_sortable li.ppb_testimonial_column div.size,
#content_builder_sort.ppb_sortable li.ppb_pricing div.size,
#content_builder_sort.ppb_sortable li.ppb_contact_map div.size,
#content_builder_sort.ppb_sortable li.ppb_contact_sidebar div.size,
#content_builder_sort.ppb_sortable li.ppb_map div.size,
#content_builder_sort.ppb_sortable li.ppb_revslider div.size
{
	display: none !important;
}

#adminmenuwrap
{
	z-index: 999;
}

/**
*
* Custom CSS for handle post options box
*
**/
#post_option_portfolio_video_id, #post_option_portfolio_mp4_url, #post_option_portfolio_link_url
{
	display: none;
}

#post_option_post_ft_gallery, #post_option_post_ft_vimeo, #post_option_post_ft_youtube
{
	display: none;
}