/*
 * BuddyPress specific CSS
 *
 * @package BuddyPress
 * @subpackage Monarch
 */

/*
  ========================================
  Main
  ========================================
*/

.post-wrap.buddypress #buddypress                                    { position: relative; }

.bp-user .content.buddypress #buddypress,
.groups .content.buddypress #buddypress                              { position: static; }
.directory.groups .content.buddypress #buddypress                    { position: relative; }

.directory.activity .page-header.buddypress,
.group-create .post-wrap.buddypress .timeline-badge,
.group-create .post-wrap.buddypress .timeline,
.group-home .post-wrap.buddypress .timeline-badge,
.group-home .post-wrap.buddypress .timeline,
.bp-user .post-wrap.buddypress .timeline-badge,
.bp-user .post-wrap.buddypress .timeline                             { display: none; }

.directory.groups .content.buddypress,
.bp-user.activity-permalink .content.buddypress,
.bp-user .buddypress .sidebar                                        { padding-top: 0; }

.media .post-wrap.buddypress,
.single-item.groups .post-wrap.buddypress,
.group-create .post-wrap.buddypress,
.group-home .post-wrap.buddypress,
.bp-user .post-wrap.buddypress                                       { margin-left: 15px; }

.timeline-wrapper                                                    { position: relative; }

.bp-user .content.buddypress .main,
.group-home .content.buddypress .main                                { position: static; }

.bp-avatar-nav,
.cover-image-container #item-header-content #latest-update a,
.current-visibility-level,
.drag-drop .drag-drop-inside p.drag-drop-info,
.widget.buddypress .bp-login-widget-user-link a,
.widget.widget_bp_core_friends_widget .item-list li .item-title a,
.widget.widget_bp_core_members_widget .item-list li .item-title a,
.widget.widget_bp_core_members_widget .item-options a,
.widget.widget_bp_groups_widget .item-list li .item-title a,
.widget.widget_bp_core_friends_widget .item-options a,
.widget.widget_bp_groups_widget .item-options a,
body .rtmedia-container .drag-drop-inside p.drag-drop-info,
body .rtmedia-container .rtm-album-privacy label,
body .rtmedia-container .rtm-album-privacy label,
body .rtmedia-container .rtm-user-meta-details .username,
body .rtmedia-container .rtmedia-uploader .drag-drop .drag-drop-info,
body.buddypress div#buddydrive-main #buddydrive-uploader .drag-drop-inside p.drag-drop-info,
body.buddypress div#buddydrive-main ul.subsubsub li a,
#buddypress #friend-list li .action,
#buddypress #friend-list li .item-title a,
#buddypress #friend-list li h4 a,
#buddypress #member-list li .action,
#buddypress #member-list li h5 a,
#buddypress #whats-new-form p.activity-greeting,
#buddypress .activity-comments .ac-reply-content a,
#buddypress .activity-comments .ac-reply-content a,
#buddypress .activity-comments .acomment-meta a,
#buddypress .activity-list .activity-header p a,
#buddypress .item-list-tabs ul li > span,
#buddypress .item-list-tabs ul li a,
#buddypress .masonry li .item-title a,
#buddypress .masonry li .item-title a,
#buddypress .standard-form h5 > a,
#buddypress .standard-form label,
#buddypress .standard-form span.label,
#buddypress .standard-form#settings-form,
#buddypress li span.unread-count,
#buddypress span.user-nicename,
#buddypress table#message-threads tr.unread td,
#buddypress table.forum tr td.label,
#buddypress table.messages-notices tr td.label,
#buddypress table.notifications tr td.label,
#buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label,
#buddypress table.wp-profile-fields tr td.label,
#buddypress tr.unread span.unread-count,
#buddypress ul.button-nav li.current a                               { font-weight: bold; }

/*
  ========================================
  BuddyPress Cover
  ========================================
*/

.cover                                                               { background: #fff; padding-bottom: 75px; }
.cover-image-container                                               { z-index: 1; position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 290px; width: 100%; overflow: hidden; }
.cover-image-container::before                                       { z-index: 2; content: ""; background-position: bottom left; background-repeat: repeat; display: block; width: 100%; height: 100%; -webkit-transition: all .8s ease; -moz-transition: all .8s ease; -o-transition: all .8s ease; transition: all .8s ease; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYmBg+A8EDExAghHIYQAIMABHBgb/XZ4CjwAAAABJRU5ErkJggg==); position: absolute; top: 0; left: 0; }

.cover-image-container .item-list-tabs-bg                            { background: rgba(0, 0, 0, 0.6); height: 90px; width: 100%; margin-top: 200px; z-index: 3; position: relative; padding: 20px 20px 20px 40px; }
.cover-image-container #message                                      { z-index: 5; margin: 10px; position: absolute; right: 0; top: -190px; width: 500px; opacity: 0.9; }
.cover-image-container #item-header-avatar                           { z-index: 4; float: left; width: 140px; bottom: 90px; position: relative; left: 0; }
.cover-image-container #item-header-avatar a                         { display: block; border: 4px solid #fff; }
.cover-image-container #item-header-avatar a img                     { width: 100%; display: block; height: auto; }

.cover-image-container #item-header-content                          { z-index: 4; margin: 0 0 0 160px; }
.cover-image-container #item-header-content .name                    { max-height: 25px; overflow: hidden; } 
.cover-image-container #item-header-content h2                       { color: #fff; margin: 0; font-size: 20px; display: inline-block; }
.cover-image-container #item-header-content h2 a                     { color: #fff; }
.cover-image-container #item-header-content h2 a:hover               { color: #ccc; text-decoration: none; }
.cover-image-container #item-header-content span.activity            { color: #fff; font-size: 12px; margin-left: 5px; }
.cover-image-container #item-header-content #latest-update           { color: #fff; font-size: 14px; height: 30px; }
.cover-image-container #item-header-content #latest-update a         { }
.cover-image-container #item-header-content #latest-update .text a   { float: left; }
.cover-image-container #item-header-content #item-meta               { height: 30px; }
.bp-user .cover-image-container #item-header-content #item-meta      { overflow: hidden; }
.cover-image-container #item-header-content #cutLongText             { display: inline-block; }
.cover-image-container #item-header-content .text                    { display: inline-block; color: transparent; margin-left: 5px; overflow: hidden; letter-spacing: -9999px; }
.cover-image-container #item-header-content .text img                { display: none!important; }
.cover-image-container #item-header-content .text a                  { letter-spacing: normal; }
.cover-image-container #item-header-content #latest-update i         { font-size: 16px; width: 22px; top: 2px; margin: 0 5px; position: relative; height: 22px; }
.cover-image-container #item-header-content #item-meta #cutLongText  { height: 30px; float: left; }

.cover-image-container #item-actions                                 { z-index: 5; position: absolute; top: -50px; right: 50px; opacity: 0.8; }
.cover-image-container #item-actions:hover                           { opacity: 0.9; }
.cover-image-container #item-actions h3                              { color: #fff; margin: 10px; font-size: 14px; display: block; float: left; }
.cover-image-container #item-actions ul                              { margin: 0; list-style-type: none; padding: 0; display: block; float: left; }
.cover-image-container #item-actions ul li                           { margin: 0 5px 0 0; padding: 0; float: left; }
.cover-image-container #item-actions ul li a                         { display: block; border: 3px solid #fff; }
.cover-image-container #item-actions ul li a img                     { width: 30px; height: 30px; }
.cover-image-container #item-buttons                                 { position: absolute; bottom: 95px; z-index: 5; left: 200px; }
.cover-image-container #item-buttons .generic-button                 { float: left; }
.cover-image-container #item-buttons .generic-button a               { border-color: #fff; background-color: rgba(0, 0, 0, 0.6); color: #fff; border-style: solid; border-width: 1px; min-height: 30px; line-height: 30px; text-transform: uppercase; padding: 0 12px; margin: 0 5px 10px 0; }
.cover-image-container #item-buttons .generic-button a:hover         { background-color: rgba(0, 0, 0, 0.54); opacity: 0.9; }

div#popover-groupdescr                                               { border-radius: 0; bottom: 35px; top: auto; max-height: 230px; left: -25px; right: 0; background-color: #fff; color: #000; border: 1px solid #181818; opacity: 1; min-width: 450px; }

.cover-image-container #item-header-content .popover.show            { display: block; }
.cover-image-container #item-header-content .popover-content         { font-size: 13px; line-height: 1.9; max-height: 180px; margin: 25px 25px 20px; padding: 0; overflow: hidden; }
.cover-image-container #item-header-content .popover.top .arrow      { left: 35px; }
.cover-image-container #item-header-content .popover.top > .arrow:after   { border-top-color: #fff; bottom: 2px; }
.cover-image-container #item-header-content .popover.top > .arrow::before { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 10px; bottom: 0px; margin-left: -10px; content: ""; border-bottom-width: 0; border-top-color: #181818; }
.cover-image-container #item-header-content p:last-child             { margin-bottom: 0; }
.cover-image-container #item-header-content .popover-overlay         { position: relative; display: inline-block; }

/* flexMenu */
.cover .item-list-tabs ul li ul.flexMenu-popup                       { padding-top: 10px; }
.cover .item-list-tabs ul li.flexMenu-allInPopup ul.flexMenu-popup   { right: -50px; }

/*
  ========================================
  BuddyPress Cover Navigation
  ========================================
*/

.cover .item-list-tabs                                               { z-index: 30; position: absolute; top: 210px; right: 35px; margin-left: 420px; }
.cover .item-list-tabs::before,
.cover .item-list-tabs::after                                        { display: table; content: " "; }
.cover .item-list-tabs::after                                        { clear: both; }
.cover .item-list-tabs ul                                            { float: right; }
.cover .item-list-tabs ul li                                         { margin: 0px 5px 5px; }
.cover .item-list-tabs ul li a                                       { color: rgba(255, 255, 255, 0.9); background: rgba(0, 0, 0, 0.2); font-size: 11px; border-radius: 0; text-transform: uppercase; padding: 9px 15px; }
.cover .item-list-tabs ul li a:focus,
.cover .item-list-tabs ul li a:hover                                 { background: rgba(255, 255, 255, 0.1); }
.cover .item-list-tabs ul li a span                                  { top: 0; right: 0; padding: 4px; line-height: 1; letter-spacing: normal; background: transparent; color: rgba(255, 255, 255, 0.9); border-color: transparent; position: absolute; }
.cover .item-list-tabs ul li a::after                                { content: none; }
.cover .item-list-tabs ul li a::before                               { display: block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; font-size: 30px; content: "\f3e8"; }
.cover .item-list-tabs ul li#activity-personal-li a::before          { content: "\f42b"; }
.cover .item-list-tabs ul li#xprofile-personal-li a::before          { content: "\f3a0"; }
.cover .item-list-tabs ul li#notifications-personal-li a::before     { content: "\f39b"; }
.cover .item-list-tabs ul li#messages-personal-li a::before          { content: "\f132"; }
.cover .item-list-tabs ul li#friends-personal-li a::before           { content: "\f47a"; }
.cover .item-list-tabs ul li#groups-personal-li a::before            { content: "\f3ea"; }
.cover .item-list-tabs ul li#settings-personal-li a::before          { content: "\f13e"; }
.cover .item-list-tabs ul li#admin-groups-li a::before               { content: "\f2ba"; }
.cover .item-list-tabs ul li#invite-groups-li a::before              { content: "\f2f6"; }
.cover .item-list-tabs ul li#invite-groups-li a::before              { content: "\f2f6"; }
.cover .item-list-tabs ul li#rtmedia-media-nav-groups-li a::before   { content: "\f2f0"; }
.cover .item-list-tabs ul li#media-groups-li a::before               { content: "\f2f0"; }
.cover .item-list-tabs ul li#members-groups-li a::before             { content: "\f47c"; }
.cover .item-list-tabs ul li#home-groups-li a::before                { content: "\f448"; }
.cover .item-list-tabs ul li#forums-personal-li a::before            { content: "\f11a"; }
.cover .item-list-tabs ul li#nav-forum-groups-li a::before           { content: "\f11a"; }
.cover .item-list-tabs ul li#groups-my-groups-groups-li a::before    { content: "\f3ea"; }
.cover .item-list-tabs ul li#invites-groups-li a::before             { content: "\f211"; }
.cover .item-list-tabs ul li#media-personal-li a::before             { content: "\f2f0"; }
.cover .item-list-tabs ul li[id*="buddydrive-"] a::before            { content: "\f2c9"; }
.cover .item-list-tabs ul li#articles-personal-li a::before          { content: "\f3e8"; }
.cover .item-list-tabs ul li.flexMenu-viewMore a::before             { content: "\f394"; }

/*
  ========================================
  Pagination
  ========================================
*/

#buddypress noscript .pagination                                     { margin-bottom: 15px }
#buddypress #nav-above                                               { display: none }
#buddypress .paged #nav-above                                        { display: block }

/*
  ========================================
  Images
  ========================================
*/

#buddypress img.wp-smiley                                            { border: none; clear: none; float: none; margin: 0; padding: 0; }
#buddypress .clear                                                   { clear: left; }

/*
  ========================================
  Activity
  ========================================
*/

#buddypress #activity-stream                                         { overflow: hidden; }
#buddypress .home-page #whats-new-form                               { border-bottom: none; padding-bottom: 0; }
#buddypress #whats-new-form #whats-new-avatar                        { float: left; display: block; position: relative; z-index: 5; margin: 15px 0 0 0; padding: 10px; }
#buddypress #whats-new-form #whats-new-avatar::before                { content: ""; position: absolute; display: block; width: 50px; height: 85px; top: -5px; left: 0; z-index: 0; }
#buddypress #whats-new-form #whats-new-content                       { padding: 10px 0 15px 80px; }
#buddypress #whats-new-form p.activity-greeting                      { margin: 0 0 0 80px; color: #555; }
body.no-js #buddypress #whats-new-form textarea                      { height: 50px; }
body #buddypress form#whats-new-form #whats-new-options select       { max-width: 200px; margin: 15px 0 0; -webkit-box-shadow: 0 0 0 3px rgba(216, 216, 216, 0.1); box-shadow: 0 0 0 3px rgba(216, 216, 216, 0.1); border: 1px solid #E7E7E7; }
#buddypress #whats-new-form #whats-new-submit                        { float: right; margin-top: 12px!important; }
#buddypress #whats-new-options                                       { overflow: visible; height: 0; }
body.no-js #buddypress #whats-new-options                            { height: auto }
#buddypress #whats-new-form                                          { position: relative; }
#buddypress #whats-new-form::before                                  { content: ""; width: 7px; height: 100%; background: #fff; position: absolute; left: 35px; top: 0; }
#buddypress #whats-new-form::after                                   { clear: both; display: table; content: ""; }
#buddypress #whats-new-form #message                                 { display: block; margin: 0 0 30px 75px; }
#buddypress #whats-new-form #whats-new-avatar a                      { display: block; position: relative; z-index: 1; }
#buddypress #whats-new-form #whats-new-avatar img                    { width: 55px; height: 55px; border: 5px solid #fff; } 

/*
  ========================================
  Directories - Members, Groups, Blogs, Forums
  ========================================
*/

#buddypress .current-member-type                                     { font-style: italic; }
#buddypress .dir-form                                                { clear: both; }

/*
  ========================================
  Errors / Success Messages
  ========================================
*/

#buddypress #pass-strength-result                                    { display: none; }
#buddypress #pass-strength-result.error,
#buddypress #pass-strength-result.bad                                { display: block; margin: 14px 5px 20px 0; }
#buddypress #pass-strength-result.good                               { display: block; margin: 14px 5px 20px 0; }
#buddypress #pass-strength-result.short                              { display: block; margin: 15px 0 20px 0; }
#buddypress #pass-strength-result.strong                             { display: block; margin: 14px 5px 20px 0; }

#buddypress .accept,
#buddypress .reject                                                  { float: left; margin-left: 10px; }
#buddypress ul.button-nav li                                         { float: left; margin: 0 10px 10px 0; list-style: none; }
#buddypress ul.button-nav li.current a                               { }
#sitewide-notice #message                                            { left: 2%; position: fixed; top: 1em; width: 96%; z-index: 9999; }
#sitewide-notice.admin-bar-on #message                               { top: 3.3em }
#sitewide-notice strong                                              { display: block; margin-bottom: -1em; }

#buddypress .notifications,
#buddypress .standard-form                                           { background: #fff; padding: 25px 40px; font-size: 12px; margin: 0 0 15px; }
#buddypress .notifications::before,
#buddypress .standard-form::before                                   { content: ""; display: table; }
#buddypress .standard-form::after                                    { content: ""; display: table; clear: both; }

#buddypress .standard-form .bp-widget h4                             { border-bottom: 1px dashed #ccc; padding-bottom: 10px; margin-bottom: 20px; }

/*
  ========================================
  Forms
  ========================================
*/

#buddypress .standard-form input[type=password]                      { margin-bottom: 5px }
#buddypress .standard-form label,
#buddypress .standard-form span.label                                { display: block; margin: 15px 0 10px 0; width: auto; padding: 0; }
#buddypress .standard-form p label,
#buddypress .standard-form #invite-list label                        { font-weight: normal; margin: auto; }
#buddypress .standard-form .checkbox label:nth-child(n+2),
#buddypress .standard-form .radio div label                          { color: #888; font-weight: normal; margin: 5px 0 0 0; }
#buddypress .standard-form#sidebar-login-form label                  { margin-top: 5px; }
#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password]   { padding: 4px; width: 95%; }
#buddypress .standard-form#signup_form .submit                       { float: right; }
#buddypress #signup-avatar img                                       { margin: 0 15px 10px 0; }
#buddypress .standard-form textarea                                  { height: 120px; width: 75%; }
#buddypress .standard-form textarea.wp-editor-area                   { width: 100%; border-radius: 0; }
#buddypress .standard-form textarea#message_content                  { height: 200px; }
#buddypress .standard-form#send-reply textarea                       { width: 97.5%; }
#buddypress .standard-form p.description                             { color: #888; margin: 5px 0; }
#buddypress .standard-form .submit                                   { clear: both; padding: 15px 0 0 0; }
#buddypress .standard-form p.submit                                  { margin-bottom: 0; padding: 15px 0 0 0; }
#buddypress .standard-form .submit input                             { margin-right: 15px; }
#buddypress .standard-form .radio ul                                 { margin: 10px 0 15px 38px; list-style: disc; font-weight: normal; }
#buddypress .standard-form .radio ul li                              { margin-bottom: 5px; }
#buddypress .standard-form a.clear-value                             { display: block; margin-top: 5px; }

#buddypress .standard-form #basic-details-section .error,
#buddypress .standard-form #blog-details-section .error,
#buddypress .standard-form #profile-details-section .error           { margin: 0 0 10px!important; }

#buddypress .standard-form h4                                        { margin: 10px 0 25px; }
#buddypress .standard-form #blog-details-section,
#buddypress #notifications-bulk-management                           { clear: left; }
body.no-js #buddypress #notifications-bulk-management #select-all-notifications,
body.no-js #buddypress label[for="message-type-select"],
body.no-js #buddypress #message-type-select,
body.no-js #buddypress #delete_inbox_messages,
body.no-js #buddypress #delete_sentbox_messages,
body.no-js #buddypress #messages-bulk-management #select-all-messages{ display: none; }
#buddypress form#send-invite-form                                    { margin-top: 20px; }
#buddypress #invite-list                                             { margin: 0 0 10px; overflow: auto; width: 215px; border-right: 1px solid rgba(0, 0, 0, 0.07); padding-right: 10px; }

#buddypress .standard-form .left-menu                                { float: left; }
#buddypress .standard-form .left-menu #invite-list ul                { list-style: none; margin: 0; padding: 0; }
#buddypress .standard-form .left-menu #invite-list ul li             { margin: 0 0 0 1%; width: 100%; height: 60px; }
#buddypress .standard-form .main-column                              { margin-left: 245px; }
#buddypress .standard-form .main-column ul#friend-list               { clear: none; float: left; }
#buddypress .standard-form .main-column ul#friend-list h4            { clear: none; }

#buddypress .standard-form .pagination .pagination-links span,
#buddypress .standard-form .pagination .pagination-links a           { background: #eee; }

/* Overrides for embedded WP editors */
#buddypress .wp-editor-wrap a.button,
#buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=submit],
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset]                        { padding: 0 10px 1px; color: #3A4145; background-color: transparent; -webkit-box-shadow: none; box-shadow: none; border: 0; height: 40px; }

#buddypress .wp-editor-wrap a.button:focus,
#buddypress .wp-editor-wrap button:focus,
#buddypress .wp-editor-wrap input[type=submit]:focus,
#buddypress .wp-editor-wrap input[type=button]:focus,
#buddypress .wp-editor-wrap input[type=reset]:focus,
#buddypress .wp-editor-wrap a.button:hover,
#buddypress .wp-editor-wrap button:hover,
#buddypress .wp-editor-wrap input[type=submit]:hover,
#buddypress .wp-editor-wrap input[type=button]:hover,
#buddypress .wp-editor-wrap input[type=reset]:hover                  { color: #3A4145; background: transparent; -webkit-box-shadow: none; box-shadow: none; border: 0; }

.register #buddypress .wp-editor-wrap button                         { color: #666; }
.register #buddypress .wp-editor-wrap button:hover                   { color: #eee; }

/* Form classes & generic attr styling */
.bp-screen-reader-text                                               { position: absolute; margin: -1px; padding: 0; height: 1px; width: 1px; overflow: hidden; clip: rect(0 0 0 0); border: 0; word-wrap: normal !important; }

/*
  ========================================
  Forums, Tables and Topics
  ========================================
*/

#buddypress #topic-post-list                                         { margin: 0; width: auto; }
#buddypress #topic-post-list li                                      { padding: 15px; position: relative; }
#buddypress #topic-post-list li.alt                                  { background: #f5f5f5 }
#buddypress #topic-post-list li .poster-meta                         { color: #888; margin-bottom: 10px; }
#buddypress #topic-post-list li .post-content                        { margin-left: 54px }
#buddypress .admin-links                                             { color: #888; position: absolute; top: 15px; right: 25px; }
#buddypress #topic-meta                                              { margin: 0; padding: 5px 19px 30px; position: relative; }
#buddypress #topic-meta .admin-links                                 { right: 19px; top: -36px; }
#buddypress #topic-meta h3                                           { margin: 5px 0 }
#buddypress #new-topic-post                                          { display: none; margin: 20px 0 0 0; padding: 1px 0 0 0; }
#buddypress table.notifications,
#buddypress table.notifications-settings,
#buddypress table.profile-settings,
#buddypress table.profile-fields,
#buddypress table.wp-profile-fields,
#buddypress table.messages-notices,
#buddypress table.forum                                               { width: 100% }
#buddypress table.notifications thead tr,
#buddypress table.notifications-settings thead tr,
#buddypress table.profile-settings thead tr,
#buddypress table.profile-fields thead tr,
#buddypress table.wp-profile-fields thead tr,
#buddypress table.messages-notices thead tr,
#buddypress table.forum thead tr                                     { background: #fff; }
#buddypress table#message-threads                                    { clear: both; background-color: #fff; }
#buddypress table.profile-fields                                     { margin-bottom: 20px }
#buddypress table.profile-fields:last-child                          { margin-bottom: 0 }
#buddypress table.profile-fields p                                   { margin: 0 }
#buddypress table.profile-fields p:last-child                        { margin-top: 0 }
#buddypress table.notifications tr td,
#buddypress table.notifications-settings tr td,
#buddypress table.profile-settings tr td,
#buddypress table.profile-fields tr td,
#buddypress table.wp-profile-fields tr td,
#buddypress table.messages-notices tr td,
#buddypress table.forum tr td,
#buddypress table.notifications tr th,
#buddypress table.notifications-settings tr th,
#buddypress table.profile-fields tr th,
#buddypress table.wp-profile-fields tr th,
#buddypress table.messages-notices tr th,
#buddypress table.forum tr th                                        { padding: 8px; vertical-align: middle; border: 1px solid #F7F7F7; }
#buddypress table.notifications tr td.label,
#buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label,
#buddypress table.wp-profile-fields tr td.label,
#buddypress table.messages-notices tr td.label,
#buddypress table.forum tr td.label                                  { width: 25%; border-right: 1px solid #f7f7f7; }
#buddypress #message-threads .thread-info                            { min-width: 40% }
#buddypress table tr td.thread-info p                                { margin: 0 }
#buddypress table tr td.thread-info p.thread-excerpt                 { color: #888; margin-top: 3px; }
#buddypress table.forum td                                           { text-align: center }
#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.forum tr.alt td                                    { background: #FBFBFB }
#buddypress table.notification-settings                              { margin-bottom: 20px; text-align: left; }
#buddypress #groups-notification-settings                            { margin-bottom: 0 }
#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child               { display: none }
#buddypress table.notification-settings th.title,
#buddypress table.profile-settings th.title                          { width: 80%; padding: 10px; }
#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no                          { text-align: center; width: 40px; }
#buddypress table.forum                                              { margin: 0; width: auto; clear: both; }
#buddypress table.forum tr.sticky td                                 { background: #fff9db; border-top: 1px solid #ffe8c4; border-bottom: 1px solid #ffe8c4; }
#buddypress table.forum tr.closed td.td-title                        { padding-left: 35px }
#buddypress table.forum td p.topic-text                              { color: #888; }
#buddypress table.forum tr > td:first-child,
#buddypress table.forum tr > th:first-child                          { padding-left: 15px }
#buddypress table.forum tr > td:last-child,
#buddypress table.forum tr > th:last-child                           { padding-right: 15px }
#buddypress table.forum tr th#th-title,
#buddypress table.forum tr th#th-poster,
#buddypress table.forum tr th#th-group,
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group,
#buddypress table.forum td.td-title                                  { text-align: left }
#buddypress table.forum td.td-freshness                              { white-space: nowrap }
#buddypress table.forum td.td-freshness span.time-since              { color: #888; }
#buddypress table.forum td img.avatar                                { float: none; margin: 0 5px -8px 0; }
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group                                  { min-width: 140px }
#buddypress table.forum th#th-title                                  { width: 80% }
#buddypress table.forum th#th-freshness                              { width: 25% }
#buddypress table.forum th#th-postcount                              { width: 15% }
#buddypress table.forum p.topic-meta                                 { margin: 5px 0 0 0; }

/*
  ========================================
  BuddyPress Profile Settings
  ========================================
*/

#buddypress #item-body div.profile                                   { padding: 20px 35px 35px; background-color: #fff; margin-bottom: 15px; }
#buddypress #item-body div.profile #profile-edit-form                { border: 0; }
#buddypress .standard-form#settings-form                             { color: #2f2f2f; }
#buddypress .standard-form#settings-form td                          { font-weight: normal; font-size: 12px; }

#buddypress #item-body div.profile .datebox select                   { width: 30%; min-width: auto; max-width: 120px; margin: 0 15px 15px 0; }

#buddypress .notifications,
#buddypress .standard-form                                           { font-size: 12px; background: #fff; padding: 25px 40px; }
#buddypress #signup_.standard-form                                   { font-size: 12px; }
#buddypress .profile .bp-widget                                      { font-size: 11px; }
#buddypress .profile .label                                          { color: #333; display: table-cell; }
#buddypress .profile h4                                              { margin-bottom: 15px; }
#buddypress .notifications tbody tr,
#buddypress .profile tbody tr                                        { border: 1px solid #eee; }
#buddypress .notifications td,
#buddypress .profile td                                              { padding: 8px; }

#buddypress .standard-form h5                                        { margin-top: 8px; margin-bottom: 8px; }
#buddypress .standard-form h5 > a                                    { font-size: 14px; color: #333; }
#buddypress .standard-form hr                                        { border-top: 1px dashed #E4E4E4; }
#buddypress .standard-form label,
#buddypress .standard-form span.label                                { color: #2f2f2f; }
#buddypress .standard-form .pagination                               { padding: 0; }

/*
  ========================================
  Private Messaging Threads
  ========================================
*/

#buddypress table#message-threads tr.unread td                       { background: #fff9db; border-top: 1px solid #ffe8c4; border-bottom: 1px solid #ffe8c4; }
#buddypress table#message-threads tr.unread td .thread-excerpt,
#buddypress table#message-threads tr.unread td .activity,
#buddypress table#message-threads tr.unread td.thread-options        { font-weight: normal }
#buddypress li span.unread-count,
#buddypress tr.unread span.unread-count                              { background: #dd0000; color: #fff; padding: 2px 8px; }
#buddypress .item-list-tabs ul li a span.unread-count                { padding: 1px 6px; color: #fff; }
#buddypress #message-thread .message-box                             { padding: 20px 25px; margin: 0 0 10px; background-color: #fff; }
#buddypress #message-thread form .message-box                        { padding: 0; margin: 0; border: 0; }
#buddypress #message-thread .activity                                { float: right; margin-right: 25px; margin-top: 5px; }
#buddypress #message-thread p#message-recipients                     { margin: 10px 0 20px 0 }
#buddypress #message-thread img.avatar                               { float: left; margin: 5px 15px 0 0; width: 50px; height: 50px; }
#buddypress #message-thread strong                                   { display: inline-block; margin-bottom: 5px; }
#buddypress #message-thread strong a                                 { text-decoration: none }
#buddypress #message-thread strong a:hover                           { text-decoration: underline; }
#buddypress #message-thread strong span.activity                     { margin-top: 4px }
#buddypress #message-thread .message-content                         { margin-left: 65px; }
#buddypress #message-thread .message-options                         { text-align: right }
#buddypress #message-threads img.avatar                              { max-width: none }
#buddypress .message-search                                          { float: right; margin: 0 20px; min-width: 200px; }
.message-metadata                                                    { position: relative }
.message-star-actions                                                { position: absolute; right: 0; top: 0; }
#buddypress a.message-action-star,
#buddypress a.message-action-unstar                                  { border-bottom: 0; text-decoration: none; }
a.message-action-star                                                { opacity: .7 }
a.message-action-star:hover                                          { opacity: 1 }
.message-action-star span.icon::before,
.message-action-unstar span.icon::before                             { font-family: dashicons; font-size: 18px; }
.message-action-star span.icon::before                               { color: #aaa; content: "\f154"; }
.message-action-unstar span.icon::before                             { color: #FCDD77; content: "\f155"; }

/*
  ========================================
  Extended Profiles
  ========================================
*/

.profile h4                                                          { margin-top: 15px; }
#profile-edit-form ul.button-nav                                     { list-style: none; margin: 15px 0 0 0; padding: 0; }
body.no-js .field-visibility-settings-toggle,
body.no-js .field-visibility-settings-close                          { display: none }
.field-visibility-settings                                           { display: none; margin-top: 10px; }
body.no-js .field-visibility-settings                                { display: block }
.current-visibility-level                                            { font-style: normal; }
.field-visibility-settings,
.field-visibility-settings-toggle,
.field-visibility-settings-notoggle                                  { color: #888 }
body.register .page ul                                               { list-style: none; padding: 0; margin: 0 0 15px; }
.standard-form .field-visibility-settings label                      { margin: 0; padding: 0; font-weight: normal; }
.field-visibility-settings legend                                    { font-size: 14px; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px dotted #e5e5e5; }
.field-visibility-settings-toggle                                    {}
.field-visibility-settings .radio                                    { list-style: none; padding: 0; margin-bottom: 15px; }
.field-visibility select                                             { margin: 0 }
.profile .wp-editor-container                                        { border: 1px solid #dedede; }
.html-active button.switch-html                                      { border-bottom-color: transparent; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background: #f5f5f5; }
.tmce-active button.switch-tmce                                      { border-bottom-color: transparent; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background: #f5f5f5; }
.standard-form .wp-editor-container textarea                         { width: 100%; padding-top: 0; padding-bottom: 0; }

/*
  ========================================
  Widgets
  ========================================
*/

.widget.buddypress .item-avatar img.avatar                           { float: left; margin: 0 10px 15px 0; }
.widget.buddypress .activity                                         { display: inline-block; opacity: 0.8; padding: 0; }
.widget.buddypress .item-options .bp-separator                       { display: none; }
.widget.buddypress .item                                             { margin: 0 0 1em 0 }
.widget.buddypress .item-meta,
.widget.buddypress .item-content                                     { font-size: 11px; margin-left: 50px; }
.widget.buddypress .item-list img.avatar                             { height: 40px; margin-right: 10px; width: 40px; }
.widget.buddypress .item-avatar img                                  { height: 40px; margin: 1px; width: 40px; }
.widget.buddypress .avatar-block                                     { overflow: hidden }
.widget.buddypress #bp-login-widget-form label                       { display: block; margin: 1rem 0 .5rem; color: #666; }
.widget.buddypress #bp-login-widget-form .forgetmenot label          { font-weight: normal; color: #9a9a9a; }
.widget.buddypress #bp-login-widget-form #bp-login-widget-submit     { margin-right: 10px; float: right; }
.widget.buddypress .bp-login-widget-register-link                    { margin-top: 10px; display: inline-block; }
.widget.buddypress .bp-login-widget-user-avatar                      { float: left; position: relative; }
.widget.buddypress .bp-login-widget-user-avatar a                    { display: block; }
.widget.buddypress .bp-login-widget-user-avatar a:hover              { opacity: 0.8; }
.widget.buddypress .bp-login-widget-user-link                        { float: left; }
.widget.buddypress .bp-login-widget-user-avatar img.avatar           { height: 35px; width: 35px; display: block; }
.widget.buddypress .bp-login-widget-user-logout                      { float: right; }
.widget.buddypress .bp-login-widget-user-link a                      { color: #505050; font-size: 12px; margin: 5px 0 0 10px; display: inline-block; }
.widget.buddypress .bp-login-widget-user-links::before               { content: ""; display: table; }
.widget.buddypress .bp-login-widget-user-links::after                { content: ""; display: table; clear: both; }
.widget.buddypress #groups-list,
.widget.buddypress #members-list,
.widget.buddypress #friends-list                                     { margin-left: 0; padding-left: 0; }

/*
  ========================================
  Widget Buddypress Filter
  ========================================
*/

.widget.widget_bp_core_friends_widget .item-options,
.widget.widget_bp_groups_widget .item-options,
.widget.widget_bp_core_members_widget .item-options                  { margin: 0 0 15px; font-size: 0; color: #fff; }

.widget.widget_bp_core_friends_widget .item-options::before,
.widget.widget_bp_core_friends_widget .item-options::after,
.widget.widget_bp_groups_widget .item-options::before,
.widget.widget_bp_groups_widget .item-options::after,
.widget.widget_bp_core_members_widget .item-options::before, 
.widget.widget_bp_core_members_widget .item-options::after          { display: table; content: ""; }

.widget.widget_bp_core_friends_widget .item-options::after,
.widget.widget_bp_groups_widget .item-options::after, 
.widget.widget_bp_core_members_widget .item-options::after          { clear: both; }

.widget.widget_bp_core_friends_widget .item-options a,
.widget.widget_bp_groups_widget .item-options a,
.widget.widget_bp_core_members_widget .item-options a               { color: #454545; display: block; background: #eee; font-size: 12px; width: 32%; text-align: center; padding: 2%; position: relative; float: left; }

.widget.widget_bp_core_friends_widget .item-options a:nth-child(2),
.widget.widget_bp_groups_widget .item-options a:nth-child(3),
.widget.widget_bp_core_members_widget .item-options a:nth-child(3)  { margin: 0 2%; }

.widget.widget_bp_core_friends_widget .item-options a.selected::after,
.widget.widget_bp_groups_widget .item-options a.selected::after,
.widget.widget_bp_core_members_widget .item-options a.selected::after{ content: ""; right: 50%; border: 6px solid; border-left: 6px solid transparent; bottom: -12px; border-right: 6px solid transparent; border-bottom: 6px solid transparent; margin-right: -6px; display: inline-block; color: #eee; position: absolute; }

/*
  ========================================
  Widget BuddyPress Members Online
  ========================================
*/

.widget.widget_bp_core_whos_online_widget .item-avatar img.avatar,
.widget.widget_bp_core_recently_active_widget .item-avatar img.avatar{ margin: 0; float: none; width: 100%; height: auto; }
.widget.widget_bp_core_whos_online_widget .item-avatar,
.widget.widget_bp_core_recently_active_widget .item-avatar           { width: 25%; float: left; padding: 0 3% 3% 3%; }
.widget.widget_bp_core_whos_online_widget .item-avatar a,
.widget.widget_bp_core_recently_active_widget .item-avatar a         { display: block; position: relative; }
.widget.widget_bp_core_whos_online_widget .item-avatar a:hover,
.widget.widget_bp_core_recently_active_widget .item-avatar a:hover   { opacity: 0.8; }

/*
  ========================================
  Widget BuddyPress Members & Groups
  ========================================
*/

.widget.widget_bp_core_friends_widget .item-list,
.widget.widget_bp_core_members_widget .item-list,
.widget.widget_bp_groups_widget .item-list                           { padding: 0; font-size: 0; line-height: 1; }

.widget.widget_bp_core_friends_widget .item-list li,
.widget.widget_bp_core_members_widget .item-list li,
.widget.widget_bp_groups_widget .item-list li                        { list-style: none; display: block; padding: 2%; margin: 0; width: 25%; position: relative; float: left; }

.widget.widget_bp_core_friends_widget .item-list li a,
.widget.widget_bp_core_members_widget .item-list li a,
.widget.widget_bp_groups_widget .item-list li a                      { display: block; position: relative; }

.widget.widget_bp_core_friends_widget .item-list .item,
.widget.widget_bp_core_members_widget .item-list .item,
.widget.widget_bp_groups_widget .item-list .item                     { display: none; }

.widget.widget_bp_core_friends_widget .item-list li:hover .item,
.widget.widget_bp_core_members_widget .item-list li:hover .item,
.widget.widget_bp_groups_widget .item-list li:hover .item            { display: block; position: absolute; background: #181818; width: 150px; padding: 10px; border: 2px solid rgba(255, 255, 255, 0.4); top: 60%; left: 60%; z-index: 5; text-align: left; font-size: 12px; }

.widget.widget_bp_core_friends_widget .item-list li .item-avatar a:hover,
.widget.widget_bp_core_members_widget .item-list li .item-avatar a:hover,
.widget.widget_bp_groups_widget .item-list li .item-avatar a:hover   { opacity: 0.8; }

.widget.widget_bp_core_friends_widget .item-list li:nth-child(3):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(3):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(3):hover .item,
.widget.widget_bp_core_friends_widget .item-list li:nth-child(4):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(4):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(4):hover .item,
.widget.widget_bp_core_friends_widget .item-list li:nth-child(7):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(7):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(7):hover .item,
.widget.widget_bp_core_friends_widget .item-list li:nth-child(8):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(8):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(8):hover .item,
.widget.widget_bp_core_friends_widget .item-list li:nth-child(11):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(11):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(11):hover .item,
.widget.widget_bp_core_friends_widget .item-list li:nth-child(12):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(12):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(12):hover .item,
.widget.widget_bp_core_friends_widget .item-list li:nth-child(15):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(15):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(15):hover .item,
.widget.widget_bp_core_friends_widget .item-list li:nth-child(16):hover .item,
.widget.widget_bp_core_members_widget .item-list li:nth-child(16):hover .item,
.widget.widget_bp_groups_widget .item-list li:nth-child(16):hover .item { right: -90%; margin-left: -150px; }

.widget.widget_bp_core_friends_widget .item-list li .item-title a,
.widget.widget_bp_core_members_widget .item-list li .item-title a,
.widget.widget_bp_groups_widget .item-list li .item-title a          { color: rgba(255, 255, 255, 0.6); margin-bottom: 5px; }

.widget.widget_bp_core_friends_widget .item-list li span.activity,
.widget.widget_bp_core_members_widget .item-list li span.activity,
.widget.widget_bp_groups_widget .item-list li span.activity          { color: #FFF; font-size: 11px; line-height: 1.3 }

.widget.widget_bp_core_friends_widget .item-content,
.widget.widget_bp_core_friends_widget .item-meta,
.widget.widget_bp_core_members_widget .item-content,
.widget.widget_bp_core_members_widget .item-meta,
.widget.widget_bp_groups_widget .item-content,
.widget.widget_bp_groups_widget .item-meta                           { margin-left: 0; }

.widget.widget_bp_core_friends_widget .item-list .item-avatar img.avatar,
.widget.widget_bp_core_members_widget .item-list .item-avatar img.avatar,
.widget.widget_bp_groups_widget .item-list img.avatar                { margin: 0; display: block; float: none; padding: 0; width: 100%; height: auto; }

/*
  ========================================
  Activity Listing
  ========================================
*/

#buddypress .activity-comments .acomment-avatar,
#buddypress .activity-list .activity-avatar                          { float: left; position: relative; left: 10px; top: 65px; }
#buddypress .activity-comments .acomment-avatar a,
#buddypress .activity-list .activity-avatar a                        { display: block; position: relative; }

#buddypress .activity-comments .acomment-avatar a::after,
#buddypress .activity-list .activity-avatar a::after                 { content: ""; margin-top: -6px; position: absolute; top: 28px; border: 6px solid #fff; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid transparent; right: -20px; }

#buddypress .activity-list .activity-avatar a:before                 { content: ""; position: absolute; display: block; width: 50px; height: 85px; top: -15px; left: 0; z-index: 0; }

#buddypress .activity-list .mini .activity-avatar a::after           { content: none; border: 0; }

#buddypress .activity-comments .acomment-meta,
#buddypress .activity-list .activity-header                          { color: #888; margin: 25px 0 0 85px; max-height: 50px; overflow: hidden; }
#buddypress .activity-comments .acomment-meta p,     
#buddypress .activity-list .activity-header p                        { line-height: 2; }
#buddypress .activity-comments .acomment-meta a,
#buddypress .activity-list .activity-header p a                      { color: #757575; }
#buddypress .activity-comments .acomment-meta a:hover,
#buddypress .activity-list .activity-header p a:hover                { text-decoration: underline; }
#buddypress .activity-comments .acomment-meta a::before,
#buddypress .activity-list .activity-header p a::before              { display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f347"; margin: 0 10px; }
#buddypress .activity-comments .acomment-meta a.activity-time-since::before,
#buddypress .activity-list .activity-header p a.activity-time-since::before { content: none; display: none; }
#buddypress .activity-comments .acomment-meta a:nth-child(2)::before,
#buddypress .activity-list .activity-header p a:nth-child(2)::before { content: none; display: none; }
#buddypress .activity-comments .acomment-meta img.avatar,
#buddypress .activity-list .activity-header img.avatar               { margin: 0 5px 0 10px; width: 30px; height: 30px; padding: 5px; background-color: #fff; border: 0; }

#buddypress .activity-comments .acomment-content,
#buddypress .activity-list .activity-inner                           { background: #fff; padding: 20px 20px 10px; position: relative; overflow: visible; min-height: 65px; line-height: 2.2; margin: 15px 0 0 85px; }

#buddypress .activity-comments .acomment-content iframe,
#buddypress .activity-list .activity-inner iframe,
#buddypress .activity-comments .acomment-content img,
#buddypress .activity-list .activity-inner img                       { display: block; max-width: 100%; }

#buddypress .activity-comments .acomment-content div,
#buddypress .activity-list .activity-inner div                       { overflow: hidden; }

#buddypress .activity-comments .acomment-options,
#buddypress .activity-list .activity-meta                            { margin: 15px 0 15px 85px; }
#buddypress .activity-comments .acomment-options a,
#buddypress .activity-list .activity-meta a                          { margin-bottom: 5px; } 
#buddypress .activity-comments .acomment-options::after,
#buddypress .activity-list .activity-meta::after                     { clear: both; display: table; content: ""; }
#buddypress .activity-list .mini .activity-avatar                    { top: 20px; }
#buddypress .activity-list .cover_added .activity-header p .activity-time-since,
#buddypress .activity-list .mini .activity-header p .activity-time-since { display: block; }
#buddypress .activity-list .cover_added .activity-header p .activity-time-since:hover,
#buddypress .activity-list .mini .activity-header p .activity-time-since:hover { text-decoration: underline; }
#buddypress .activity-comments .acomment-meta .activity-time-since,
#buddypress .activity-list .activity-header p .time-since             { margin-left: 30px; color: #888; display: block; font-weight: normal; letter-spacing: normal; }
#buddypress .activity-list .bbpress .activity-header p .time-since    { display: inline-block; margin-left: 5px; }
#buddypress .activity-list .bbpress .activity-header p .time-since::before     { content: "\f3f3"; display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 5px; position: relative; top: 1px; }
#buddypress .activity-list .activity-header p .time-since:hover       { text-decoration: underline; }
#buddypress .activity-list li.load-more,
#buddypress .activity-list li.load-newest                             { text-align: center; margin: 0; padding: 20px 0px 20px 85px; }

/*
  ========================================
  Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
  ========================================
*/

.item-list::before,
.item-list::after                                                    { display: table; content: ""; }
.item-list::after                                                    { clear: both; }

#buddypress .item-body                                               { margin: 20px 0 }
#buddypress span.activity                                            { display: inline-block; opacity: 0.8; }
#buddypress span.user-nicename                                       { color: #777; display: inline-block; }

#buddypress .item-list                                               { list-style: none; position: relative; padding: 0; overflow: visible; margin: 0; width: 100%; }
#buddypress #members-list                                            { margin-bottom: -35px; }
#buddypress .activity-list li                                        { position: relative; list-style: none; line-height: 2; margin: 0; padding: 0; }
#buddypress .activity-list ul                                        { padding: 0; margin: 0; list-style: none; overflow: hidden; }
#buddypress .activity-list .activity-comments ul                     { overflow: visible; }


#buddypress .activity-list::before                                   { content: ""; width: 7px; height: 100%; background: #fff; position: absolute; left: 35px; top: 0; display: block; }
#buddypress .activity-list li::after                                 { content: ""; display: table; clear: both; }
#buddypress .activity-list li img                                    { max-width: 100%; margin: 5px 0; }
#buddypress .activity-list li img.avatar                             { width: 55px; height: 55px; position: relative; border: 5px solid #fff; margin: 0; }
#buddypress .activity-list li .item-title,
#buddypress .activity-list li h4                                     { font-weight: normal; margin: 0; }
#buddypress .activity-list li .item-desc                             { margin: 10px 0 0 60px; width: 50%; line-height: 2; }
#buddypress .activity-list li.group-no-avatar .item-desc             { margin-left: 0 }
#buddypress .activity-list li .meta                                  { color: #888; margin-top: 10px; }
#buddypress .activity-list li h5 span.small                          { float: right; font-weight: normal; }

#buddypress .activity-list #message                                  { margin-left: 80px; }

#buddypress .item-list-tabs                                          { background: #fff; padding: 15px 15px 5px; position: relative; overflow: hidden; margin-bottom: 20px; }
#buddypress .item-list-tabs ul                                       { margin: 0; padding: 0; list-style-type: none; }
#buddypress .item-list-tabs ul li                                    { margin: 0 0 15px; list-style: none; float: left; }
#buddypress .item-list-tabs ul li.last                               { float: right; }
#buddypress .item-list-tabs ul li.last label                         { display: none; }
#buddypress .item-list-tabs ul li > span,
#buddypress .item-list-tabs ul li a                                  { display: block; text-decoration: none; color: #454545; margin-right: 10px; position: relative; background: #eee; padding: 7px 13px; font-size: 12px; min-height: 40px; }
#buddypress .item-list-tabs ul li a span                             { padding: 0px 6px 2px; color: #fff; top: 0px; border: 1px solid #fff; font-weight: normal; margin: 0 0 0 5px; position: relative; text-align: center; display: inline-block; font-size: 10px; vertical-align: middle; }
#buddypress .item-list-tabs ul li.selected a::after,
#buddypress .item-list-tabs ul li.current a::after                   { content: ""; position: absolute; right: 50%; border: 6px solid; border-left: 6px solid transparent; bottom: -12px; border-right: 6px solid transparent; border-bottom: 6px solid transparent; border-top: 6px solid #eee; margin-right: -6px; display: inline-block; }

/*
  ========================================
  Activity Comments
  ========================================
*/

#buddypress .activity-comments li li                                 { margin-left: 75px; }
#buddypress .activity-comments li li li                              { margin-left: 75px; }
#buddypress .activity-comments li li li li                           { margin-left: 75px; }
#buddypress .activity-comments li li li li li                        { margin-left: 75px; }

#buddypress .activity-comments li::before                            { content: ""; display: block; position: absolute; height: 5px; background: #fff; top: 92px; width: 40px; left: -40px; }
#buddypress .activity-comments li li::before                         { width: 115px; left: -115px; }
#buddypress .activity-comments li li li::before                      { width: 185px; left: -185px; }
#buddypress .activity-comments li li li li::before                   { width: 265px; left: -265px; }
#buddypress .activity-comments li li li li li::before                { width: 340px; left: -340px; }

#buddypress .activity-comments form                                  { position: relative; clear: both; padding: 10px 0 10px 10px; margin-left: 75px; display: none; }
#buddypress .activity-comments form .ac-textarea                     { margin-bottom: 10px; margin-right: 10px; position: relative; }
#buddypress .activity-comments form .ac-textarea textarea            { margin-left: 0; }
#buddypress .activity-comments form .ac-textarea::before             { content: ""; margin-top: -6px; position: absolute; top: 31px; left: -11px; border: 6px solid #fff; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid transparent; z-index: 1; }
#buddypress .activity-comments form .ac-textarea::after              { content: ""; margin-top: -6px; position: absolute; top: 31px; left: -15px; border: 6px solid rgba(0, 0, 0, 0.02); border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid transparent; z-index: 0; }

#buddypress .activity-comments .ac-reply-avatar                      { position: relative; border-bottom: 1px solid rgba(0, 0, 0, 0.02); top: 15px; float: left; }
#buddypress .activity-comments .ac-reply-content                     { margin: 15px 0 0 70px; }
#buddypress .activity-comments .ac-reply-content a                   { font-size: 11px; float: right; color: #757575; }
#buddypress .activity-comments .ac-reply-content a:hover             { text-decoration: underline; }

#buddypress .activity-comments form::before                          { content: ""; display: block; position: absolute; height: 5px; background: #fff; top: 50px; width: 115px; left: -115px; }
#buddypress .activity-comments li li form::before                    { width: 190px; left: -190px; }
#buddypress .activity-comments li li li form::before                 { width: 265px; left: -265px; }
#buddypress .activity-comments li li li li form::before              { width: 340px; left: -340px; }
#buddypress .activity-comments li li li li li form::before           { width: 160px; left: -165px; }

#buddypress .activity-comments li.show-all::before                   { content: none; }
#buddypress .activity-comments li.show-all                           { margin-left: 10px; }

/*
  ========================================
  BuddyPress Members & Groups List
  ========================================
*/

#buddypress .masonry li                                              { border: 0; float: left; padding-bottom: 30px; }
#buddypress .masonry li .padding                                     { background: #fff; text-align: center; padding: 0 0 12%; position: relative; }
#buddypress .masonry li .item,
#buddypress .masonry li .action                                      { padding: 0 12%; }
#buddypress .masonry li .item-avatar                                 { max-width: 100%; height: auto; overflow: hidden; margin: 12% 12% 0 12%; }
#buddypress .masonry li .avatar-wrapper                              { overflow: hidden; }

#buddypress .masonry li .item-avatar .avatar                         { float: none; margin: 0; height: auto; width: 100%; z-index: 0; }
#buddypress .masonry li .item-avatar a                               { display: block; position: relative; z-index: 1; overflow: hidden; }
#buddypress .masonry li .item-avatar a img                           { width: 100%; height: auto; max-width: 100%; display: block; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#buddypress .masonry li .item-avatar a:hover img                     { -moz-transform: translateZ(0) scale(1.1,1.1); -webkit-transform: translateZ(0) scale(1.1,1.1); -ms-transform: none; transform: translateZ(0) scale(1.1,1.1); -webkit-filter: contrast(110%); filter: contrast(110%); }
#buddypress .masonry li span                                         { display: block; }
#buddypress .masonry li .item-title                                  { padding: 15px 0 0; text-align: center; word-wrap: break-word; }
#buddypress .masonry li .item-title a                                { color: #333; font-size: 14px; margin-bottom: 11px; display: block; }
#buddypress .masonry li .activity                                    { font-style: italic; font-size: 11px; color: #999; margin-top: 5px; opacity: 1; word-break: break-all; }
#buddypress .masonry li .activity-read-more                          { position: relative; padding: 0 10px; background: #fff; display: block; font-size: 11px; text-transform: uppercase; border-top: 3px double #eee; margin-top: 25px; }
#buddypress .masonry li .activity-read-more a                        { background-color: #fff; top: -14px; position: relative; padding: 0 10px; font-size: 11px; border: 0; display: inline-block; height: auto; margin: 0; }
#buddypress .masonry li .activity-read-more a:hover                  { text-decoration: underline; }
#buddypress .masonry li .action a                                    { margin-top: 5px; }
#buddypress .masonry li .item-desc                                   { width: auto; margin: 10px 0 15px; font-size: 12px; }
#buddypress .masonry li .meta                                        { font-style: italic; font-size: 11px; color: #999; }
#buddypress .masonry li .generic-button                              { margin-top: 15px; }

#buddypress .single-line                                             { margin: 0; }
#buddypress .single-line li                                          { width: 100%; margin-bottom: 20px; overflow: hidden; }
#buddypress .single-line li .avatar                                  { float: left; display: block; }
#buddypress .single-line li h5                                       { margin: 0 0 0 55px; }
#buddypress .single-line li h5 > a                                   { margin: 7px 20px 0 0; display: inline-block; }

#buddypress #friend-list,
#buddypress #member-list                                             { border: 0; }
#buddypress #friend-list li,
#buddypress #member-list li                                          { border: 0; background: #fff; padding: 15px 200px 15px 20px; margin-bottom: 10px; overflow: hidden; position: relative; }
#buddypress #friend-list li h5,
#buddypress #friend-list li h4,
#buddypress #member-list li h5                                       { margin: 5px 0 5px; }
#buddypress #friend-list li .item-title a,
#buddypress #friend-list li h4 a,
#buddypress #member-list li h5 a                                     { font-size: 14px; color: #333; }
#buddypress #friend-list li .action,
#buddypress #member-list li .action                                  { color: rgb(128, 184, 144); right: 25px; top: 18px; text-transform: uppercase; font-size: 11px; position: absolute; }
#buddypress #friend-list li span,
#buddypress #member-list li span                                     { font-style: italic; color: #666; }
#buddypress #member-list li img.avatar,
#buddypress #friend-list li img.avatar                               { float: left; margin-right: 10px; width: 50px; height: 50px; }
#buddypress #member-list .button,
#buddypress #friend-list .button                                     { padding: 7px 10px 6px; }

/*
  ========================================
  BP List Covers
  ========================================
*/

#buddypress .masonry.with-cover li .item                             { margin-top: 40px; }
#buddypress .masonry.with-cover li .avatar-wrapper                   { position: relative; overflow: visible; }
#buddypress .masonry.with-cover li .item-avatar                      { max-width: 110px; background: #fff; padding: 5px; position: absolute; left: 50%; top: -60px; margin: 0 0 0 -55px; }

#buddypress .masonry.with-cover li .cover-loop                       { position: relative; height: 170px; z-index: 0; overflow: hidden; }
#buddypress .masonry.with-cover li .cover-loop .cover-loop-image     { position: absolute; top: 0; left: -200%; height: 100%; width: 500%; }
#buddypress .masonry.with-cover li .cover-loop a                     { display: block; }
/*#buddypress .masonry.with-cover li .cover-loop  img                { position: relative; }*/

#buddypress .masonry.with-cover li:nth-child(1n) .cover-loop-image   { background-color: #33A9DD; }
#buddypress .masonry.with-cover li:nth-child(2n) .cover-loop-image   { background-color: #E0AC34; }
#buddypress .masonry.with-cover li:nth-child(3n) .cover-loop-image   { background-color: #a56a65; }
#buddypress .masonry.with-cover li:nth-child(4n) .cover-loop-image   { background-color: #74CB0E; }
#buddypress .masonry.with-cover li:nth-child(5n) .cover-loop-image   { background-color: #DF70EA; }
#buddypress .masonry.with-cover li:nth-child(6n) .cover-loop-image   { background-color: #DDC06A; }
#buddypress .masonry.with-cover li:nth-child(7n) .cover-loop-image   { background-color: #228BB6; }
#buddypress .masonry.with-cover li:nth-child(8n) .cover-loop-image   { background-color: #88003e; }
#buddypress .masonry.with-cover li:nth-child(9n) .cover-loop-image   { background-color: #DD8F02; }
#buddypress .masonry.with-cover li:nth-child(10n) .cover-loop-image  { background-color: #25440A; }

/*
  ========================================
  BuddyPress Avatar Tabs
  ========================================
*/

.drag-drop .drag-drop-inside p                                       { font-size: 13px; }
.drag-drop .drag-drop-inside p.drag-drop-info                        { text-transform: uppercase; font-size: 14px; }

#group-create-body .left-menu .avatar                                { max-width: 200px!important; margin: 0 15px 15px 0; border: 4px solid #EEE!important; }

.bp-avatar-nav                                                       { font-size: 11px; }
.bp-avatar-nav ul.avatar-nav-items li.current                        { border-radius: 0; }
.bp-avatar-nav ul.avatar-nav-items li.current                        { border: 1px solid #eee; border-bottom-color: #fff; }
.bp-avatar-nav ul                                                    { border-bottom: 1px solid #eee; text-transform: uppercase; margin-top: 10px; }
.bp-avatar-nav li.current a                                          { color: #666; opacity: 1; }
.avatar-nav-items li a                                               { padding: 10px 20px; }

/*
  ========================================
  BuddyPress Alerts
  ========================================
*/

#buddypress #item-body #whats-new-form .error                        { margin-left: 60px; }
#buddypress #message                                                 { margin-top: 10px; }
#buddypress .activity-comments                                       { margin-left: 75px; }

/*jQery*/
#buddypress ul.acfb-holder li.friend-tab                             { padding: 7px 10px; border-radius: 0; margin: 3px 10px 3px 0; }
#buddypress li.friend-tab img.avatar                                 { margin-right: 5px; }

.admin-bar-off                                                       { display: none; }

/*
  ========================================
  Plugin: BuddyPress Media | rtMedia
  ========================================
*/

body.media,
body.media-body                                                       { overflow: visible; margin: 0; }

body #buddypress #item-body                                           { padding: 0; }

body .rtmedia-activity-container .rtmedia-item-title,
body .rtmedia-activity-container .rtmedia-item-title a                { white-space: normal; }
body .rtmedia-container .imgedit-separator                            { margin: 0 10px 0 15px; }
body .rtmedia-container .mfp-close                                    { background: none; }
body .rtmedia-container .mfp-close                                    { opacity: 0.8; }
body .rtmedia-container .mfp-close:hover                              { opacity: 1; }
body .rtmedia-success,
body .rtmedia-warning                                                 { text-shadow: none; }
body #buddypress #item-body .rtmedia-container .content ul.rtmedia-list li .rtmedia-list-item-a { border: 0; }
body #buddypress .rtmedia-container .rtmedia-actions-before-comments .rtmedia-like img,
body .rtmedia-container .rtmedia-actions-before-comments .rtmedia-comment-link img,
body .rtmedia-container .rtmedia-single-container button.rtmedia-like img,
body .rtmedia-single-container button.rtmedia-like img                { display: none; }
body #item-body .rtmedia-container .rtmedia-actions-before-comments   { margin-top: 0; }
body #item-body .rtmedia-container .rtmedia-item-comments             { padding-bottom: 0; }
body #buddypress .rtmedia-container #rtmedia-single-media-container.rtmedia-single-media .rtm-options .button:hover,
body #buddypress .rtmedia-container #rtmedia-single-media-container.rtmedia-single-media .rtm-options .button:focus,
body #buddypress #rtm-media-options-list .rtm-options.rtm-options .rtmedia-delete-album:hover,
body #buddypress #rtm-media-options-list .rtm-options.rtm-options .rtmedia-delete-album:focus,
body .rtmedia-container .rtm-options.rtm-options a:focus,
body .rtmedia-container .rtm-options.rtm-options a:hover              { color: #fff; }
body #buddypress .rtmedia-container #rtmedia-single-media-container.rtmedia-single-media .rtm-options .button,
body #buddypress #rtm-media-options-list .rtm-options.rtm-options .rtmedia-delete-album,
body #buddypress .rtmedia-container #rtm-media-options-list .rtm-options .button,
body .rtmedia-container .rtm-options.rtm-options a                    { margin: 0; display: block; padding: 12px 14px 8px; color: #aaa; border-radius: 0; text-align: left; width: 182px; z-index: 999; position: relative; }
body #rtm-modal-container .rtm-input-medium                           { padding-left: 10px; }
body #rtm-modal-container label                                       { font-weight: normal; }
body #rtm-modal-container p                                           { margin: 0; }
body #rtm-modal-container p:last-child                                { background: none; border-top: 1px solid rgba(255, 255, 255, 0.02); }
body #rtmedia_go_to_num                                               { padding: 0px 20px; }
body .mfp-content .rtm-single-meta                                    { padding-bottom: 140px; }
body .rtm-gallery-title                                               { margin-bottom: 15px; }
body .rtm-ltb-title a:hover                                           { text-decoration: none; }
body .rtm-media-options .rtm-media-options-list                       { padding: 0; }
body .rtm-media-options .rtmedia-upload-media-link                    { border-right: 3px double rgba(0, 0, 0, 0.1); }
body .rtm-media-options > *                                           { border: 0; }
body .rtm-page-number                                                 { float: right; }
body .rtm-page-number .rtm-label                                      { line-height: 3; display: none; }
body .rtm-pagination .dashicons                                       { font-size: 12px; line-height: 2; }
body .rtm-pagination .rtm-paginate                                    { float: left; }
body .rtm-upload-button-wrapper button.rtmedia-comment-media-upload .dashicons,
body button.rtmedia-comment-media-upload .dashicons                   { line-height: 12px; }
body .rtmedia-album-edit .rtm-checkbox-wrap                           { margin: 10px; height: auto; padding: 0 2px 2px; background: #fff; }
body .rtmedia-container .rt_media_comment_form                        { margin-top: 15px; }
body .rtmedia-container .rt_media_comment_form .rt_media_comment_submit { margin: 15px 0 0; }
body .rtmedia-container .rtm-album-privacy label                      { text-transform: uppercase; font-size: 12px; }
body .rtmedia-container .rtm-comment-list .rtm-comment-wrap .rtmedia-comment-date::before { margin-right: 5px; }
body .rtmedia-container .rtm-comment-list .rtmedia-comment-details    { padding: 0 0 10px 40px; }
body .rtmedia-container .rtm-comment-list .rtmedia-delete-comment     { top: 50px; }
body .rtmedia-container .rtm-comment-list li                          { background: none; padding: 0; }
body .rtmedia-container .rtm-comment-list li                          { margin-bottom: 15px; }
body .rtmedia-container .rtm-comment-list.rtm-comment-list li         { border-left: 5px solid #fff; margin: 0 10px 0 25px; position: relative; padding: 0 0 10px; }
body .rtmedia-container .rtm-comment-list.rtm-comment-list li.rtmedia-no-comments,
body .rtmedia-container .rtmedia-like-info                            { border: 0; padding: 10px 15px; background: #fff; margin: 20px 0; }
body .rtmedia-container .rtm-comment-wrap                             { overflow: visible; }
body .rtmedia-container .rtm-item-actions > div                       { float: right; }
body .rtmedia-container .rtm-load-more                                { background: none; }
body .rtmedia-container .rtm-media-gallery-uploader                   { background: #fff; padding: 5px 20px 10px; margin-bottom: 15px; }
body .rtmedia-container .rtm-media-options .rtm-options:after         { border-bottom-color: #FFFFFF; margin-bottom: -2px; z-index: 9999999; }
body .rtmedia-container .rtm-media-single-comments                    { z-index: 6; padding: 0; border-top: 1px dashed rgba(0, 0, 0, 0.1); }
body .rtmedia-container .rtm-media-single-comments textarea           { line-height: 2; max-height: 50px; min-height: 40px; padding: 10px 15px; background: #fff; }
body .rtmedia-container .rtm-options .dashicons                       { font-size: inherit; line-height: 1.4; }
body .rtmedia-container .rtm-options li                               { padding: 0; }
body .rtmedia-container .rtm-options.rtm-options                      { border: 0; background: none; color: #aaa; font-size: 11px; padding: 0; z-index: 999; }
body .rtmedia-container .rtm-options.rtm-options::after               { bottom: 100%; left: 20px; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; margin-left: -6px; margin-bottom: -2px; border: 6px solid transparent; border-bottom-color: #fff; }
body .rtmedia-container .rtm-media-options .rtm-media-options-list .rtmedia-action-buttons,
body .rtmedia-container .rtmedia-upload-media-link,
body .rtmedia-container .rtm-tabs li a                                { padding: 10px 15px 5px 10px; }
body .rtmedia-container .rtm-single-actions.rtm-item-actions          { margin-bottom: 15px; }
body .rtmedia-container .rtm-tabs .active                             { position: static; }
body .rtmedia-container .rtm-tabs li                                  { border: 0; margin: 0 5px 0 0; }
body .rtmedia-container .rtm-tabs li a .dashicons                     { font-size: inherit; line-height: 1.4; margin: 0; width: 20px; height: 20px; }
body .rtmedia-container .rtm-tabs-content .content                    { background: #fff; padding: 20px; height: auto; min-height: auto; margin-bottom: 30px; }
body .rtmedia-container .rtm-tabs-content .content::after             { clear: both; }
body .rtmedia-container .rtm-tabs-content .content::after             { display: table; content: ""; }
body .rtmedia-container .rtm-tabs-content .content::before,
body .rtmedia-container .rtm-tabs-content .content:empty              { background: none; border: 0; padding: 0; margin: 0; }
body .rtmedia-container .rtm-tabs.rtm-tabs                            { border: 0; }
body .rtmedia-container .rtm-time-privacy .dashicons                  { line-height: 1.9; }
body .rtmedia-container .rtm-user-meta-details                        { border-bottom: 1px dashed rgba(0, 0, 0, 0.1); }
body .rtmedia-container .rtm-user-meta-details .username              { padding-top: 7px; }
body .rtmedia-container .rtm-user-meta-details .username a            { color: #454545; font-size: 14px; }
body .rtmedia-container .rtmedia-actions-before-comments              { margin-top: 15px; }
body .rtmedia-container .rtmedia-gallery-item-actions                 { text-align: center; left: 0; background: none; margin-top: 20px; }
body .rtmedia-container .rtmedia-gallery-item-actions a               { margin: 0 2px; background-color: rgba(255, 255, 255, 0.8); }
body .rtmedia-container .rtmedia-gallery-item-actions a i             { display: none; }
body .rtmedia-container .rtmedia-item-comments                        { padding-bottom: 15px; }
body .rtmedia-container .rtmedia-item-comments textarea               { font-size: 12px; padding: 12px; }
body .rtmedia-container .rtmedia-list                                 { margin: -5px -10px 10px -10px; }
body .rtmedia-container .rtmedia-list                                 { position: relative; display: block; }
body .rtmedia-container .rtmedia-list .rtmedia_time                   { background-color: #fff; font-weight: normal; color: #666; top: 15px; right: 15px; }
/*body .rtmedia-container .rtmedia-media                                { margin-bottom: 15px; }*/
body .rtmedia-container .rtmedia-media-description                    { padding: 10px 15px; background: #fff; margin-bottom: 15px; margin-top: 15px; font-size: 12px; }
body .rtmedia-container .rtmedia-media-description:empty              { background: none; padding: 0; margin: 0; border: 0; }
body .rtmedia-container .rtmedia-media-description p:last-child       { margin-bottom: 0; }
body .rtmedia-container .rtmedia-uploader .drag-drop .drag-drop-info,
body .rtmedia-container .drag-drop-inside p.drag-drop-info,
body .rtmedia-container .rtm-album-privacy label                      { text-transform: uppercase; font-size: 14px; }
body .rtmedia-container .rtmedia-single-container button.rtmedia-like::after,
body #buddypress .rtmedia-actions-before-comments .rtmedia-like::after,
body .button.bp-primary-action.like::after,
body .rtmedia-single-container button.rtmedia-like::after             { content: "\f388"; display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-left: 5px; }
body .rtmedia-container .userprofile.rtm-user-avatar                  { position: relative; }
body .rtmedia-container ::-webkit-scrollbar-track                     { background-color: transparent; }
body .rtmedia-gallery-message-box span                                { text-transform: capitalize; }
body .rtmedia-move-container input[type="button"]                     { margin: 20px 0; }
body .rtmedia-popup                                                   { border: 1px solid rgba(255, 255, 255, 0.1); padding: 1px; }
body .rtmedia-popup .rtm-modal-title                                  { margin-bottom: 0; }
body .rtmedia-popup .rtmedia-create-album-alert                       { margin: 20px; position: absolute; bottom: -80px; left: 0; right: 0; }
body .rtmedia_next_prev                                               { padding: 0; }
body input.rtmedia-merge-selected                                     { margin: 20px; }
body .rtmedia-merge-user-album-list:focus,
body .rtmedia-merge-user-album-list                                   { width: 100%; }
body button.mfp-close,
body button.mfp-arrow                                                 { font-size: 21px; top: 10px; right: 10px; }
body button.mfp-close:hover,
body button.mfp-arrow:hover,
body button.mfp-close:focus,
body button.mfp-arrow:focus                                           { text-decoration: none; cursor: pointer; filter: alpha(opacity=50); opacity: 0.5; }

body #buddypress .activity-comments ul.rtmedia-list.rtm-activity-media-list li          { margin: 0; }
body #buddypress .activity-comments ul.rtmedia-list.rtm-activity-media-list li::after,
body #buddypress .activity-comments ul.rtmedia-list.rtm-activity-media-list li::before  { content: none; }

body #buddypress #rtmedia-single-media-container.rtmedia-single-media .button           { max-height: 40px; min-height: 40px; height: 40px; }
body #buddypress #item-body .rtmedia-container ul.rtmedia-list li                       { width: 16.666666666666666%; margin: 0; padding: 10px; }
body #buddypress #item-body .rtmedia-container ul.rtmedia-list.rtmedia-album-list li a,
body #buddypress #item-body .rtmedia-container ul.rtmedia-list li .rtmedia-list-item-a  { background: #fff; padding: 15px; display: block; }

body #item-body .rtmedia-container .rtm-comment-wrap .rtmedia-comment-date              { float: right; }
body #item-body .rtmedia-container .rtm-lightbox-container .rtm-single-media            { background-color: #fff; padding: 30px; margin-bottom: 15px; position: relative; }
body #item-body .rtmedia-container .rtm-like-comments-info                              { padding-bottom: 0; }
body #item-body .rtmedia-container                                                      { margin-bottom: 15px }

body .plupload_file_name .dashicons,
body .plupload_file_action                                                              { background: #fff; border-radius: 50%; }
body .rtmedia-container .rtmedia-list .rtmedia-list-item .rtmedia-item-thumbnail        { max-height: none!important; }
body .rtmedia-container .imgedit-group .dashicons.imgedit-help-toggle                   { font-size: 16px; width: auto; display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body .rtmedia-container .imgedit-group .dashicons.imgedit-help-toggle::before           { content: "\f27c" }
body .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail img,
body .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail { width: 100%; height: auto; line-height: inherit; max-width: 100%; max-height: none; }
body .rtmedia-container #rtmedia-uploader-form .rtm-plupload-list li,
body .rtmedia-container #rtmedia_uploader_filelist li                                   { background: #fff; padding: 10px 10px 5px;  max-width: 120px; }
body .rtmedia-container .rtm-comment-list.rtm-comment-list li:first-child               { margin-top: 15px; }
body .rtmedia-container .rtm-comment-list .rtm-comment-wrap .rtmedia-comment-author,
body .rtmedia-container .rtm-comment-list .rtm-comment-wrap .rtmedia-comment-date       { display: inline-block; }

/* Whats-New Form */
body .rtmedia-plupload-container.rtmedia-container.clearfix                             { display: none; }
body #buddypress #whats-new-options .rtmedia-plupload-container.rtmedia-container       { display: block; }
body #buddypress #whats-new-form input                                                  { /*display: none;*/ }
body #buddypress #whats-new-form input#aw-whats-new-submit                              { display: block; }

body button#rtmedia-add-media-button-post-update                                        { margin-top: 15px; }

/* rtMedia activity stream */
body #buddypress .activity-list .bp-like.activity_liked .activity-header p a:nth-child(2) { font-weight: normal;  }


body #buddypress .activity-list .rtmedia_update .activity-header p img                  { float: left; }
body #buddypress .activity-list .groups.rtmedia_update .activity-header p .time-since   { margin-left: 62px; }
body #buddypress .activity-list .rtmedia_like_activity.mini .activity-header p a:nth-child(3)::before,
body #buddypress .activity-list .rtmedia_comment_activity .activity-header p a:nth-child(3)::before { content: none; display: none; }

#rtMedia-upload-button:hover                                                            { cursor: pointer; }

.imgedit-menu .button                                                                   { background-image: none; }

/*
  ========================================
  Plugin: BuddyDrive
  ========================================
*/

body.buddypress div#buddydrive-main p                                                                                        { margin: 1.4em 0; }
body.buddypress div#buddydrive-main #buddydrive-actions-form,
body.buddypress div#buddydrive-main #buddydrive-status div.buddydrive-feedback,
body.buddypress div#buddydrive-main article#buddydrive-item-content,
body.buddypress div#buddydrive-main header#buddydrive-item-header,
body.buddypress div#buddydrive-main .buddydrive-toolbar                                                                      { box-shadow: none; -webkit-box-shadow: none; border: 0; }

body.buddypress div#buddydrive-main #buddydrive-actions-form,
body.buddypress div#buddydrive-main .buddydrive-toolbar,
body.buddypress div#buddydrive-main #buddydrive-status div.buddydrive-feedback                                               { width: 100%; margin: 0 0 15px; padding: 20px 20px 5px; }

body.buddypress div#buddydrive-main nav.buddydrive-toolbar #buddydrive-search-input,
body.buddypress div#buddydrive-main nav.buddydrive-toolbar select#buddydrive-filter                                          { padding: 5px 45px 5px 10px!important; height: 40px; line-height: 2; width: auto; margin: 0 0 15px; float: left; margin-right: 20px; }

body.buddypress div#buddydrive-main article#buddydrive-item-content,
body.buddypress div#buddydrive-main header#buddydrive-item-header                                                            { box-shadow: none; -webkit-box-shadow: none;  }

body.buddypress div#buddydrive-main .buddydrive-object-remove,
body.buddypress div#buddydrive-main #buddydrive-actions-form                                                                 { font-size: 12px; }

body.buddypress div#buddydrive-main #buddydrive-load-more                                                                    { margin-top: 0; }
body.buddypress div#buddydrive-main #buddydrive-new-folder input[type=text]                                                  { margin: 0 0 15px; }
body.buddypress div#buddydrive-main #buddydrive-new-folder .button-primary                                                   { float: right; }
body.buddypress div#buddydrive-main #buddydrive-status div.buddydrive-feedback p:before                                      { width: 40px; height: 100%; content: ""; }
body.buddypress div#buddydrive-main #buddydrive-uploader                                                                     { background: #fff; padding: 20px; }
body.buddypress div#buddydrive-main #buddydrive-uploader #bp-upload-ui                                                       { margin: 0; }
body.buddypress div#buddydrive-main #buddydrive-uploader .drag-drop #drag-drop-area                                          { border-color: #DDD; background: #fafafa; color: #AAAAAA; }
body.buddypress div#buddydrive-main #buddydrive-uploader .drag-drop-inside p                                                 { color: #aaa; }
body.buddypress div#buddydrive-main #buddydrive-uploader .drag-drop-inside p.drag-drop-info                                  { text-transform: uppercase; font-size: 14px; }
body.buddypress div#buddydrive-main .buddydrive-actions a:not(:last-child):after                                             { content: none; display: none; }
body.buddypress div#buddydrive-main form.buddydrive-item-details .submit                                                     { padding: 0 0 30px; margin: 15px 0 30px; float: none; }
body.buddypress div#buddydrive-main form.buddydrive-item-details .submit input.button.button-primary                         { float: right; }
body.buddypress div#buddydrive-main form.buddydrive-item-details .submit input.button.button-secondary                       { float: left; max-width: 100px; }
body.buddypress div#buddydrive-main span.icon-privacy.public:before,
body.buddypress div#buddydrive-main span.icon-privacy.private:before,
body.buddypress div#buddydrive-main span.icon-privacy.friends:before                                                         { font-size: 16px; margin-top: 3px; }
body.buddypress div#buddydrive-main header#buddydrive-item-header                                                            { padding: 10px; height: 60px; }
body.buddypress div#buddydrive-main ul                                                                                       { padding: 0; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li                                                                 { border: 0; background: none; -webkit-box-shadow: none; box-shadow: none; margin: 0 0 15px; width: 50%; padding: 0; float: left; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li .buddydrive-content                                             { background: #fff; margin-top: 0; margin-left: 100px; padding-top: 10px; padding-left: 10px; overflow: hidden; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li .buddydrive-content .buddydrive-actions                         { margin: 0 10px 10px; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li .buddydrive-content .buddydrive-title .buddydrive-name a        { color: #454545; word-break: break-all; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li .buddydrive-icon                                                { background: #fff; margin-top: 0; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li.buddydrive-item .buddydrive-share-dialog-close .dashicons       { font-size: 16px; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li.buddydrive-item .buddydrive-share-dialog-close .dashicons:hover { opacity: 0.8; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li.buddydrive-item .buddydrive-share-dialog-close:focus .dashicons { -webkit-box-shadow: none; box-shadow: none; -webkit-border-radius: 100%; opacity: 0.7; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li.buddydrive-item:nth-child(even) .buddydrive-share-dialog        { margin-left: 7.5px; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li.buddydrive-item:nth-child(odd) .buddydrive-share-dialog         { margin-right: 7.5px; }
body.buddypress div#buddydrive-main ul#buddydrive-browser.bulk-select li.buddydrive-item.bulk-selected                       { border: 0; }
body.buddypress div#buddydrive-main ul#buddydrive-browser.bulk-select li.buddydrive-item.bulk-selected .buddydrive-icon      { border: 3px double; border-right: 0; }
body.buddypress div#buddydrive-main ul#buddydrive-browser.bulk-select li.buddydrive-item.bulk-selected .buddydrive-content   { border: 3px double; border-left: 0; }
body.buddypress div#buddydrive-main ul#buddydrive-browser span                                                               { color: #888; }
body.buddypress div#buddydrive-main ul#buddydrive-browser span.icon-privacy                                                  { background: #fff; margin: 0; padding-right: 5px; padding-top: 10px; }
body.buddypress div#buddydrive-main ul#buddydrive-manage-actions                                                             { height: auto; float: right; }
body.buddypress div#buddydrive-main ul#buddydrive-manage-actions li                                                          { margin: 0 15px 15px 0; float: right; }
body.buddypress div#buddydrive-main ul.subsubsub li a                                                                        { color: #323232; font-size: 16px; }
body.buddypress div#buddydrive-main ul.subsubsub li:nth-child(n+2):before                                                    { top: 2px; position: relative; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li .buddydrive-icon img                                            { max-height: 100%; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li:nth-child(even)                                                 { padding-left: 7.5px; }
body.buddypress div#buddydrive-main ul#buddydrive-browser li:nth-child(odd)                                                  { padding-right: 7.5px; }
body.buddypress div#buddydrive-main .buddydrive-actions a                                                                    { height: 30px!important; width: 35px!important; padding: 7px 10px!important; }
body.buddypress div#buddydrive-main .buddydrive-actions a.buddydrive-owner                                                   { padding: 0!important; width: 30px!important; float: left!important; margin-right: 5px!important; }
body.buddypress div#buddydrive-main .buddydrive-actions a.buddydrive-edit:before,
body.buddypress div#buddydrive-main .buddydrive-actions a.buddydrive-share:before                                            { font-size: 11px; width: auto; height: auto; }

body.buddypress div#buddydrive-main nav.buddydrive-toolbar input[type=search]#buddydrive-search-input                        { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAAk1BMVEXy8vJFRUXq6urw8PDT09ORkZHm5uZgYGDPz8/IyMitra2jo6OWlpaOjo6CgoJycnJGRkbb29vAwMC8vLyoqKiFhYV9fX13d3dtbW1dXV1aWlpOTk5LS0ve3t7Ly8u1tbWYmJhvb29qampnZ2djY2NTU1NQUFDt7e3o6OjFxcWwsLCgoKCdnZ2JiYlpaWnf39/V1dW7Z1SDAAABfUlEQVRYw+3W2XKCQBAF0BlZZBMVFRH3NWrU5P+/LtNjiMQhLxdS5UPfxy77VDPToqIlmg2DDDLIIIMMMviPoB2M1tvbOErcRkDb2ct7ellg1QatqCdLaSc1wY9MPuW9Fui2NdINfdsbdCaFCINvGxLGi+Lxh/o0AxyMqP9SviCaeDZHwT55q99nQI+domCHju+p5tP62Bj4eajqvSrRwcChMSDFU9WNBYEj1To0N71N1wKBawX6ZjlVZQ8Ct6rTrh7ch8BN9SgxDI5V58Asd2lwCIwqF8RVy5QfIXCgwNxYkCV9uwUEHm96b8ytkWcMFGfVe+ib55C3QNCa0DvaLZcCqW8KBMVJknh6vB8jSVnBoAg1cF3oq5kvd/IeBwbF5S7s0jjuTuVPOjAoAmLMODAo+vHs4UyWq2JGEKR4TqbHzNNAfdT5FsMEBmlMz1/YbvHDoDPNINBMMWNv1wj4mDEOYdBMuJ+NXNEgmKy34Uv94WSQQQYZZJBBBv/IF/plD+Kf/74lAAAAAElFTkSuQmCC); background-position: right center; background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; }
body.buddypress div#buddydrive-main nav.buddydrive-toolbar input[type=search]#buddydrive-search-input::after                 { content: ""; position: absolute; right: 0;    background-color: #f2f2f2; border-color: #EAEAEA; }

body.buddypress div#buddydrive-main #buddydrive-remove-parent:before,
body.buddypress div#buddydrive-main #buddydrive-status div.buddydrive-feedback p:before,
body.buddypress div#buddydrive-main .buddydrive-actions a:before,
body.buddypress div#buddydrive-main form.buddydrive-item-details .buddydrive-object-remove:before,
body.buddypress div#buddydrive-main span.icon-privacy:before,
body.buddypress div#buddydrive-main ul.subsubsub li:nth-child(n+2):before                                                    { font-size: 16px; }

body.buddypress div#buddydrive-main #buddydrive-actions-form #buddydrive-bulk-edit button                                    { margin-bottom: 15px; }

/*
  ========================================
  Plugin: BuddyPress Activity Plus
  ========================================
*/

body .bpfb_form_container input,
body .bpfb_actions_container input                                   { width: auto!important; }
body .bpfb_form_container,
body .bpfb_actions_container                                         { background: none; padding: 0; }
body .bpfb_form_container iframe,
body .bpfb_actions_container iframe                                  { max-width: 100%; }
body .bpfb_toolbar_container a:hover,
body .bpfb_toolbar_container a:focus                                 { text-decoration: none; }
body .bpfb_controls_container .qq-upload-button                      { width: auto; }
body .bpfb_controls_container input[type="text"]                     { margin-bottom: 15px; }
body .bpfb_controls_container .qq-uploader                           { padding: 0; border: 0; }