/**
 * Snax plugin integration
 */
body.snax-page-frontend-submission.g1-has-mobile-logo .g1-header {
  display: none; }

body.snax-page-frontend-submission.g1-has-mobile-logo .g1-navbar .g1-logo-small-wrapper {
  display: block; }

.snax {
  /* Formats */ }
  .snax .snax-format {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    .snax .snax-format .snax-format-desc {
      opacity: 1;
      font-family: "Roboto", "Arial", sans-serif;
      color: #999; }
  @media only screen and (min-width: 769px) {
    .snax .snax-formats-3 > li,
    .snax .snax-formats-5 > li,
    .snax .snax-formats-9 > li,
    .snax .snax-formats-6 > li {
      width: 33.33333%; }
    .snax .snax-formats-4 > li,
    .snax .snax-formats-7 > li,
    .snax .snax-formats-8 > li,
    .snax .snax-formats-10 > li {
      width: 25%; } }
  @media only screen and (min-width: 1025px) {
    .snax .snax-formats .snax-format {
      padding-right: 30px;
      padding-left: 30px; } }

.snax-xofy {
  font-family: "Roboto", "Arial", sans-serif; }
  .snax-xofy .snax-xofy-x,
  .snax-xofy .snax-xofy-y {
    font-weight: 700; }

ul.tagit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding-right: 8px;
  padding-left: 8px; }
  ul.tagit li.tagit-new {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }

.snax-tabs-nav {
  font-family: "Poppins", sans-serif; }

.snax-actions {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px; }

.snax-item-media .snax-item-media-meta {
  font-size: 13px; }

.snax-voting .snax-voting-upvote::before {
  font-family: "bimber";
  content: "\e006"; }

.snax-voting .snax-voting-downvote::before {
  font-family: "bimber";
  content: "\e003"; }

.snax-voting .snax-voting-score {
  font-family: "Roboto", "Arial", sans-serif; }

.snax .snax-form-side #drag-drop-area input[type=button] {
  padding: 3px 20px;
  font-size: 12px; }

.snax-item {
  position: relative; }
  .snax-item .snax-referral-form {
    float: left;
    margin-right: 10px; }
  .snax-item .snax-item-parent {
    margin-top: -1.25em; }
  .snax-item .snax-item-meta {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300; }
    .snax-item .snax-item-meta strong {
      font-weight: 500; }
    .snax-item .snax-item-meta .snax-item-date {
      font-size: 13px; }
  .snax-item .snax-item-share {
    text-align: center; }
  .snax-item .snax-item-title {
    margin-bottom: 1rem; }
    .snax-item .snax-item-title > a {
      color: inherit; }
      .snax-item .snax-item-title > a:after {
        float: left;
        margin-right: 8px;
        font: normal 25px "snaxicon";
        line-height: inherit;
        content: "\e002";
        opacity: 0.2; }
      .snax-item .snax-item-title > a:hover:after {
        opacity: 0.999; }

.snax-status-approved:before {
  display: inline-block;
  margin-left: 0.333em;
  vertical-align: middle;
  font: 16px/0.5 "bimber";
  content: "\e031";
  color: #6f9a37; }

.snax-status-pending:before {
  display: inline-block;
  margin-left: 0.333em;
  vertical-align: middle;
  font: 16px/0.5 "bimber";
  content: "\e031"; }

@media only screen and (min-width: 820px) {
  .snax .snax-form-frontend-without-media .snax-form-main {
    width: 66.66667%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto; } }

.snax .snax-object-container .g1-fluid-wrapper,
.snax .snax-item-embed-code .g1-fluid-wrapper {
  margin-bottom: 0; }

.snax .snax-wpsl .wp-social-login-provider-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.snax .snax-wpsl .wp-social-login-provider {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 6px 6px 0;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.snax .snax-voting .snax-voting-score {
  font-size: 13px;
  font-weight: 300; }

.snax .snax-voting-container .snax-voting-container-title {
  margin-bottom: 1rem; }

.snax .snax-voting-large {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .snax .snax-voting-large .snax-voting-score {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .snax .snax-voting-large .snax-voting-score strong {
      display: block; }
  .snax .snax-voting-large .snax-voting-upvote:before,
  .snax .snax-voting-large .snax-voting-downvote:before {
    font-size: 42px; }

.snax .snax-item-share-toggle {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300; }
  .snax .snax-item-share-toggle:before {
    font: 14px/1 "bimber", sans-serif;
    content: "\e011"; }

.snax .snax-item-media-meta {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300; }

.snax .snax-actions .snax-action-links {
  border-width: 0;
  -webkit-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07); }
  .snax .snax-actions .snax-action-links .snax-action-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 13px;
    line-height: 1.25;
    opacity: 1;
    color: inherit; }

.snax .snax-note-success {
  padding-top: 2.5em;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #8cbe4b;
  color: white;
  color: rgba(255, 255, 255, 0.666); }
  .snax .snax-note-success:after {
    display: block;
    margin-top: 2.5em;
    content: ""; }
  .snax .snax-note-success .snax-note-icon {
    background-color: #fff;
    color: #8cbe4b; }
  .snax .snax-note-success .snax-note-title {
    color: #fff;
    margin-bottom: 0.25em; }
  .snax .snax-note-success a {
    color: #fff; }

.snax .snax-edit-post-row-legal {
  font-size: 13px; }

.snax .snax-item-nav {
  margin: 1.5em 0; }

.snax .snax-item-prev {
  float: right;
  width: 49%;
  margin: 0 0 0.5em;
  width: calc( 50% - 5px - 10px);
  margin-right: calc( 10px); }
  .snax .snax-item-prev:before {
    margin-left: 0;
    content: ""; }

.snax .snax-item-next {
  float: left;
  width: 49%;
  margin: 0 0 0.5em;
  width: calc( 50% - 5px - 10px);
  margin-left: calc( 10px); }
  .snax .snax-item-next:after {
    margin-right: 0;
    content: ""; }

.snax .snax-item-back {
  display: table;
  clear: both;
  margin: 0.5em auto; }

.snax span.snax-item-prev,
.snax span.snax-item-next {
  color: transparent;
  opacity: 0.333; }

.snax-item-box {
  position: relative; }
  .snax-item-box .snax-item-share {
    position: absolute;
    right: auto;
    left: 100%;
    top: 0;
    margin-left: 6px; }
    .snax-item-box .snax-item-share .snax-item-share-toggle {
      display: block;
      overflow: hidden;
      width: 32px;
      height: 32px;
      font-size: 0;
      text-align: center;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border-color: #c5c5c5;
      background-color: #c5c5c5;
      color: #fff; }
      .snax-item-box .snax-item-share .snax-item-share-toggle:before {
        margin: 0;
        font-size: 18px;
        line-height: 32px; }
    .snax-item-box .snax-item-share .snax-item-share-content {
      overflow: hidden;
      right: auto;
      left: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }

.g1-navbar .snax-button-create {
  display: none;
  float: left;
  margin: 6px 20px 6px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1; }
  @media only screen and (min-width: 601px) {
    .g1-navbar .snax-button-create {
      display: block; } }
  .g1-navbar .snax-button-create:hover {
    color: #fff; }

.snax-widget-cta .g1-box-icon:before {
  content: "\e021"; }

.snax .snax-item-actions .snax-voting {
  margin-top: 10px; }

#snax-popup-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.snax .snax-list-collection-item > div {
  margin-bottom: 0; }
  .snax .snax-list-collection-item > div > a {
    float: none;
    width: auto;
    margin-left: 0;
    margin-bottom: 0.75rem; }

.wp-caption-text .snax-figure-source {
  text-decoration: none; }
  .wp-caption-text .snax-figure-source:before {
    font-size: 13px;
    text-decoration: underline;
    content: attr(data-snax-placeholder); }

.g1-canvas-content .snax-button-create {
  display: block;
  margin-bottom: 1.5rem; }

.snax .snax-item-author > a {
  color: #000; }

.snax .snax-voting-simple {
  margin-left: 15px; }

.entry-tpl-stream .snax-voting-simple .snax-voting-upvote {
  padding: 8px;
  margin-left: 1px;
  border-color: #e6e6e6;
  background-color: #f2f2f2;
  color: #999;
  border-radius: 0 0 0 0;
  opacity: 1 !important; }

.entry-tpl-stream .snax-voting-simple .snax-voting-downvote {
  padding: 8px;
  margin-right: 0;
  border-color: #e6e6e6;
  background-color: #f2f2f2;
  color: #999;
  border-radius: 0 0 0 0;
  opacity: 1 !important; }

/* Quizzes */
.snax .snax-quiz-result-score {
  margin-top: 0; }

.snax .snax-quiz-result-title {
  margin-top: -0.75rem; }

@media only screen and (max-width: 800px) {
  .snax-quiz-button-start-quiz,
  .snax-quiz-button-restart-quiz {
    width: 90%; } }

/* Upload form */
.snax .snax-media-upload-form .snax-load-image-from-url-area {
  font-size: 13px;
  line-height: 20px;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 0; }
  .snax .snax-media-upload-form .snax-load-image-from-url-area .snax-load-image-from-url-button {
    margin-top: 1em; }

.snax .snax-media-upload-form .snax-drag-drop-info + p {
  opacity: 0.666;
  margin-bottom: 10px; }

.snax .snax-tab-content-featured-image .snax-drag-drop-info:before {
  font-size: 38px; }

.snax-item-comments .comment-form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px; }
  .snax-item-comments .comment-form .form-submit {
    margin-bottom: 0px; }
    .snax-item-comments .comment-form .form-submit .submit {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }

.snax-item-embed-facebook {
  text-align: center; }

.snax-bar {
  display: block;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 20px; }
  .snax-bar:after {
    display: table;
    clear: both;
    content: ""; }
  .snax-bar .g1-arrow {
    margin-left: 20px; }
  .snax-bar .snax-li-count-0 {
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px); }

.snax-bar-details {
  display: block;
  padding: 5px 0; }

.snax-bar-details-top {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.snax-bar-details-bottom {
  font-size: 13px;
  line-height: 18px; }

@media only screen and (min-width: 601px) {
  .snax-bar .g1-arrow {
    float: right; }
  .snax-bar .snax-bar-details {
    overflow: hidden; } }

@media only screen and (min-width: 1025px) {
  .entry-tpl-feat-stickies .entry-actions,
  .entry-tpl-feat-stickies .snax-item-actions,
  .entry-tpl-index-stickies .entry-actions,
  .entry-tpl-index-stickies .snax-item-actions {
    border-top-width: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .entry-tpl-feat-stickies .entry-actions .snax-item-share,
    .entry-tpl-feat-stickies .snax-item-actions .snax-item-share,
    .entry-tpl-index-stickies .entry-actions .snax-item-share,
    .entry-tpl-index-stickies .snax-item-actions .snax-item-share {
      width: 100%; }
    .entry-tpl-feat-stickies .entry-actions .snax-voting-simple,
    .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple,
    .entry-tpl-index-stickies .entry-actions .snax-voting-simple,
    .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple {
      display: block;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0; }
      .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-downvote,
      .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-downvote,
      .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-downvote,
      .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-downvote {
        display: block;
        max-width: 60px;
        width: 100%;
        margin: 0; }
      .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-score,
      .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-score,
      .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-score,
      .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-score {
        display: block;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        margin: 0; }
        .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-score strong,
        .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-score strong,
        .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-score strong,
        .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-score strong {
          display: block;
          font-size: 20px; } }

/**
 * Snax plugin integration
 */
.snax .snax-tabs-nav .snax-tabs-nav-item {
  border-color: #e6e6e6;
  border-bottom-color: #ccc;
  background-color: #e6e6e6;
  color: #999;
  font-size: 14px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  letter-spacing: 0.05em; }
  .snax .snax-tabs-nav .snax-tabs-nav-item:first-child, .snax .snax-tabs-nav .snax-tabs-nav-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }

.snax .snax-tabs-nav .snax-tabs-nav-item-current {
  position: relative;
  border-color: #ccc;
  border-bottom-color: transparent;
  background-color: transparent;
  color: #666; }

.snax .snax-item-embed-code blockquote {
  margin-right: 0; }

.snax .snax-item-embed-code {
  background: #f6f6f6; }
  .snax .snax-item-embed-code iframe {
    margin: 0 auto; }
  .snax .snax-item-embed-code .twitter-tweet {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 520px !important;
    max-width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important; }
  .snax .snax-item-embed-code .instagram-media,
  .snax .snax-item-embed-code .instagram-media-registered {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none !important;
    border-radius: 0 !important; }
  @media only screen and (min-width: 520px) {
    .snax .snax-item-embed-code .twitter-tweet,
    .snax .snax-item-embed-code .instagram-media,
    .snax .snax-item-embed-code .instagram-media-registered {
      border-width: 10px !important;
      border-style: solid !important;
      border-color: #f6f6f6 !important; } }

.snax .snax-voting-container .snax-voting-container-title {
  margin-bottom: 1rem; }

@media only screen and (min-width: 1025px) {
  .snax-items .snax-ad-location {
    margin-right: 120px; } }

.entry-tpl-bunchy .snax-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px 0;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #e6e6e6; }

@media only screen and (min-width: 1025px) {
  .entry-tpl-feat-stickies .snax-voting .snax-voting-score strong {
    display: block; }
  .entry-tpl-index-stickies .snax-voting .snax-voting-score strong {
    display: block; }
  .entry-tpl-index-stickies .snax-item-share {
    display: block; }
  .entry-tpl-index-stickies .snax-voting + .snax-item-share {
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e6e6e6; }
    .entry-tpl-index-stickies .snax-voting + .snax-item-share:hover {
      border-color: transparent; }
  .entry-tpl-index-stickies .snax-item-actions .snax-actions {
    margin-right: 0;
    margin-left: 0; }
  .entry-tpl-index-stickies .snax-item-actions .snax-actions:first-child {
    margin-top: 0; }
  .entry-tpl-index-stickies .snax-item-actions .snax-action-links {
    right: 0;
    left: auto; } }

.snax-cta-body:before {
  display: inline-block;
  margin-bottom: 0.25em;
  font-size: 51px;
  line-height: 1;
  font-family: "bimber";
  content: "\e032"; }

.snax-button-create:before {
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  font: 17px/12px "bimber";
  content: "\e021"; }
