.qwModalFormOpen #qwModalForm {display:block;}
#qwModalForm {display:none;position:fixed;top:0;left:0;z-index:9000;width:100%;min-height:100%;height:100%;overflow:hidden;padding:0px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#qwModalForm .container {background:#FFF;margin:0 auto;padding:60px 30px 30px 30px;height:100%;padding: 30px ; overflow:auto;}
#qwModalForm .container iframe {width:100%;border:none;overflow:auto;height:100%;}
#qw-closemodal {color:#FF00CB !important; position: fixed;top: 40px;right: 30px;z-index: 900000;display: block;height: 40px;width: 40px;font-size:40px;text-decoration: none !important;}
#qw-iconsMarket .icon {cursor: pointer;font-size:52px;background: #efefef;margin-right: 0;}
#qw-iconsMarket .icon:hover {background:#FF00CB;color:#FFF !important;}
#qw-iconsMarket input {display:none;}
body.qwModalFormOpen {overflow:hidden !important;}
.bigicon {font-size:24px;float:left;margin-right:20px;}
.form-table.meta_box .meta_box_repeatable td a.qw-iconreference-open {display:inline-block;}



.glyphs.character-mapping{margin:0;padding:0;color:rgba(0,0,0,0.5);}
.glyphs.character-mapping li{margin:0 30px 20px 0;display:inline-block;width:90px}
.glyphs.character-mapping .icon{margin:10px 0 10px 15px;padding:15px;position:relative;width:55px;height:55px;color:#162a36 !important;overflow:hidden;-webkit-border-radius:3px;border-radius:3px;font-size:32px;}
.glyphs.character-mapping .icon svg{fill:#000}
.glyphs.character-mapping input{margin:0;padding:5px 0;line-height:12px;font-size:12px;display:block;width:100%;border:1px solid #d8e0e5;-webkit-border-radius:5px;border-radius:5px;text-align:center;outline:0;}
.glyphs.character-mapping input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
.glyphs.character-mapping input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
.glyphs.css-mapping{margin:0;padding:0;color:rgba(0,0,0,0.5);-webkit-border-radius:3px;border-radius:3px;}
.glyphs.css-mapping li{margin:0 2px 4px 2px;padding:0;display:inline-block;overflow:hidden}
.glyphs.css-mapping .icon{margin:0;margin-right:10px;padding:13px;height:50px;width:50px;color:#162a36 !important;overflow:hidden;float:left;font-size:24px}
.glyphs.css-mapping input{margin:0;margin-top:5px;padding:8px;line-height:16px;font-size:16px;display:block;width:150px;height:40px;border:1px solid #d8e0e5;-webkit-border-radius:5px;border-radius:5px;background:#fff;outline:0;float:right;}
.glyphs.css-mapping input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
.glyphs.css-mapping input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}

      

 i.mce-i-icon {
	font: normal 20px/1 'dashicons';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px;
}

