@charset "UTF-8";
@font-face {font-family: "qticons";src:url("fonts/qticons.eot");src:url("fonts/qticons.eot?#iefix") format("embedded-opentype"),url("fonts/qticons.woff") format("woff"),url("fonts/qticons.ttf") format("truetype"),url("fonts/qticons.svg#qticons") format("svg");font-weight: normal;font-style: normal;}
[data-qticon]:before {font-family: "qticons" !important;content: attr(data-icon);font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.qticon:before,[class^="qticon-"]:before,[class*=" qticon-"]:before {font-family: "qticons" !important;font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}



.qticon-amazon:before {
  content: "a";
}
.qticon-beatport:before {
  content: "b";
}
.qticon-cd:before {
  content: "c";
}
.qticon-chevron-right:before {
  content: "d";
}
.qticon-eq:before {
  content: "e";
}
.qticon-googleplus:before {
  content: "f";
}
.qticon-man:before {
  content: "g";
}
.qticon-phone:before {
  content: "h";
}
.qticon-resident-advisor:before {
  content: "i";
}
.qticon-space:before {
  content: "j";
}
.qticon-whatpeopleplay:before {
  content: "k";
}
.qticon-wordpress:before {
  content: "l";
}
.qticon-yahoo:before {
  content: "m";
}
.qticon-youtube:before {
  content: "n";
}
.qticon-zoom-out:before {
  content: "o";
}
.qticon-cart:before {
  content: "p";
}
.qticon-cassette:before {
  content: "q";
}
.qticon-download:before {
  content: "r";
}
.qticon-event:before {
  content: "s";
}
.qticon-headphones:before {
  content: "t";
}
.qticon-map:before {
  content: "u";
}
.qticon-photobucket:before {
  content: "v";
}
.qticon-reverbnation:before {
  content: "w";
}
.qticon-star:before {
  content: "x";
}
.qticon-stop:before {
  content: "y";
}
.qticon-th:before {
  content: "z";
}
.qticon-th-large:before {
  content: "A";
}
.qticon-thunder:before {
  content: "B";
}
.qticon-zoom-in:before {
  content: "C";
}
.qticon-torso:before {
  content: "D";
}
.qticon-triplevision:before {
  content: "E";
}
.qticon-tumblr:before {
  content: "F";
}
.qticon-twitter:before {
  content: "G";
}
.qticon-upload:before {
  content: "H";
}
.qticon-vimeo:before {
  content: "I";
}
.qticon-volume:before {
  content: "J";
}
.qticon-soundcloud:before {
  content: "K";
}
.qticon-sound:before {
  content: "L";
}
.qticon-skype:before {
  content: "M";
}
.qticon-skip-forward:before {
  content: "N";
}
.qticon-skip-fast-forward:before {
  content: "O";
}
.qticon-skip-fast-backward:before {
  content: "P";
}
.qticon-skip-backward:before {
  content: "Q";
}
.qticon-share:before {
  content: "R";
}
.qticon-search:before {
  content: "S";
}
.qticon-rss:before {
  content: "T";
}
.qticon-rewind:before {
  content: "U";
}
.qticon-pinterest:before {
  content: "V";
}
.qticon-menu:before {
  content: "W";
}
.qticon-heart:before {
  content: "X";
}
.qticon-exclamationmark:before {
  content: "Y";
}
.qticon-close:before {
  content: "Z";
}
.qticon-chevron-up:before {
  content: "0";
}
.qticon-cd-note:before {
  content: "1";
}
.qticon-bebo:before {
  content: "2";
}
.qticon-arrow-down:before {
  content: "3";
}
.qticon-arrow-expand:before {
  content: "4";
}
.qticon-behance:before {
  content: "5";
}
.qticon-chat-bubble:before {
  content: "6";
}
.qticon-arrow-left:before {
  content: "7";
}
.qticon-blogger:before {
  content: "8";
}
.qticon-chat-bubbles:before {
  content: "9";
}
.qticon-close-sign:before {
  content: "!";
}
.qticon-exclamationmark-sign:before {
  content: "\"";
}
.qticon-help-buoy:before {
  content: "#";
}
.qticon-minus:before {
  content: "$";
}
.qticon-plane:before {
  content: "%";
}
.qticon-play:before {
  content: "&";
}
.qticon-plus:before {
  content: "'";
}
.qticon-plus-sign:before {
  content: "(";
}
.qticon-power:before {
  content: ")";
}
.qticon-questionmark:before {
  content: "*";
}
.qticon-questionmark-sign:before {
  content: "+";
}
.qticon-quote:before {
  content: ",";
}
.qticon-record:before {
  content: "-";
}
.qticon-replay:before {
  content: ".";
}
.qticon-pencil:before {
  content: "/";
}
.qticon-magnet:before {
  content: ":";
}
.qticon-google:before {
  content: ";";
}
.qticon-empty:before {
  content: "<";
}
.qticon-chevron-light-up:before {
  content: "=";
}
.qticon-at-sign:before {
  content: ">";
}
.qticon-at:before {
  content: "?";
}
.qticon-arrow-up:before {
  content: "@";
}
.qticon-arrow-shrink:before {
  content: "[";
}
.qticon-arrow-right:before {
  content: "]";
}
.qticon-arrow-move-up:before {
  content: "^";
}
.qticon-arrow-move-right:before {
  content: "_";
}
.qticon-arrow-move-left:before {
  content: "`";
}
.qticon-arrow-move-down:before {
  content: "{";
}
.qticon-briefcase:before {
  content: "|";
}
.qticon-chat-bubbles-outline:before {
  content: "}";
}
.qticon-comment:before {
  content: "~";
}
.qticon-facebook:before {
  content: "\\";
}
.qticon-home:before {
  content: "\e000";
}
.qticon-minus-sign:before {
  content: "\e001";
}
.qticon-mixcloud:before {
  content: "\e002";
}
.qticon-music:before {
  content: "\e003";
}
.qticon-mute:before {
  content: "\e004";
}
.qticon-navigate:before {
  content: "\e005";
}
.qticon-news:before {
  content: "\e006";
}
.qticon-pause:before {
  content: "\e007";
}
.qticon-paypal:before {
  content: "\e008";
}
.qticon-loop:before {
  content: "\e009";
}
.qticon-gear:before {
  content: "\e00a";
}
.qticon-eject:before {
  content: "\e00b";
}
.qticon-chevron-light-right:before {
  content: "\e00c";
}
.qticon-caret-up:before {
  content: "\e00d";
}
.qticon-caret-right:before {
  content: "\e00e";
}
.qticon-caret-left:before {
  content: "\e00f";
}
.qticon-card:before {
  content: "\e010";
}
.qticon-caret-down:before {
  content: "\e011";
}
.qticon-camera:before {
  content: "\e012";
}
.qticon-checkmark:before {
  content: "\e013";
}
.qticon-contrast:before {
  content: "\e014";
}
.qticon-fastforward:before {
  content: "\e015";
}
.qticon-itunes:before {
  content: "\e016";
}
.qticon-juno:before {
  content: "\e017";
}
.qticon-lastfm:before {
  content: "\e018";
}
.qticon-linkedin:before {
  content: "\e019";
}
.qticon-list:before {
  content: "\e01a";
}
.qticon-location:before {
  content: "\e01b";
}
.qticon-fullscreen:before {
  content: "\e01c";
}
.qticon-earth:before {
  content: "\e01d";
}
.qticon-chevron-light-left:before {
  content: "\e01e";
}
.qticon-chevron-light-down:before {
  content: "\e01f";
}
.qticon-chevron-left:before {
  content: "\e020";
}
.qticon-chevron-down:before {
  content: "\e021";
}
.qticon-checkmark-sign:before {
  content: "\e022";
}
.qticon-deviantart:before {
  content: "\e023";
}
.qticon-fire:before {
  content: "\e024";
}
.qticon-flickr:before {
  content: "\e025";
}
.qticon-forrst:before {
  content: "\e026";
}
.qticon-forward:before {
  content: "\e027";
}
.qticon-dribbble:before {
  content: "\e028";
}
.qticon-digg:before {
  content: "\e029";
}
.qticon-instagram:before {
  content: "\e02a";
}
.qticon-qticons-itunespodcast:before {
  content: "\e02c";
}
.qticon-qticons-spotify:before {
  content: "\e02d";
}
.qticon-qticons-hearthis:before {
  content: "\e02b";
}
