/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */

/*
  ========================================
  bbPress Style
  ========================================
*/

#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-reply-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-content #subscription-toggle a,
#bbpress-forums div.bbp-reply-header,
#bbpress-forums div.bbp-the-content-wrapper input[type="button"],
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-content #subscription-toggle a,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums fieldset.bbp-form legend,
#bbpress-forums li.bbp-forum-freshness .bbp-author-name,
#bbpress-forums li.bbp-topic-freshness .bbp-author-name,
#bbpress-forums ul li.bbp-forum-info a,
#bbpress-forums ul li.bbp-topic-title > a,
.bbp-row-actions #subscription-toggle a,
div.bbp-breadcrumb,
div.bbp-topic-tags,
span.bbp-author-ip                                                   { font-weight: bold; }

#bbpress-forums hr                                                   { margin: 0 0 24px 0 }
#bbpress-forums h2.entry-title                                       { position: relative; margin: 0 0 30px; font-size: 16px; }
#bbpress-forums                                                      { background: transparent; clear: both; margin-bottom: 20px; overflow: hidden; position: relative; }
#bbpress-forums div.hentry                                           { height: auto; width: 100%; margin-bottom: 15px; background-color: #fff; position: relative; overflow: hidden; }
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header                                 { font-size: 12px; }
#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even                                    { background-color: #fee }
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd                                     { background-color: #fdd }
#bbpress-forums .status-closed,
#bbpress-forums .status-closed a                                     { color: #ccc }
#bbpress-forums ul                                                   { background: none; list-style: none; margin: 0; padding: 0; }
#bbpress-forums ul.bbp-threaded-replies                              { margin-left: 50px }
#bbpress-forums li                                                   { background: none; margin: 0; list-style: none; }

.bbp-topic-reply-count::before,
.bbp-topic-voice-count::before,
.bbp-forum-reply-count::before,
.bbp-forum-topic-count::before                                       { border-top: 3px double #eee; content: ""; width: 20%; display: inline-block; margin-right: 10%; height: 5px; }

.bbp-topic-reply-count::after,
.bbp-topic-voice-count::after,
.bbp-forum-reply-count::after,
.bbp-forum-topic-count::after                                        { border-top: 3px double #eee; content: ""; width: 20%; display: inline-block; margin-left: 10%; height: 5px; }

#bbpress-forums .forum-titles li.bbp-forum-reply-count::before,
#bbpress-forums .forum-titles li.bbp-forum-freshness::before,
#bbpress-forums .forum-titles li.bbp-forum-topic-count::before,
#bbpress-forums .forum-titles li.bbp-forum-info::before,
#bbpress-forums .forum-titles li.bbp-topic-freshness::before,
#bbpress-forums .forum-titles li.bbp-topic-reply-count::before,
#bbpress-forums .forum-titles li.bbp-topic-voice-count::before,
#bbpress-forums .forum-titles li.bbp-topic-title::before             { display: block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 30px; margin: 0; color: #999; content: "\f454"; border: 0; width: auto; height: auto; }

#bbpress-forums .forum-titles li.bbp-forum-freshness::before,
#bbpress-forums .forum-titles li.bbp-topic-freshness::before         { content: "\f4b5" }
#bbpress-forums .forum-titles li.bbp-forum-reply-count::before,
#bbpress-forums .forum-titles li.bbp-topic-reply-count::before       { content: "\f11c" }
#bbpress-forums .forum-titles li.bbp-forum-topic-count::before       { content: "\f3b2" }
#bbpress-forums .forum-titles li.bbp-topic-voice-count::before       { content: "\f3ad" }
#bbpress-forums .forum-titles li.bbp-forum-info::before,
#bbpress-forums .forum-titles li.bbp-topic-title::before             { content: "\f38d"; margin-left: 9px; }

#bbpress-forums .forum-titles li.bbp-forum-reply-count::after,
#bbpress-forums .forum-titles li.bbp-forum-freshness::after,
#bbpress-forums .forum-titles li.bbp-forum-topic-count::after,
#bbpress-forums .forum-titles li.bbp-forum-info::after,
#bbpress-forums .forum-titles li.bbp-topic-freshness::after,
#bbpress-forums .forum-titles li.bbp-topic-reply-count::after,
#bbpress-forums .forum-titles li.bbp-topic-voice-count::after,
#bbpress-forums .forum-titles li.bbp-topic-title::after             { content: none; display: none; }

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results                                { overflow: hidden; clear: both; }
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer                                        { clear: both }
#bbpress-forums li.bbp-header                                        { padding: 25px 30px; text-align: center; background-color: #fff; margin-bottom: 25px; }
#bbpress-forums li.bbp-footer                                        { background: #fff; margin-bottom: 30px; padding: 25px 30px; text-align: center; }
#bbpress-forums li.bbp-header ul                                     { overflow: hidden; }
#bbpress-forums .bbp-forums-list                                     { padding-left: 20px; margin-top: 10px; }
#bbpress-forums .bbp-forums-list li                                  { display: inline-block; }
#bbpress-forums .bbp-forums-list li.bbp-forum                        { color: transparent; }
#bbpress-forums li.bbp-footer p                                      { margin: 0 }
#bbpress-forums li.bbp-forum-info,
#bbpress-forums li.bbp-topic-title                                   { float: left; text-align: left; width: 55%; }
#bbpress-forums ul a                                                 { color: #555; }
#bbpress-forums ul li.bbp-topic-title > a,
#bbpress-forums ul li.bbp-forum-info a                               { color: #555; display: block; text-align: left; margin-bottom: 15px; font-size: 20px; line-height: 1.5; }
#bbpress-forums ul li.bbp-forum-info .bbp-forums-list li a           { display: inline; margin-bottom: 5px; font-size: 13px; }
#bbpress-forums ul li.bbp-forum-info .bbp-forums-list li a::before   { content: "»"; margin-right: 5px; }

#bbpress-forums li.bbp-forum-topic-count,
#bbpress-forums li.bbp-topic-voice-count,
#bbpress-forums li.bbp-forum-reply-count,
#bbpress-forums li.bbp-topic-reply-count                             { float: left; text-align: center; width: 10%; }

#bbpress-forums li.bbp-forum-freshness,
#bbpress-forums li.bbp-topic-freshness                               { text-align: center; float: left; width: 22%; }
#bbpress-forums ul li.bbp-forum-freshness > a,
#bbpress-forums ul li.bbp-topic-freshness > a                        { font-style: italic; color: #999; }
#bbpress-forums li.bbp-forum-freshness .bbp-author-name,
#bbpress-forums li.bbp-topic-freshness .bbp-author-name              {}
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic                                 { padding: 30px 35px; margin-bottom: 40px; background-color: #fff; position: relative; overflow: hidden; }
#bbpress-forums li.bbp-body ul.topic                                 { margin-bottom: 30px }

#bbpress-forums li.bbp-header div.bbp-topic-content span#subscription-toggle,
#bbpress-forums li.bbp-header div.bbp-topic-content span#favorite-toggle,
#bbpress-forums li.bbp-header div.bbp-reply-content span#subscription-toggle,
#bbpress-forums li.bbp-header div.bbp-reply-content span#favorite-toggle  { font-size: 11px; padding: 3px 5px; text-transform: uppercase; float: right; }

#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3                               { background: none; border: none; margin: 8px 0; padding: 0; text-transform: none; }

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author                                 { float: left; text-align: center; width: 130px; }

#bbpress-forums div.bbp-forum-author .bbp-author-avatar,
#bbpress-forums div.bbp-topic-author .bbp-author-avatar,
#bbpress-forums div.bbp-reply-author .bbp-author-avatar              { position: relative; display: inline-block; margin: 12px auto 0 auto; }

#bbpress-forums div.bbp-forum-author .bbp-author-avatar:hover,
#bbpress-forums div.bbp-topic-author .bbp-author-avatar:hover,
#bbpress-forums div.bbp-reply-author .bbp-author-avatar:hover        { opacity: 0.8; }

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar                      { max-width: 100px; padding: 0px; width: 100%; height: auto; }

#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name               { margin: 0 12px; word-break: break-all; display: inline-block; }
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name               { clear: left; display: block; color: #333; margin-top: 5px; }
#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role                { font-style: italic; color: #fff; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute; top: 15px; left: -30px; padding: 0 30px; font-size: 11px; opacity: 0.8; z-index: 5; }
#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author                      { float: left; margin: 0; padding: 0; width: 120px; }
#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content                     { margin-left: 140px; text-align: left; padding: 0 0 0 40px; }

/*
  ========================================
  Topic and reply content
  ========================================
*/

#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content                                { margin-left: 135px; padding: 12px 12px 12px 30px; text-align: left; }

/* Clearing hack */
#bbpress-forums div.bbp-topic-content #subscription-toggle a,
#bbpress-forums div.bbp-reply-content #subscription-toggle a         { color: #555; margin: 0; display: inline-block; border: none; height: auto; padding: 0 10px; background: none; }

#bbpress-forums div.bbp-topic-content a:focus,
#bbpress-forums div.bbp-reply-content a:focus,
#bbpress-forums div.bbp-topic-content a:hover,
#bbpress-forums div.bbp-reply-content a:hover                        { background: none; text-decoration: underline; }

#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6                             { clear: none; margin: 24px 0; padding: 0; }
#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img                            { max-width: 100% }
#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol                             { margin: 0 15px 15px; padding: 0; }
#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li                          { list-style-type: disc }
#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li                          { list-style-type: decimal }
#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li                       { list-style-type: lower-alpha }
#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li                    { list-style-type: upper-roman }
#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre                            { display: inline-block; background-color: #f9f9f9; border: 1px solid #ddd; padding: 0 5px; max-width: 95%; vertical-align: middle; margin-top: -3px; }
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre                            { display: block; margin: 0 0 24px; padding: 5px 10px; white-space: pre; overflow: auto; }
#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code                       { display: block; border: none; padding: 0; margin: 0; background-color: transparent; overflow: auto; max-width: 100%; }

/*
  ========================================
  Reply to
  ========================================
*/

#bbpress-forums div.bbp-reply-to                                     { margin-left: 130px; padding: 12px 12px 12px 0; text-align: right; }
#bbpress-forums div#bbp-cancel-reply-to                              { text-align: right }

/*
  ========================================
  Breadcrumb and Tags
  ========================================
*/

#bbpress-forums div.bbp-breadcrumb::before,
#bbpress-forums div.bbp-breadcrumb::after                            { display: table; content: ""; }
#bbpress-forums div.bbp-breadcrumb::after                            { clear: both; }
#bbpress-forums div.bbp-breadcrumb p                                 { margin-bottom: 0 }
div.bbp-breadcrumb,
div.bbp-topic-tags                                                   { background-color: #fff; margin-bottom: 25px; padding: 15px 20px; color: #454545; }
#bbpress-forums div.bbp-topic-tags p                                 { margin-bottom: 10px }
#bbpress-forums div.bbp-topic-tags p                                 { margin-bottom: 0 }
#bbp-topic-hot-tags                                                  { clear: both }

/*
  ========================================
  Search
  ========================================
*/

#bbpress-forums #bbp-search-form                                     { clear: left; background: #fff; padding: 15px; display: block; margin: 0 0 25px; }
#bbpress-forums #bbp-search-form .hidden                             { height: 0; width: 0; overflow: hidden; position: absolute; background: none; left: -999em; }

/*
  ========================================
  Admin Links
  ========================================
*/

#bbpress-forums span.bbp-admin-links                                 { float: right; color: #ddd; }
#bbpress-forums span.bbp-admin-links a                               { text-decoration: none; color: #b3b3b3; text-transform: capitalize; padding: 0 10px; }
#bbpress-forums span.bbp-admin-links a:hover                         { text-decoration: underline }
#bbpress-forums fieldset span.bbp-admin-links                        { float: left }
#bbpress-forums tr td span.bbp-admin-links a:hover                   { color: #ff4b33 }
#bbpress-forums td.bbp-topic-admin-links,
#bbpress-forums td.bbp-topic-counts  { width: 50% }
#bbpress-forums .bbp-forum-header a.bbp-forum-permalink,
#bbpress-forums .bbp-topic-header a.bbp-topic-permalink,
#bbpress-forums .bbp-reply-header a.bbp-reply-permalink              { float: right; margin-left: 10px; color: #b3b3b3; }
#bbpress-forums .bbp-reply-header .bbp-reply-post-date               { color: #666 }

/*
  ========================================
  Toggles
  ========================================
*/

.bbp-row-actions #favorite-toggle a                                  { text-decoration: none; padding: 2px 0 0 0; color: #7c7; border: 3px double #aca; background-color: transparent; width: 30px; height: 30px; display: block; font-size: 20px; line-height: 1; float: right; text-align: center; }
.bbp-row-actions #favorite-toggle a:hover                            { color: #5a5; border-color: #7c7; background-color: transparent; }
.bbp-row-actions #favorite-toggle span.is-favorite a                 { color: #faa; border: 3px double #faa; background-color: transparent; }
.bbp-row-actions #favorite-toggle span.is-favorite a:hover           { color: #c88; border-color: #c88; background-color: transparent; }
.bbp-row-actions #subscription-toggle a                              { text-decoration: none; padding: 2px; color: #7c7; width: 30px; height: 30px; float: right; font-size: 20px; }
.bbp-row-actions #subscription-toggle a:focus,
.bbp-row-actions #subscription-toggle a:hover                        { color: #5a5; border-color: #7c7; background-color: transparent; }
.bbp-row-actions #subscription-toggle span.is-subscribed a           { color: #D85D5D; display: inline-block; line-height: 1; padding: 2px; }
.bbp-row-actions #subscription-toggle span.is-subscribed a:hover     { color: #c88; border-color: #c88; background-color: transparent; }
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta                                     { margin: 5px 0 5px; padding: 0; word-wrap: break-word; }
#bbpress-forums p.bbp-topic-meta span                                { white-space: nowrap; font-style: normal; display: block; }
#bbpress-forums p.bbp-topic-meta span.bbp-topic-started-in           { margin: 10px 0 0; }
#bbpress-forums p.bbp-topic-meta span.bbp-topic-started-by           { margin: 20px 0 0; }
#bbpress-forums p.bbp-topic-meta span.bbp-topic-freshness-author a   { display: block; }
#bbpress-forums p.bbp-topic-meta span.bbp-topic-freshness-author .bbp-author-avatar       { position: relative; display: inline-block; margin: 15px 0; }
#bbpress-forums p.bbp-topic-meta span.bbp-topic-freshness-author .bbp-author-avatar:hover { opacity: 0.8; }

/*
  ========================================
  Pagination
  ========================================
*/

.bbp-pagination-count                                                { float: right; padding-top: 5px; }
.bbp-pagination-links                                                { float: left; list-style: none; }
.bbp-pagination-links a:hover                                        { color: #b3b3b3 }
.bbp-pagination-links span.current                                   { color: #3A4145; }
.bbp-pagination                                                      { float: left; width: 100%; margin-bottom: 30px; color: #888; }
.bbp-topic-pagination                                                { display: inline-block; margin: 5px 0; }
.bbp-topic-pagination a                                              { background-color: #f5f5f5; border: 0; }

/*
  ========================================
  Forms
  ========================================
*/

#bbpress-forums fieldset.bbp-form                                    { clear: left }
#bbpress-forums fieldset.bbp-form                                    { padding: 10px 20px 25px; margin-bottom: 10px; background-color: #fff; clear: none; display: block; margin-top: 10px; }
#bbpress-forums fieldset.bbp-form fieldset.bbp-form                  { border: 1px dashed #eee }
#bbpress-forums fieldset.bbp-form legend                             { float: left; border-bottom: 1px dashed #ddd; padding: 10px 0 15px; }
#bbpress-forums fieldset.bbp-form label                              { display: inline-block; margin-bottom: 10px; }
#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label                                        { width: 100px }
#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input                              { margin: 0 0 8px; }
textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content                                           { width: 97%; box-sizing: border-box; }
textarea#bbp_forum_content                                           { height: 210px }
#bbpress-forums fieldset.bbp-forum-form-attributes                   { width: 200px; float: right; clear: none; margin-left: 25px; }

/* Fix for too-long forum names, usually from conversion */
.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form                                                  { clear: left }
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img                     { margin-right: 0; padding: 10px; border: 1px solid #ddd; line-height: 0; background-color: #efefef; }
body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code                                 { background-color: #f0fff8; border: 1px solid #CEEFE1; display: block; padding: 8px; margin-top: 5px; width: 369px; }
#merge_tag,
#delete_tag                                                          { display: inline }
div.bbp-submit-wrapper                                               { margin-top: 15px; float: right; clear: both; }
p.form-allowed-tags                                                  { max-width: 100% }
#bbpress-forums input#bbp_topic_tags,
#bbpress-forums input#bbp_topic_title                                { width: 100% }

/*
  ========================================
  TinyMCE in themes
  ========================================
*/

#bbpress-forums div.bbp-the-content-wrapper                          { margin-bottom: 10px }
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content { padding: 15px; color: #999; width: 100%; display: block; border: 1px solid #E7E7E7; border-radius: 0; overflow: hidden; font-weight: normal; line-height: 2; margin: 0; }
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content:focus { border-color: #ddd; color: #454545; }
#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td                       { border: none; padding: 0; margin: 0; width: auto; }
#bbpress-forums div.bbp-the-content-wrapper input                    { padding: 5px; margin: 0 2px 0 0; }
#bbpress-forums div.bbp-the-content-wrapper input[type="button"]     { background: none; border: 0; -webkit-box-shadow: none; box-shadow: none; height: 40px; padding: 10px; width: auto; text-transform: uppercase; }
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-tool       { padding: 5px; min-height: 26px; border: 1px solid rgba(0, 0, 0, 0.07); border-bottom: 0; }
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar            { padding: 4px 4px 8px }
#bbpress-forums div.wp-editor-container                              { margin: 0; padding: 0; -webkit-box-shadow: 0 0 0 3px #FAFAFA; box-shadow: 0 0 0 3px #FAFAFA; }
#bbpress-forums div.bbp-the-content-wrapper .quicktags-toolbar       { border-top: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; border-bottom: 0; }

/*
  ========================================
  Edit User
  ========================================
*/

#bbpress-forums #bbp-your-profile fieldset                          { padding: 20px 20px 0 20px }
#bbpress-forums #bbp-your-profile fieldset div                      { margin-bottom: 20px; float: left; width: 100%; clear: left; }
#bbpress-forums #bbp-your-profile fieldset select                   { margin-bottom: 0 }
#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea                 { margin-bottom: 0; width: 60%; background: #f9f9f9; border: 1px solid #ddd; -webkit-box-shadow: none; box-shadow: none; padding: 5px 8px; border-radius: 0; }
#bbpress-forums #bbp-your-profile fieldset input:focus,
#bbpress-forums #bbp-your-profile fieldset textarea:focus           { border: 1px solid #ccc; -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); outline-color: rgba(240, 255, 240, 0.1); }
#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbo   { width: auto }
#bbpress-forums #bbp-your-profile fieldset legend                   { display: none }
#bbpress-forums #bbp-your-profile fieldset label[for]               { float: left; width: 20%; padding: 5px 20px 5px 0; text-align: right; cursor: pointer; }
#bbpress-forums #bbp-your-profile fieldset dl label[for]            { text-align: left; width: 60%; }
#bbpress-forums #bbp-your-profile fieldset span.description         { margin: 5px 0 0 20%; font-style: italic; float: left; clear: left; width: 60%; padding: 5px 8px; border: #cee1ef 1px solid; background-color: #f0f8ff; }
#bbpress-forums #bbp-your-profile fieldset fieldset                 { margin: 0; border: none; padding: 0; clear: none; float: none; }
#bbpress-forums #bbp-your-profile fieldset fieldset.password        { width: 60%; }
#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
#bbpress-forums #bbp-your-profile fieldset fieldset.password span   { width: 100% }
#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl { margin: 0 }
#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description { margin-left: 0; margin-bottom: 20px; }
#bbpress-forums #bbp-your-profile fieldset.submit button            { float: right }

/*
  ========================================
  Notices
  ========================================
*/

div.bbp-template-notice,
div.indicator-hint                                                   { margin: 0px 0 25px }
div.bbp-template-notice a:hover                                      { text-decoration: underline }
div.bbp-template-notice.info                                         { background-color: #fff; padding: 15px 20px; font-size: 12px; }
div.bbp-template-notice.important                                    { border: #e6db55 1px solid; background-color: #fffbcc; }
div.bbp-template-notice.error a,
div.bbp-template-notice.warning a                                    { color: #c00 }

/*
  ========================================
  Stickies
  ========================================
*/

.bbp-topics-front ul.super-sticky::before,
.bbp-topics ul.super-sticky::before,
.bbp-topics ul.sticky::before,
.bbp-forum-content ul.sticky::before                                 { content: ""; position: absolute; top: 20px; width: 0; height: 0; border: 10px solid; right: 35px; border-bottom-color: transparent!important; opacity: 0.8; border-top: 0; }
.bbp-topics-front ul.super-sticky::after,
.bbp-topics ul.super-sticky::after,
.bbp-topics ul.sticky::after,
.bbp-forum-content ul.sticky::after                                  { content: ""; position: absolute; top: 0px; width: 20px; height: 20px; right: 35px; opacity: 0.8; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAS1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////+DmQsHAAAAGHRSTlMAY9fIp3oI9/DSzby4sJt/d25VUz4lHw1jVBM+AAAAX0lEQVQI1z3MRxKAMBADwVmvTc5R/38pYAr6oNJpyOqa3yIt3y9C14UCYLMh6DgUBtuQPBpYdImkiWxSglTOAHN5f2iqZ6uGh0fMiP6G+1Zq+xzfJV9Xl3bgHA3AxpMLFJ0D4ZusrPEAAAAASUVORK5CYII=); background-repeat: no-repeat; background-position: center; }

/*
  ========================================
  Revisions
  ========================================
*/

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log         { border-top: 1px dashed #ddd; width: 100%; margin: 0; padding: 10px 0 0 0; color: #aaa; margin-top: 30px; font-size: 12px; }

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log a,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log a,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log a       { color: #aaa; }

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li      { list-style-type: none }

/*
  ========================================
  Widgets
  ========================================
*/

.bbp-login-form fieldset legend                                      { display: none }
.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input                                  { padding: 5px }
.bbp-login-form label                                                { width: 140px; display: inline-block; color: #666; }
#sidebar .bbp-login-form label                                       { width: 70px }
.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper                                  { margin-top: 10px }
.bbp-login-form .bbp-remember-me label                               { font-weight: normal; color: #9a9a9a; }
.bbp-login-form .bbp-submit-wrapper                                  {}
.bbp-login-form .bbp-login-links                                     { margin-top: 10px }
.bbp-login-form .bbp-login-links a                                   { float: left; clear: left; }

.bbp-logged-in::before,
.bbp-logged-in::after                                                { content: ""; display: table; }
.bbp-logged-in::after                                                { clear: both; }
.bbp-logged-in .user-submit                                          { padding: 0px; float: left; position: relative; }
.bbp-logged-in .user-submit:hover                                    { opacity: 0.8; }
.bbp-logged-in img.avatar                                            { height: 35px; width: 35px; display: block; }
.bbp-logged-in h4                                                    { margin: 10px 0 0 10px; float: left; font-size: 12px; }
.bbp-logged-in h4 a                                                  { color: #505050; }
.bbp-logged-in h4 a:hover                                            { color: #454545 }
.bbp-logged-in .button                                               { float: right; }
.widget.widget_display_stats dt                                      { font-weight: normal; float: left; width: 70%; line-height: 3; border-width: 0 0 1px 0; border-color: #eaeaea; border-style: dashed; }
.widget.widget_display_stats dt::before                              { content: "\f2b5"; display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 10px; }
.widget.widget_display_stats dd                                      { display: inline-block; width: 30%; text-align: right; line-height: 3; border-width: 0 0 1px 0; border-color: #eaeaea; border-style: dashed; }
.widget.widget_display_stats dl                                      { margin-bottom: 0 }
.widget.widget_display_stats dt:nth-last-of-type(1),
.widget.widget_display_stats dd:last-child                           { border-bottom: 0 }

/*
  ========================================
  Avatars
  ========================================
*/

#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar                   { width: 20px; height: 20px; margin: 0px 5px; position: relative; top: -1px; border: 1px solid rgba(0, 0, 0, 0.1); }
fieldset div.avatar                                                  { float: right }
#bbpress-forums p.bbp-topic-meta img.avatar                          { width: 70px; height: 70px; display: inline-block; margin: 0 auto; padding: 0px; }
#bbpress-forums .bbp-topic-title p.bbp-topic-meta img.avatar         { width: 35px; height: 35px; }
#bbpress-forums .bbp-topic-title p.bbp-topic-meta .bbp-author-avatar { position: relative; display: inline-block; margin: 0 5px; }
#bbpress-forums .bbp-topic-title p.bbp-topic-meta .bbp-author-avatar:hover { opacity: 0.8; }

/*
  ========================================
  User Pages
  ========================================
*/

#bbpress-forums h1                                                   { clear: none; padding-bottom: 10px; }
#bbpress-forums #bbp-user-wrapper                                    { float: left; width: 100%; }
#bbpress-forums .bbp-user-section                                    { /*overflow: auto */}
#bbpress-forums #bbp-user-wrapper h2.entry-title                     { margin: 0; padding-bottom: 10px; padding-top: 0; clear: none; }
#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form                  { clear: none }
#bbpress-forums #bbp-single-user-details                             { margin: 0; width: 150px; float: left; overflow: hidden; }
#bbpress-forums #bbp-single-user-details #bbp-user-avatar            { margin: 0; width: 150px; }
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar { border: none; height: 150px; padding: 0; margin: 0 0 20px 0; width: 150px; }
#bbpress-forums #bbp-single-user-details #bbp-user-description       { float: none; margin-left: 180px; }
#bbpress-forums #bbp-single-user-details #bbp-user-navigation        { float: none; margin: 0; }
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li     { margin: 0 }
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a      { padding: 5px 8px; display: block; border: 1px solid transparent; text-decoration: none; }
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a { background: #eee; opacity: 0.8; }
#bbpress-forums #bbp-user-body                                       { margin-left: 180px }
body.my-account #bbpress-forums                                      { border-top: none; padding-top: 0; margin-bottom: 0; }

/*
  ========================================
  User Capabilities
  ========================================
*/

#bbpress-forums dl.bbp-user-capabilities                             { display: inline-block; vertical-align: top; }
#bbpress-forums dl.bbp-user-capabilities dt                          { margin: 0 0 10px; text-transform: capitalize; }
#bbpress-forums dl.bbp-user-capabilities dd                          { margin: 0; padding: 0; }

/*
  ========================================
  BuddyPress Group Forums
  ========================================
*/

#bbpress-forums div.row-actions                                      { visibility: hidden }
#bbpress-forums li:hover > div.row-actions                           { visibility: visible }
#subscription-toggle                                                 { margin-bottom: 25px; display: block; }
#bbpress-forums .bbp-reply-content #subscription-toggle              { padding: 0; background-color: transparent; border: 0; margin: 0; }
body.reply-edit .reply                                               { float: none }
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry                                               { margin-bottom: 0; overflow: hidden; padding: 15px; }
div.bbp-reply-header                                                 { padding: 10px 0 }
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header                                                 { clear: both }
span.bbp-author-ip                                                   { color: #aaa; font-size: 11px; }

/*
  ========================================
  bbPress Modals
  ========================================
*/

.bbpress #link-modal-title                                           { height: 100px; background: none; line-height: inherit; }
.bbpress #link-selector                                              { overflow: auto; }
.bbpress #search-panel .query-results                                { position: static; }
.bbpress #wp-link ::-webkit-scrollbar-track                          { background-color: rgba(0, 0, 0, 0.1); }
.bbpress #wp-link .checkbox                                          { color: #999; font-size: 12px; }
.bbpress #wp-link .icheckbox                                         { border: 3px double rgba(255, 255, 255, 0.1); -webkit-box-shadow: none; box-shadow: none; background-color: transparent; margin-right: 10px; }
.bbpress #wp-link .icheckbox.checked::before                         { background: rgba(255, 255, 255, 0.3); opacity: 1; }
.bbpress #wp-link .icheckbox::before                                 { background: rgba(255, 255, 255, 0.2); }
.bbpress #wp-link .query-notice                                      { background-color: transparent; color: rgba(255, 255, 255, 0.5); border-color: rgba(255, 255, 255, 0.08); }
.bbpress #wp-link .query-results                                     { border-color: rgba(255, 255, 255, 0.1); background: rgba(0, 0, 0, 0.1); }
.bbpress #wp-link .query-results                                     { left: 20px; right: 20px; }
.bbpress #wp-link .submitbox                                         { background: none; border-top: 1px solid rgba(255, 255, 255, 0.02); height: 60px; }
.bbpress #wp-link li                                                 { background-color: rgba(0, 0, 0, 0.1); border-color: rgba(251, 251, 251, 0.1); color: #999; }
.bbpress #wp-link li.selected                                        { background: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.8); }
.bbpress #wp-link li:hover                                           { background: rgba(255, 255, 255, 0.1); color: #ccc; }
.bbpress #wp-link p.howto                                            { text-align: center }
.bbpress #wp-link-backdrop                                           { background: none; background-color: #333; }
.bbpress #wp-link-close                                              { top: 10px; right: 10px; }
.bbpress #wp-link-close:before                                       { font-size: 17px; }
.bbpress #wp-link-wrap #link-selector                                { top: 100px; bottom: 60px; }

.bbpress #wp-link .link-search-field,
.bbpress #wp-link label input[type=text]                             { border-color: rgba(255, 255, 255, 0.08); background-color: transparent; -webkit-box-shadow: none; box-shadow: none; margin: 0; height: 40px; width: 100%; max-width: 100%; }
.bbpress #wp-link .link-search-field:focus,
.bbpress #wp-link label input[type=text]:focus                       { border-color: rgba(255, 255, 255, 0.08); color: #999; }
.bbpress #wp-link .link-search-wrapper label,
.bbpress #wp-link #link-options label                                { width: 100%; max-width: 100%; font-weight: normal; }
.bbpress #wp-link #search-panel label span.search-label,
.bbpress #wp-link #link-options label span                           { max-width: 100%; width: 100%; text-align: left; padding: 0; font-weight: normal; display: block; }

.bbpress #wp-link .query-results:focus,
.bbpress .mce-checkbox:focus i.mce-i-checkbox,
.bbpress .mce-textbox.mce-focus,
.bbpress .mce-textbox:focus                                          { border-color: #232323; -webkit-box-shadow: none; box-shadow: none; }
