
.fa-monarch-bold:before { content: '\e800'; } /* '' */
.fa-monarch-italic:before { content: '\e801'; } /* '' */
.fa-monarch-underline:before { content: '\e802'; } /* '' */
.fa-monarch-eraser:before { content: '\e803'; } /* '' */
.fa-monarch-fullscreen:before { content: '\e804'; } /* '' */
.fa-monarch-header:before { content: '\e805'; } /* '' */
.fa-monarch-link:before { content: '\e806'; } /* '' */
.fa-monarch-picture:before { content: '\e807'; } /* '' */
.fa-monarch-list:before { content: '\e808'; } /* '' */
.fa-monarch-th-list:before { content: '\e809'; } /* '' */
.fa-monarch-asterisk:before { content: '\e80a'; } /* '' */
.fa-monarch-comment:before { content: '\e80b'; } /* '' */
.fa-monarch-search:before { content: '\e80c'; } /* '' */
.fa-monarch-export:before { content: '\e80d'; } /* '' */
.fa-monarch-list-bullet:before { content: '\e80e'; } /* '' */
.fa-monarch-cloud-upload:before { content: '\e80f'; } /* '' */
.fa-monarch-remove:before { content: '\e810'; } /* '' */
.fa-monarch-edit:before { content: '\e811'; } /* '' */
.fa-monarch-pic:before { content: '\e812'; } /* '' */
.fa-monarch-save:before { content: '\e813'; } /* '' */
.fa-monarch-facebook:before { content: '\e814'; } /* '' */
.fa-monarch-yahoo:before { content: '\e816'; } /* '' */
.fa-monarch-disqus:before { content: '\e818'; } /* '' */
.fa-monarch-reddit:before { content: '\e81a'; } /* '' */
.fa-monarch-foursquare:before { content: '\e81b'; } /* '' */
.fa-monarch-lastfm:before { content: '\e81c'; } /* '' */
.fa-monarch-tumblr:before { content: '\e81d'; } /* '' */
.fa-monarch-book:before { content: '\e81e'; } /* '' */
.fa-monarch-stackoverflow:before { content: '\e81f'; } /* '' */
.fa-monarch-github:before { content: '\e820'; } /* '' */
.fa-monarch-dribbble:before { content: '\e821'; } /* '' */
.fa-monarch-infinity:before { content: '\e822'; } /* '' */
.fa-monarch-star-circled:before { content: '\e823'; } /* '' */
.fa-monarch-mixi:before { content: '\e824'; } /* '' */
.fa-monarch-steam:before { content: '\e825'; } /* '' */
.fa-monarch-twitch:before { content: '\e826'; } /* '' */
.fa-monarch-vkontakte:before { content: '\e827'; } /* '' */
.fa-monarch-windows:before { content: '\e828'; } /* '' */
.fa-monarch-aim:before { content: '\e829'; } /* '' */
.fa-monarch-odnoklassniki:before { content: '\e82a'; } /* '' */
.fa-monarch-yandex:before { content: '\e82b'; } /* '' */
.fa-monarch-pinterest:before { content: '\e82c'; } /* '' */
.fa-monarch-cloud:before { content: '\e82d'; } /* '' */
.fa-monarch-linkedin-squared:before { content: '\e82e'; } /* '' */
.fa-monarch-at:before { content: '\e82f'; } /* '' */
.fa-monarch-twitter:before { content: '\e830'; } /* '' */
.fa-monarch-gplus:before { content: '\f05a'; } /* '' */
.fa-monarch-instagram:before { content: '\f05d'; } /* '' */
.fa-monarch-wordpress:before { content: '\f31d'; } /* '' */