@font-face {
  font-family: 'fontello-monarch';
  src: url('../font/fontello-monarch.eot?89197780');
  src: url('../font/fontello-monarch.eot?89197780#iefix') format('embedded-opentype'),
       url('../font/fontello-monarch.woff2?89197780') format('woff2'),
       url('../font/fontello-monarch.woff?89197780') format('woff'),
       url('../font/fontello-monarch.ttf?89197780') format('truetype'),
       url('../font/fontello-monarch.svg?89197780#fontello-monarch') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello-monarch';
    src: url('../font/fontello-monarch.svg?89197780#fontello-monarch') format('svg');
  }
}
*/
 
 [class^="fa-monarch-"]:before, [class*=" fa-monarch-"]:before {
  font-family: "fontello-monarch";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-monarch-bold:before { content: '\e800'; } /* '' */
.fa-monarch-italic:before { content: '\e801'; } /* '' */
.fa-monarch-underline:before { content: '\e802'; } /* '' */
.fa-monarch-eraser:before { content: '\e803'; } /* '' */
.fa-monarch-fullscreen:before { content: '\e804'; } /* '' */
.fa-monarch-header:before { content: '\e805'; } /* '' */
.fa-monarch-link:before { content: '\e806'; } /* '' */
.fa-monarch-picture:before { content: '\e807'; } /* '' */
.fa-monarch-list:before { content: '\e808'; } /* '' */
.fa-monarch-th-list:before { content: '\e809'; } /* '' */
.fa-monarch-asterisk:before { content: '\e80a'; } /* '' */
.fa-monarch-comment:before { content: '\e80b'; } /* '' */
.fa-monarch-search:before { content: '\e80c'; } /* '' */
.fa-monarch-export:before { content: '\e80d'; } /* '' */
.fa-monarch-list-bullet:before { content: '\e80e'; } /* '' */
.fa-monarch-cloud-upload:before { content: '\e80f'; } /* '' */
.fa-monarch-remove:before { content: '\e810'; } /* '' */
.fa-monarch-edit:before { content: '\e811'; } /* '' */
.fa-monarch-pic:before { content: '\e812'; } /* '' */
.fa-monarch-save:before { content: '\e813'; } /* '' */
.fa-monarch-facebook:before { content: '\e814'; } /* '' */
.fa-monarch-yahoo:before { content: '\e816'; } /* '' */
.fa-monarch-disqus:before { content: '\e818'; } /* '' */
.fa-monarch-reddit:before { content: '\e81a'; } /* '' */
.fa-monarch-foursquare:before { content: '\e81b'; } /* '' */
.fa-monarch-lastfm:before { content: '\e81c'; } /* '' */
.fa-monarch-tumblr:before { content: '\e81d'; } /* '' */
.fa-monarch-book:before { content: '\e81e'; } /* '' */
.fa-monarch-stackoverflow:before { content: '\e81f'; } /* '' */
.fa-monarch-github:before { content: '\e820'; } /* '' */
.fa-monarch-dribbble:before { content: '\e821'; } /* '' */
.fa-monarch-infinity:before { content: '\e822'; } /* '' */
.fa-monarch-star-circled:before { content: '\e823'; } /* '' */
.fa-monarch-mixi:before { content: '\e824'; } /* '' */
.fa-monarch-steam:before { content: '\e825'; } /* '' */
.fa-monarch-twitch:before { content: '\e826'; } /* '' */
.fa-monarch-vkontakte:before { content: '\e827'; } /* '' */
.fa-monarch-windows:before { content: '\e828'; } /* '' */
.fa-monarch-aim:before { content: '\e829'; } /* '' */
.fa-monarch-odnoklassniki:before { content: '\e82a'; } /* '' */
.fa-monarch-yandex:before { content: '\e82b'; } /* '' */
.fa-monarch-pinterest:before { content: '\e82c'; } /* '' */
.fa-monarch-cloud:before { content: '\e82d'; } /* '' */
.fa-monarch-linkedin-squared:before { content: '\e82e'; } /* '' */
.fa-monarch-at:before { content: '\e82f'; } /* '' */
.fa-monarch-twitter:before { content: '\e830'; } /* '' */
.fa-monarch-gplus:before { content: '\f05a'; } /* '' */
.fa-monarch-instagram:before { content: '\f05d'; } /* '' */
.fa-monarch-wordpress:before { content: '\f31d'; } /* '' */