@charset "utf-8";
/* CSS Document */



/* icons */

.containeradmin .box label ,
.containeradmin h1,
.containeradmin h2,
.containeradmin h3 {
	color:#666;
}

#icon01 {
	padding-left: 25px;
}
/* general settings */



* {
	margin: 0;
	padding: 0;
}

.canc {
	height:1px;
	font-size:1px;
	clear:both;
}
.qw-hideme {
	display:none;
}
.containeradmin {
	/*background:  #ececec;*/

	width:700px;
	position:relative;
	overflow:hidden;
}
.contents {
}
.box > h1{
	/*text-transform:uppercase;	*/
	line-height:1em;
}

.hwrapper {
	float:left;
	width:1px;
	position:relative;
	margin-left:-1px;
	height:920px;
}
.section {
	width: 700px;
	position:relative;
	float:left;
	/*background:  #f2f3f4;*/
	margin: 0 0 30px;
}
ul.tabs {
	height:0px;
	list-style: none;
}
.tabs li {
}
.box {
	display: none;
	/*border-right: 1px solid #D4D4D4;*/

  	border-width: 0 1px 1px;
	
	padding: 10px 25px;
	margin-top:-100px;
}
.box.visible {
	display: block;
}
.section.vertical {
	width: 500px;
	margin-left: 210px;
}
.vertical .tabs {
	width: 210px;
	float: left;
	display: inline;
	margin: 0px 0 0 -210px;
}
.logo_holder {
	height:110px;
	width:210px;
	padding:0px;
	margin: 0px 0 0 -210px;
}
.logo_holder img {
	padding-top: 8px;
}
.vertical .tabs li {
	float: left;
	display: inline;
	color: #666;
	cursor: pointer;
	position: relative;
	padding: 6px 5px 6px 5px;
	margin: 0 0 0 20px;
	/*border-bottom: 1px solid #999;*/
	width: 200px;
	height: 19px;
	font-size:12px;
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
}
.vertical .tabs li i {
	color:#888;
	font-size:14px;
	margin-right:12px;
}
.vertical .tabs li:hover {
	background:#f4f4f4;
}
.vertical .tabs li:hover i {
	color:#555;
}
.vertical .tabs li.current {
	color: #000;
	font-weight:bold;
}
.vertical .tabs li.current i {
	color:#ec008c;
}
.vertical .box {
	border-width: 1px;
	margin-top:-120px;
	position:relative;
}
/*

_____________________________ form elements ____________________

*/



.element {
	position:relative;
	padding: 5px 0;
}
.containeradmin .box h1 {
	
	margin-bottom:15px;
	font-size:30px;
	line-height:1.2em;
	color:#888;
	margin-top:0px;
	padding:30px 0;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
}
.containeradmin .box h1 i {
	color:#ec008c;	
}

.containeradmin .button-primary {
	background:#ec008c;	
	background-color:#ec008c;	
	border:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.containeradmin .button-primary:hover {
	background:#63F;
	background-color:#63F;	
	border:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.containeradmin .box > h2 {
	margin-bottom:0px;
	font-size:20px;
	color:#232323;
	margin-top:20px;
	padding:20px 0 10px 0;
	line-height: 25px;
	border-bottom:2px solid #ec008c;

}
.containeradmin .box h1 + h2 {
	margin-top: 0;	
	padding-top:5px;
}
.containeradmin h1 .imageicon {
	margin-bottom:-12px;
	margin-right:20px;
}
.box label {
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 12px;
	margin-bottom: 7px;
}
.box label, .box small {
	/*clear:both;*/

	

	display:block;
}
.box small {
	padding:3px;
	color:#666;
	font-size: 12px;
	line-height: 18px;
}
.box textarea {
	width:430px;
	height:150px;
}
.box input.textinput {
	width:430px;
	color:#777;
}
.box input.save_button {
	cursor:pointer;
}
.column_240 {
	display:inline-block;
	width:220px;
	color:#666;
	font-size:11px;
}
.column_150 {
	display:inline-block;
	width:150px;
	font-size:11px;
}
h4.ref_section {
	
	padding-top:10px;
	font-weight:bold;
}
img.adminimage {
	width:130px;
	background:url(immagini/transparent.gif);
	float:left;
	padding:0;
	margin: 0 20px 8px 0px;
	border:1px solid #cdcdcd;
}

img.fileselector {
	width:100%; margin-bottom:30px; padding:6px;
}
img.selected {
	background-color:#ff0097;	
}

a.nounderline {
	text-decoration:none;	
}

.box label.image_selector {
	float:left;
	font-size:12px;
	padding:2px;
	margin:2px;
	line-height:3px;
}
.box label.image_selector input {
	visibility:hidden;
}

.box label.image_selector img{
		-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:2px solid #dedede;
	background:#ccc

}
.box label.image_selector img.selected {
	border:2px solid #999;
	-webkit-box-shadow:  0px 0px 4px 2px rgba(0, 0, 0, 0.5);
        
        box-shadow:  0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

p.QTdescription {
	padding:0px;
	height:0;
	overflow:hidden;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-width: 0px;
	border-style: solid;
	border-color: transparent;
	margin:0;
	padding:0px;
	background:#fff;
	opacity:0;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s; /* Opera */
	padding:0px;
}
p.QTdescription.open {
	opacity:1;
	padding:10px;
	-webkit-border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #cdcdcd;
	margin:10px 0;
	
	height:auto;
}
a.infoSign {
	text-decoration:none;
}
a.infoSign i.icon-info-sign:before {
	font-size:15px;
}

a.infoSign {width:20px;height:20px;margin-left:10px;background:#ec008c;color:white;padding:0 8px;}
/*a.infoSign::after {content:"?";}*/


.googlefontTestarea {
	padding:15px;
	background:#e3e4e5;
	margin:15px 0;
}
.qw-text-right {text-align: right;}