@charset "utf-8";


#pass-strength-result{padding:10px 0}
#pass-strength-result.short{color:#ca0000}
#pass-strength-result.good{color:#ca0000}
#pass-strength-result.strong{color:#ca0000}

#buddypress .error{color:#FF0000}
#buddypress a{text-decoration:none}

#buddypress ul li:before {
	content: '';
}
#buddypress ul li{
	padding-left:0;
}
#buddypress ul.playlist li:before {
	content: '\f111';
}
#buddypress ul.playlist li{
	padding-left: 12px;
}
#buddypress .standard-form textarea, #buddypress .standard-form input[type=text], #buddypress .standard-form input[type=text], #buddypress .standard-form input[type=color], #buddypress .standard-form input[type=date], #buddypress .standard-form input[type=datetime], #buddypress .standard-form input[type=datetime-local], #buddypress .standard-form input[type=email], #buddypress .standard-form input[type=month], #buddypress .standard-form input[type=number], #buddypress .standard-form input[type=range], #buddypress .standard-form input[type=search], #buddypress .standard-form input[type=tel], #buddypress .standard-form input[type=time], #buddypress .standard-form input[type=url], #buddypress .standard-form input[type=week], #buddypress .standard-form select, #buddypress .standard-form input[type=password], #buddypress .dir-search input[type=search], #buddypress .dir-search input[type=text]{	font: inherit;	font-weight:100;	font-size: 100%;	background:#fcfcfc;	border:solid 1px #e7e7e7;	border-radius:3px;	color:#000;	padding:5px 10px;	-webkit-box-shadow: none;	box-shadow: none;	outlinenone;	margin:5px 0;	transition: all .2s ease;	width:100%;}
#buddypress .standard-form select{line-height:1.2em;}
#buddypress .standard-form textarea:focus, #buddypress .standard-form input[type=text]:focus, #buddypress .standard-form input[type=text]:focus, #buddypress .standard-form input[type=color]:focus, #buddypress .standard-form input[type=date]:focus, #buddypress .standard-form input[type=datetime]:focus, #buddypress .standard-form input[type=datetime-local]:focus, #buddypress .standard-form input[type=email]:focus, #buddypress .standard-form input[type=month]:focus, #buddypress .standard-form input[type=number]:focus, #buddypress .standard-form input[type=range]:focus, #buddypress .standard-form input[type=search]:focus, #buddypress .standard-form input[type=tel]:focus, #buddypress .standard-form input[type=time]:focus, #buddypress .standard-form input[type=url]:focus, #buddypress .standard-form input[type=week]:focus, #buddypress .standard-form select:focus, #buddypress .standard-form input[type=password]:focus, #buddypress .dir-search input[type=search]:focus, #buddypress .dir-search input[type=text]:focus{
	border-color: #19a612;
	color:inherit;
}
#buddypress div.dir-search input[type=text] {
	font-size: 100%;
	padding: 5px 10px;
}

#buddypress div.generic-button{display:inline-block;margin:15px 0}

#buddypress button, #buddypress a.button, #buddypress ul.button-nav li a, #buddypress div.generic-button a, #buddypress .comment-reply-link, a.bp-title-button {
	font-size: 1em;
	border-radius:3px;
	line-height:1.5;
	text-align:center;
	margin:10px 0;
	padding:7px 18px;
	outline:none;
	background:#19a612;
	border:solid 1px #19a612;
	color:#fff;
}

#buddypress div.generic-button .leave-group, #buddypress div.generic-button .remove,#buddypress div.generic-button .pending_friend.requested{background:rgba(68,68,68,1.0);border-color:rgba(68,68,68,1.0)}

a.bp-title-button{
	font-size: 12px;
	padding: 2px 10px;
	vertical-align: middle;
}
.breadcrumbs .current a.bp-title-button{
	display:none;
}
#buddypress button:hover, #buddypress a.button:hover, #buddypress a.button:focus, #buddypress ul.button-nav li a:hover, #buddypress ul.button-nav li.current a, #buddypress div.generic-button a:hover, #buddypress .comment-reply-link:hover, .buddypress #buddypress .button.unfav:hover, #buddypress div.generic-button .remove:hover,#buddypress div.generic-button .pending_friend.requested:hover,#buddypress div.generic-button .leave-group:hover{
	text-decoration: none;
	background:#000;
	color:#fff;
	border:solid 1px #000;
}
.buddypress #buddypress .button.unfav {
	background:#666;
	border:solid 1px #666;
}

#buddypress div.activity-meta a {
	padding: 1px 5px;
	font-size:12px;
}
#buddypress .loading{
	opacity:.5;
}
.buddypress #buddypress div.activity-comments div.acomment-content, #buddypress div.activity-comments div.acomment-meta {
	font-size: 100%;
}
#buddypress .acomment-reply:before, #buddypress .activity-meta .fav:before{
	content: "\f075";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right:4px;
	font-size:13px;
}
#buddypress .activity-meta .fav:before{
	content: "\f087";
}
#buddypress a.bp-primary-action span, #buddypress #reply-title small a span {
	background: rgba(255,255,255,.1);
	border-radius:50%;
}
#buddypress span.highlight {
	font-size: 100%;
}
/*status form*/
#buddypress form#whats-new-form #whats-new-content{
	margin-left: 65px;
}
#buddypress form#whats-new-form p.activity-greeting{
	margin-left: 66px;
    padding-top:0
}
#buddypress form#whats-new-form textarea {
	background:#fcfcfc;
	border:solid 1px #e7e7e7;
	font-size: 1em;
	min-height: 50px;
	padding: 6px;
	width:100%;
}
#whats-new-post-in-box{padding:20px 0}
#buddypress form#whats-new-form #whats-new-submit {
	margin-top: 0px; margin-bottom:20px
        
}
#buddypress form#whats-new-form #whats-new-options select {
	margin-top: 0px;
    width:auto;
    display:inline;
    background:none;
    -webkit-appearance:inherit;
    border:1px solid #CCC;
    padding:5px 15px
}
#buddypress form#whats-new-form select, #buddypress form#whats-new-form input[type=submit]{
	margin:0;
}

#buddypress ul.item-list {
	border-top: 3px solid #e7e7e7;
    list-style:none;
    padding:0;
}
#buddypress ul.item-list li div.action {
	margin:0 0 0 80px
}
#buddypress ul.item-list li div.item-title, #buddypress ul.item-list li div.item-title span, #buddypress ul.item-list li h4, #buddypress ul.item-list li div.item-desc, #buddypress ul.item-list li div.meta {
	font-size: 100%;
}
#buddypress ul.item-list li div.item-desc {
	margin-top: 0px;
}
#buddypress ul#groups-list li div.item-title{
	font-size:15px;
	line-height:1.6em;
	margin-bottom:5px;
}
#buddypress ul#groups-list li div.item-title span{
	font-size: 13px;
}
#buddypress ul#groups-list li div.item-desc {
	width: 68%;
}
/*activity stream*/
#buddypress ul.item-list li {
	border-bottom: 1px solid #e7e7e7;
	padding: 30px 0;
}
#buddypress .activity-list .activity-content .activity-header a:first-child, #buddypress .activity-list .activity-content .comment-header a:first-child{
	font-weight:bold;
}
#buddypress .activity-list .activity-content .activity-inner, #buddypress .activity-list .activity-content blockquote, #buddypress .acomment-content{
	color:#333;
}
#buddypress .avatar, .buddypress.widget .avatar{
	margin-left:0;
}
#buddypress .activity-list .activity-avatar .avatar, #whats-new-avatar .avatar, #buddypress ul.item-list li img.avatar, #buddypress img.avatar{
	border-radius: 50%;
	overflow: hidden;
}
#buddypress #avatar-upload-form img.avatar{
	border-radius:0;
}
#avatar-crop-pane {
	border-radius: 50%;
}
#buddypress .activity-list li.mini .activity-avatar img.avatar, #buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: 40px;
	margin-left: 10px;
	width: 40px;
}
#buddypress div.activity-comments div.acomment-avatar img {
	border-width: 0px;
	height: 40px;
	margin-right: 10px;
	width: 40px;
}
#buddypress div.activity-comments div.acomment-content {
	font-size: 90%;
	margin: 5px 0 0 50px;
}
#buddypress .acomment-options {
	margin: 5px 0 5px 50px;
}
#buddypress div.activity-comments form div.ac-reply-content {
	margin-left: 70px;
}
#buddypress div.activity-comments form .ac-textarea {
	background:#fcfcfc;
	border:solid 1px #e7e7e7;
	border-radius:3px;
	color:#c6c6c6;
    margin-bottom:10px
}
#buddypress div.activity-comments form .ac-textarea textarea{margin:0}
#buddypress .activity-list .activity-content {
	margin: 0 0 0 80px;
}
.activity-permalink #buddypress .activity-list .activity-content {
	margin: 0 0 0 170px;
}
#buddypress .activity-list li.mini {
	font-size: 90%;
}
#buddypress .filter, #buddypress #activity-filter-select{
	width: 280px;
}
#buddypress #activity-filter-select{}
#buddypress #activity-filter-select #activity-filter-by{width:auto;display:inline;background:none;border:1px solid #CCC;padding:5px 10px}

#buddypress div.activity-meta{
	opacity:.75;
	transition:all .2s ease;
}
#buddypress .activity-item:hover div.activity-meta{
	opacity:1;
}
#buddypress .activity-list .activity-content .activity-header img.avatar {
	margin: 0 5px 0px 0 !important;
}
/*members*/
.blog-heading div.dir-search {
	margin-top: -30px;
	margin-bottom: -5px;
}
.blog-heading div.dir-search label, .blog-heading div.dir-search input{
	margin-bottom:0;
	margin-top:0;
}

@media only screen and (max-width: 480px){
#buddypress div.dir-search input[type="text"] {
	width: inherit;
}
}
#buddypress span.activity{
	font-size: 90%;
}
#buddypress .friendship-button.add:before,#buddypress .button.accept:before{
	content: "\f055";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right:5px;
	font-size:14px;
}
#buddypress .button.accept:before{
	content: "\f00c";
}
/*single*/
#buddypress div#item-header div#item-meta {
	font-size: 100%;
}
#buddypress div#item-header div#item-meta #item-buttons div.generic-button a{
	padding: 2px 8px;
	font-size:90%;
}
#buddypress div#item-header div#item-meta #latest-update{
	color:#222;
	margin-bottom:10px;
	background:#f0f0f0;
	border-radius:4px;
	padding: 5px 15px;
	display:inline-block;
	position:relative; z-index:1;
}
#buddypress div#item-header div#item-meta #latest-update > a{
	font-size:80%;
}
#buddypress div#item-header div#item-meta #latest-update:before{
	content: "\f0da";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 3px;
	font-size: 32px;
	color: #f0f0f0;
	position: absolute;
	left: 6px;
	bottom: -15px;
	z-index: -1;
}
/*nav*/
.item-list-tabs:not(#subnav){
	border: solid 1px #e7e7e7;
	border-radius: 3px;
	padding:0;
}
#buddypress div.item-list-tabs ul li a span{
	padding: 2px 6px;
}
#buddypress div.item-list-tabs ul li a{
	color:#000;
	opacity: 1;
}
@media(max-width:991px){
#buddypress div.item-list-tabs:not(#subnav) ul li{
	width:33.33333%;
}
}

#buddypress div.item-list-tabs:not(#subnav) ul li a{
	line-height: 35px;
	height:45px;
	padding: 9px 15px 10px 15px;
	border-right: solid 1px #e7e7e7;
	border-bottom: solid 1px #e7e7e7;
	margin-bottom:-1px;
}
#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a{
	background-color: #f2f2f2;
	color: #8e8e8e;
	opacity: 1;
}
#buddypress div.item-list-tabs ul li a:hover{
	opacity: 1;
	color:#19a612;
}
#buddypress div.pagination .pag-count {
	margin-left: 0px;
}
#buddypress #activity-all a:before, #buddypress #groups-all a:before, #buddypress #members-all a:before,
#buddypress #activity-friends a:before, #buddypress #user-friends:before, #buddypress #members-personal a:before,
#buddypress #activity-groups a:before, #buddypress #user-groups:before, #buddypress #groups-personal a:before, #buddypress #members:before,
#buddypress #activity-favorites a:before,
#buddypress #user-activity:before,
#buddypress #user-xprofile:before,
#buddypress #user-notifications:before,
#buddypress #user-messages:before, #buddypress .send-message:before,
#buddypress #user-settings:before, #buddypress #admin:before,
#buddypress #home:before,
#buddypress #invite:before{
	content: "\f0ac"; /*globe*/
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right:5px;
	font-size:14px;
}
#buddypress #activity-friends a:before, #buddypress #user-friends:before, #buddypress #members-personal a:before{
	content: "\f007"; /*user*/
}
#buddypress #activity-groups a:before,
#buddypress #user-groups:before,
#buddypress #groups-personal a:before,
#buddypress #members:before{
	content: "\f0c0"; /*group*/
}
#buddypress #activity-favorites a:before{
	content: "\f005"; /*star*/
}
#buddypress #user-activity:before {
	content: "\f022"; /*list alt*/
}
#buddypress #user-xprofile:before{
	content: "\f114"; /*folder*/
}
#buddypress #user-notifications:before{
	content: "\f0a2"; /*bell*/
}
#buddypress #user-messages:before, #buddypress .send-message:before{
	content: "\f003"; /*envelope*/
}
#buddypress #user-settings:before, #buddypress #admin:before{
	content: "\f013"; /*cog*/
}
#buddypress #activity-mentions a:before,#buddypress .activity-button.mention:before{
	font-family: Arial, Helvetica, sans-serif;
	content: "@"; /*@*/
	font-weight:bold;
	margin-right:5px;
	font-size:14px;
}
#buddypress #home:before{
	content: "\f015"; /*home*/
}
#buddypress #invite:before{
	content: "\f046"; /*check*/
}
#buddypress div.item-list-tabs#subnav {
	margin-bottom: 40px;
}

/*widget*/
.widget.buddypress ul{
	padding:0;
}
.widget.buddypress ul li{
	padding-left:0;
}
.widget.buddypress ul.item-list li{
	line-height:1.4em;
	clear:both;
}
.widget.buddypress ul li:before{
	content:'';
}
.widget.buddypress img.avatar{
	border-radius:50%;
}
.widget.buddypress ul.item-list img.avatar {
	height: 40px;
	width: 40px;
}
.widget.buddypress span.activity {
	font-size: 100%;
}
.widget.buddypress div.item-options .selected:before{
	content: "\f0da";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right:4px;
	font-size:14px;
}

/*notice*/
#buddypress div#message p, #sitewide-notice p{
	border-radius:3px;
}

/*profile*/
#buddypress table.notifications tr td.label, #buddypress table.notifications-settings tr td.label, #buddypress table.profile-fields tr td.label, #buddypress table.wp-profile-fields tr td.label, #buddypress table.messages-notices tr td.label, #buddypress table.forum tr td.label{
	display: table-cell;
	color:inherit;
	font-size:100%;
}
#buddypress div.profile h3{
	text-transform:uppercase;
}
/*messages*/
#buddypress .thread-options .button, #buddypress .button.confirm{
	padding:2px 5px
}
#buddypress .standard-form label, #buddypress .standard-form span.label, .widget.buddypress #bp-login-widget-form label {
	margin-bottom: 0px;
}

/*rtMedia*/
body.media {
	overflow: auto;
}
#buddypress div.playlist{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:solid 1px #eee;
}
#buddypress div.playlist .video-item{
	margin-bottom:20px;
}
#buddypress div.playlist .video-item .item-thumbnail{
	float:left;
	width:139px;
	margin-right:15px;
}
#buddypress div.playlist .video-item .item-head{
	margin-left: 155px;
	padding:0;
}
#buddypress div.playlist .item-meta{
	margin-top:5px;
	margin-bottom:10px;
}
#buddypress div.playlist .wpfp-link.remove-parent{
	border-radius:3px;
	line-height:1;
	text-align:center;
	padding:2px 6px;
	outline:none;
	background:#eb2929;
	border:solid 1px #eb2929;
	color:#fff;
	transition: all .2s ease;
}
body.playlist #buddypress .wpfp-img{
	display:none;
}
body.playlist #buddypress .wpfp-link[href^="?wpfpaction=clear"]{
	border-radius:3px;
	display:inline-block;
	margin-top:10px;
	text-align:center;
	padding:7px 14px;
	outline:none;
	background:#19a612;
	border:solid 1px #19a612;
	color:#fff;
	transition: all .2s ease;
}
body.playlist #buddypress .wpfp-link[href^="?wpfpaction=clear"]:hover,#buddypress div.playlist .wpfp-link.remove-parent:hover{
	background-color:#000;
	border-color:#000;
	text-decoration:none;
}
body.playlist #stage-carousel .item-thumbnail iframe{
	width:100%;
	height:415px;
}

.item-list-tabs{margin:20px 0}
.item-list-tabs ul{list-style:none;padding:0}
.item-list-tabs ul li{display:inline-block}
.item-list-tabs ul li a{text-decoration:none}
.item-list-tabs ul li:not(:first-child) a{margin-left:-4px}
#subnav.item-list-tabs ul li:not(:first-child) a{margin:0}
#subnav.item-list-tabs ul li{margin:0 10px 0 0}
#subnav.item-list-tabs ul li a{padding:3px 5px}

#members-order-select label{float:left;margin:0 10px 0 0;line-height:38px}
#members-order-select #members-order-by{width:auto}
#groups-order-select.filter{text-align:left}
#groups-order-by{width:auto;display:inline;padding:5px 10px;background:none;border:1px solid #CCC}

#pag-bottom{margin:20px 0}
#members-list{list-style:none;padding:0}
#members-list .item-avatar{float:left;margin:0 10px 10px 0}
.activity-read-more{display:inline-block; padding:0 10px; text-decoration:underline}

#buddypress .pagination-links{padding:10px 0}
#buddypress .pagination-links a{display:inline-block;padding:5px}

#buddypress #whats-new-avatar{float:left;margin:0 10px 10px 0}
.bp-screen-reader-text{display:none}

#activity-stream{list-style:none;padding:0}
#activity-stream .activity-item{}
#activity-stream .activity-item .activity-header a{color:#000}
#activity-stream .activity-item .activity-inner iframe, .acomment-content iframe{max-width:100%}
.iframe-wrapper{position: relative;	padding-bottom: 56.25%; /* 16:9 */	padding-top: 25px;	height: 0;}
.iframe-wrapper iframe{position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}

li.loadmore,li.load-more{text-align:center}
.load-more a{display:block;font-weight: bold;    background-color: rgba(68,68,68,1.0);    color: #FFF;    outline: none;    padding: 10px 35px 9px 35px;    margin: 0;    letter-spacing: 0;    transition: color 0.2s, background-color 0.2s, border-color 0.2s;    -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;border-radius:3px}
.load-more a:hover{background-color: rgba(153,153,153,1.0);color:#FFF}

.activity-avatar{float:left; margin:15px 10px 10px 0}
.activity-header{min-height:70px}

#groups-list .item-avatar{float:left;margin:0 10px 10px 0}
#groups-list .item{margin:0 0 0 80px}

#group-create-tabs li span{padding:9px 15px 10px 15px}

#group-admins{list-style:none;padding:0}
#item-meta .highlight{padding:3px 10px;border-radius:3px;background-color:#f5eb4e;color:#FFF}

.activity-comments ul{list-style:none;padding-left:50px}
.activity-comments .acomment-avatar{float:left;}
#buddypress ul.item-list .activity-comments li{border-bottom:none;padding:10px 0}
.activity-inner, .acomment-content{background-color:#f6f6f6;border:1px solid #dedede;padding:10px;border-radius:3px}
#buddypress .activity-inner a, #buddypress .acomment-content a{text-decoration:underline}

#buddypress select{width:auto;display:inline;background:none;border:1px solid #CCC}

#item-header-cover-image{}
#item-header-cover-image #item-header-avatar{display:table-cell;padding:10px 30px 30px 0}
#item-header-cover-image #item-header-content{display:table-cell;vertical-align:top}
#item-header-cover-image #item-header-content #item-buttons .generic-button{margin:15px 15px 15px 0}

a.view.activity-time-since{font-size: 0.8em;    color: rgba(153,153,153,1.0);    font-style: italic}

@media(max-width:767px){
    #buddypress div.item-list-tabs:not(#subnav) ul li a{display:block;margin:0}
    #buddypress div.item-list-tabs:not(#subnav) ul li{width:100%;}
}

.button-nav,ul.radio{list-style:none;padding:0 0 20px 0}
.button-nav li{display:inline-block;margin:0 10px 0 0}

.editfield{margin:0 0 20px 0;padding:0 0 20px 0;border-bottom:1px dashed #CCC}
.field-visibility-settings{margin:20px 0}
.field-visibility-settings-toggle,.field-visibility-settings-notoggle, .editfield .description{font-style:italic}
.field-visibility-settings-close, .visibility-toggle-link{font-weight:bold}
.editfield label{font-weight:bold;color:#000}
.editfield ul.radio label{font-weight:normal}
#buddypress .wp-editor-tabs button{margin:10px}
#buddypress .editfield div.mce-panel{border:1px solid #CCC}
.checkbox-options label{margin:0 15px 0 0}

/**
 * BuddyPress Widgets
 *
 */
 
.buddypress.widget{}
.buddypress.widget .item-options{margin:0 0 10px 0}
.buddypress.widget .item-list{list-style:none}
.buddypress.widget #groups-list .item{margin-left:40px}
.buddypress.widget #friends-list .item-avatar, .widget_bp_core_recently_active_widget .item-avatar, .widget_bp_core_whos_online_widget .item-avatar{float:left;margin:0 10px 10px 0}
.widget_bp_core_recently_active_widget .avatar-block:after, .widget_bp_core_whos_online_widget .avatar-block:after{content:' ';display:block;clear:both}
.widget_bp_core_login_widget .bp-login-widget-user-avatar{float:left;margin:0 10px 10px 0}
.buddypress.widget .item-title a, .buddypress.widget .bp-login-widget-user-link a{text-decoration:none;font-weight:bold}

#cover-image-container{position: relative; height: 225px}
/** group page **/
.single-item.groups #cover-image-container{height: 330px}
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions{    margin: 0 !important;    max-width: 100% !important;    padding: 40px 0 20px 0 !important;}
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions h2{font-size: 16px}
#header-cover-image{    background-color: #FFF;    background-position: center top;    background-repeat: no-repeat;    background-size: cover;    border: 0;    display: block;   left: 0;    margin: 0;    padding: 0;    position: absolute;    top: 0;    width: 100%;    z-index: 1;    height: 200px;    display: block;}
/* #header-cover-image:before{content:'';width:100%;height:100%; position: absolute; z-index: 2; background: #000} */
#item-header-cover-image{position: absolute; z-index: 3; width: 100%}

#buddypress #item-header-cover-image #item-header-avatar{margin-top:0; float: none !important}
#buddypress div#item-header #item-header-cover-image #item-header-content{float: none !important; margin: 0 !important}
	
@media(max-width: 782px){
	#buddypress #item-header-cover-image #item-header-avatar, .bp-user #buddypress #item-header #item-header-cover-image #item-header-avatar, #buddypress div#item-header #item-header-cover-image #item-header-content {
		width: 100%;
		text-align: center;
		float:left !important;
		padding-bottom: 10px
	}
	
	#item-header-cover-image{position:relative;}
	#cover-image-container, .single-item.groups #cover-image-container{height: auto}
	#cover-image-container:after{clear:both;content:''; display: block}
}
