/*
Theme Name: Trendy Pro - shared on wplocker.com
Theme URI: http://themeforest.net/user/uipro/portfolio
Description: Trendy Pro is a premium, clean and easy to use personal blog WordPress theme for professional bloggers.
Version: 1.0.0
Author: uipro
Author URI: http://uipro.net/
License: Themeforest Standard Licenses
License URI: http://themeforest.net/licenses/standard
Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, featured-images, microformats, post-formats
Text Domain: trendy-pro
*/
/* ==========================================================================
   NOTE:
   style.css contains all css styles for this theme. Please don't modify 
   this file unless necessary. This will make it easy for you to upgrade 
   your theme files easily when new version of this theme will be available.    
   ------------------------------
    TABLE OF CONTENT
   ------------------------------
   01. Preloader
   02. Common Styles
   03. Logo Wrap
   04. Main Navigation
   05. Top Navigation
   06. Featured Carousel
   07. Blog Post
   08. Sidebar
   09. Forms & Buttons
   10. Footer
   11. Back to Top Button
   12. WordPress Classes
   13. Media Queries
   14. Accent Color
   ============================== */   

/* ==============================
	01. Preloader
   ============================== */
   .preloader{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#fff;z-index:10000000}.spinner-wrap{position:absolute;top:50%;left:50%;height:60px;width:60px;margin-top:-30px;margin-left:-30px;text-align:center}.preloader-text{line-height:1;font-size:11px;color:#aaa;display:block;text-align:center;text-transform:uppercase;letter-spacing:1px; font-weight:500;}.spinner{width:30px;height:30px;display:inline-block;margin:0px auto 5px;border-radius:100%;-webkit-animation:sk-scaleout 1s infinite ease-in-out;animation:sk-scaleout 1s infinite ease-in-out}@-webkit-keyframes sk-scaleout{0%{-webkit-transform:scale(0)}100%{-webkit-transform:scale(1);opacity:0}}@keyframes sk-scaleout{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}

/* ===================================
   02. Common Styles
   =================================== */
body { font-family:"Roboto", Helvetica Neue, sans-serif; color:#9a9d9f; font-size:15px; line-height:1.6; }
a,
a:hover,
a:focus { color:#242526; }
blockquote cite { font-family:"Roboto", Helvetica Neue, sans-serif; font-size:15px; font-style:normal; }
blockquote cite a { color:#9a9d9f; }
.body-wrapper { margin-top:50px; }
.alt-font, .em, em, blockquote > p, q { font-family: 'Playfair Display', serif; font-weight:normal; }
.em, em { font-style:italic; }
.section { padding:0 0 40px; border-top:1px solid #eee; }
.has-slider { border-top:none; }
.home .section { margin-top:50px; padding-top:40px; }
.home .no-slider { margin-top:0; padding-top:80px; }
.home .has-slider { padding-top:0; }
.spacer { border-color:transparent !important; }
.spacer0 { margin:0; }
.spacer10 { margin:5px 0; }
.spacer20 { margin:10px 0; }
.spacer30 { margin:15px 0; }
.spacer40 { margin:20px 0; }
.spacer50 { margin:25px 0; }
.spacer60 { margin:30px 0; }
.spacer70 { margin:35px 0; }
.spacer80 { margin:40px 0; }
.spacer90 { margin:45px 0; }
.spacer100 { margin:50px 0; }
iframe { border:none; }
.dark-bg *,
.dark-overlay * { color:#fff; }
.dark-overlay,
.color-overlay,
.single-slide { position:relative; z-index:1; }
.dark-overlay:after,
.color-overlay:after,
.single-slide:after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; }
.dark-overlay:after,
.single-slide:after { background-color:rgba( 0, 0, 0, 0.2 ); }
.color-overlay:after { opacity:0.85; filter:alpha( opacity=85 ); }
.dark-overlay .container,
.color-overlay .container,
.color-overlay > *,
.dark-overlay > * {	position:relative; z-index:100; }
.gray-bg, .jumbotron { background-color:#e8f1f2; }
a, .btn,
.aside-widget .widget-inner .about-me .my-thumb a img,
.aside-article .thumb > img,
.aside-widget .widget-inner ul.flickr-feed li a img { -webkit-transition:all 0.4s; transition:all 0.4s; }
p { margin:0 0 20px; }
strong { font-weight:500; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, blockquote > p, q { color:#242526; font-weight:500; -ms-word-wrap: break-word; word-wrap: break-word; }
.color-overlay h1, .color-overlay .h1, .color-overlay h2, .color-overlay .h2, .color-overlay h3, .color-overlay .h3, .color-overlay h4, .color-overlay .h4, .color-overlay h5, .color-overlay .h5, .color-overlay h6, .color-overlay .h6, .dark-overlay h1, .dark-overlay .h1, .dark-overlay h2, .dark-overlay .h2, .dark-overlay h3, .dark-overlay .h3, .dark-overlay h4, .dark-overlay .h4, .dark-overlay h5, .dark-overlay .h5, .dark-overlay h6, .dark-overlay .h6 { color:#fff; }
.text-uppercase { letter-spacing:1px; }
.check-list { padding:0; margin-bottom:30px; }
.check-list li { list-style:none; padding-left:21px; position:relative; margin-bottom:5px; }
.check-list li:before { content:"\f101"; font-family:FontAwesome; position:absolute; left:0; top:2px; font-size:13px; }
.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }
.jumbotron .small { font-size:100%; }
.light-weight { font-weight:300 !important; }
blockquote > p,
q { font-size:24px; line-height:1.2; font-style:italic; margin-bottom:10px; }
blockquote .small,
blockquote footer,
blockquote cite,
blockquote small,
.comments,
.comments:hover,
.comments:focus { color:#9a9d9f; }
.search-query { margin:60px auto; }
.search-query > span { display:block; font-size:75%; }
.inner-page .inner-banner { padding:60px 0 50px; position:relative; z-index:0; background-color:#eee; }
.inner-page .inner-banner h1 { text-align:center; color:#fff; font-weight:500; margin:0; }
.list-inline > li { padding-left:3px; padding-right:3px; }
.inner-page .not-found .section { padding:60px 0; border-top:1px solid #eee; }
.not-found { background-color:#fafafa; }
.not-found h1 { margin:0 0 20px; font-size:56px; }
.not-found h1 > small { display:block; line-height:1; font-weight:300; }
.not-found .container .search-form { margin-bottom:30px; }
.video-wrap { margin-bottom:30px; }
.mini-post .video-wrap { margin-bottom:0; }
q { display:block; }
pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
table { border-collapse: collapse !important; width: 100%; max-width: 100%; margin-bottom: 20px; min-height: .01%; overflow-x: auto; }
table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th { padding: 8px; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #ddd; }
.calendar_wrap table > tbody > tr > td,
.calendar_wrap table > tbody > tr > th,
.calendar_wrap table > tfoot > tr > td,
.calendar_wrap table > tfoot > tr > th,
.calendar_wrap table > thead > tr > td,
.calendar_wrap table > thead > tr > th { padding: 8px 0; }
table th,
table td { border: 1px solid #ddd; }
table { border: 1px solid #ddd; }
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td { border: 1px solid #ddd; }
table > thead > tr > th,
table > thead > tr > td { border-bottom-width: 2px; }
table th,
dl dt { font-weight:500; color:#242526; }
.parallax { background-size:cover; background-position:center; }
.img-bg { background-position:center; background-attachment:fixed; background-repeat:repeat; }
dl dt { margin-top:10px; }
dl dt:first-child { margin-top:0; }
.search .inner-banner,
.archive .inner-banner { margin-bottom:40px; }
.search-no-results .inner-banner { margin-bottom:0; }
.search-no-results .section { padding-bottom:0; }

@media (max-width:767px) {
	.table-responsive { width: 100%; margin-bottom: 15px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; }
	table { border: 0; }
	table > thead > tr > th,  table > tbody > tr > th,  table > tfoot > tr > th,  table > thead > tr > td,  table > tbody > tr > td,  table > tfoot > tr > td { white-space: nowrap; }
	table > thead > tr > th:first-child,  table > tbody > tr > th:first-child,  table > tfoot > tr > th:first-child,  table > thead > tr > td:first-child,  table > tbody > tr > td:first-child,  table > tfoot > tr > td:first-child { border-left: 0; }
	table > thead > tr > th:last-child,  table > tbody > tr > th:last-child,  table > tfoot > tr > th:last-child,  table > thead > tr > td:last-child,  table > tbody > tr > td:last-child,  table > tfoot > tr > td:last-child { border-right: 0; }
	table > tbody > tr:last-child > th,  table > tfoot > tr:last-child > th,  table > tbody > tr:last-child > td,  table > tfoot > tr:last-child > td { border-bottom: 0; }
}

@media ( min-width:601px ){
	.admin-bar .navbar-fixed-top.affix { top:46px; }
}
@media ( min-width:784px ){
	.admin-bar .navbar-fixed-top.affix { top:32px; }
}

/* ===================================
   03. Logo Wrap
   =================================== */
.logo-wrap { padding:40px 0; display:none; }
.logo-wrap.style2 { padding:10px 0; display:block; text-align:center; }
.logo-wrap.style2 .logo { display:none; margin:0 auto 10px; }
.logo img { max-width:220px; height:auto; }
.logo > span { text-transform:uppercase; letter-spacing:1px; font-weight:bold; color:#242526; font-size:52px; line-height:1.1; }
.logo:hover,
.logo:focus { text-decoration:none; }
.header-ad img,
img { max-width:100%; height:auto; }

/* ===================================
   04. Main Navigation
   =================================== */
.nav > li > a { padding-left:10px; padding-right:10px; }
.nav-wrap { position:relative; z-index:10000; }
.categories-wrap { position:relative; background-color:#fff; border-top:1px solid #eee; padding:30px 0; margin-top:50px; }
.categories-wrap ul { margin:0; position:relative; z-index:1; }
.categories-wrap ul li a,
.categories-wrap ul li span { font-weight:400; color:#9a9d9f; display:block; line-height:1; padding:5px 12px; font-size:13px; border:1px solid #eee; background-color:#fbfbfb; border-radius:30px; }
.categories-wrap ul li.active span { color:#fff; }
.categories-wrap ul li a:hover { text-decoration:none; color:#eee; background-color:#121212; border-color:#121212; }
.navbar-fixed-top { position:absolute; border:none; border-radius:0; margin:0; }
.affix-top { background-color:#fff; }
.navbar-brand { padding:2px; height:34px; margin:8px 15px 0 10px; }
.navbar-brand > span { font-weight:bold; line-height:1.8; text-transform:uppercase; letter-spacing:1px; color:#242526; }
.navbar .navbar-brand > img { height:100%; width:auto; }
.affix .navbar-brand .logo-alt,
.affix-top .navbar-brand .logo-alt { display:none; }
.affix .navbar-brand .logo { display:inline-block; }
.affix { position:fixed; background-color:#fff; box-shadow:0 0 15px rgba(0,0,0,.05); z-index: 1000; padding:0; -webkit-animation: slideInDown 1s both; animation: slideInDown 1s both; }
.navbar-default .navbar-nav > li > a { font-size:14px; text-transform:uppercase; font-weight:500; letter-spacing:1px; color:#9a9d9f; }
.nav-wrap .navbar-nav > li > a:hover,
.nav-wrap .navbar-nav > li > a:focus,
.nav-wrap .navbar-nav > .active > a,
.nav-wrap .navbar-nav > .active > a:hover,
.nav-wrap .navbar-nav > .active > a:focus,
.nav-wrap .navbar-nav > .open > a,
.nav-wrap .navbar-nav > .open > a:hover,
.nav-wrap .navbar-nav > .open > a:focus { color:#242526; background-color:transparent; }
.dropdown-toggle > .fa { font-size:11px; opacity:0.5; vertical-align:top; margin-top:5px; }
.dropdown-menu,
.navbar-nav .open .dropdown-menu { min-width:220px; border-color:#121212; background-color:#121212; border-radius:0; box-shadow:none; padding:0; }
.dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu > li > a { color:#9a9d9f; font-size:15px; position:relative; padding:10px 22px; border-bottom:1px solid #232323; }
.dropdown-menu > li:last-child > a,
.navbar-nav .open .dropdown-menu > li:last-child > a { border-bottom:none; }
.dropdown-menu > li > a:before { content:"\f111"; font-family:FontAwesome; font-size:6px; position:absolute; left:-10px; top:17px; opacity:0; -webkit-transition:opacity 0.5s, left 0.35s; transition:opacity 0.5s, left 0.35s; }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover { color:#d4d4d4; background-color:transparent; }
.dropdown-menu > li > a:hover:before,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:before,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus:before,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover:before { opacity:1; left:9px; }
.search-btn { float:right; margin:12px 5px 0; position:relative; }
.search-btn,
.search-btn:focus { color:#9a9d9f; }
.search-btn:hover { text-decoration:none; color:#242526; }
.search-wrap { position:absolute; top:50px; left:0; width:100%; padding:20px 0; background-color:#eee; background-color:rgba(238,238,238,0.97); z-index:10; display:none; }
.search-wrap .search-form .search-field { width:100%; height:47px; color:#242526; background-color:transparent; border:none; outline:none; font-size:17px; box-shadow:none; border:none; }
.search-wrap .search-form .search-submit { position:absolute; right:0; top:10px; color:#fff; background-color:transparent; border:none; }
@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* ===================================
   05. Top Navigation
   =================================== */
.top-navbar { background-color:#121212; padding:8px 0; font-size:13px; }
.top-navbar .date-time,
.top-navbar .top-nav { float:left; margin:0 15px 0 0; }
.top-navbar,
.top-navbar a { color:#eee; }
.top-navbar .social-nav { text-align:center; margin:0; padding:0; font-size:15px; line-height:1.2; }
.top-navbar .social-nav li { list-style:none; display:inline-block; margin:0 5px; }
.site-author { width:250px; }
.site-author h4 { font-size:19px; margin:0 0 5px; }
.site-author a img { margin-right:10px; border-radius:50%; max-width:60px; height:auto; }
.site-author p { font-size:13px; line-height:1.35; }
.site-author p a { color:#9a9d9f; }

/* ===================================
   06. Featured Carousel
   =================================== */
.featured-carousel .featured-post { height:240px; position:relative; background-size:cover; background-position:center; background-repeat:no-repeat; }
.single-post.style2 .featured-carousel .featured-post,

.single-post.style3 .featured-carousel .featured-post {height:200px; }
.featured-carousel .featured-post .inner-block { position:absolute; left:0; bottom:0; width:100%; }
.category-label li a,
.category-label li > span { font-size:9px; text-transform:uppercase; font-weight:bold; letter-spacing:1px; padding:3px 8px; background-color:rgba(90,90,90,.3); border:1px solid transparent; }
.home-slider .category-label li a,
.home-slider .category-label li > span { background-color:rgba(150,150,150,.15); }
.category-label li > span { background-color:#121212; color:#fff; border-radius:0; font-weight:bold; }
.category-label li a:hover { text-decoration:none; opacity:0.85; }
.featured-carousel .featured-post h2,
.single-post h1 { font-size:21px; margin:5px 0; }
.category-label li a,
.featured-carousel .featured-post a:hover,
.featured-carousel .featured-post a:focus,
.post-header .inner-block a,
.post-header .inner-block .post-meta { color:#fff; }
.post-meta { margin-left:0; }
.post-meta li { font-size:14px; position:relative; }
.post-meta li + li { margin-left:8px; }
.post-meta li + li:before { content:'-'; position:absolute; left:-8px; top:-1px; opacity:0.5; }
.post-meta li .post-author { text-transform:uppercase; font-weight:bold; letter-spacing:0.03em; }
.featured-carousel .featured-post .post-extras { position:absolute; top:15px; left:0; width:100%; text-align:right; }
.comments,
.sl-wrapper { display:block; float:right; line-height:1; }
.comments > span { display:inline-block; margin-right:4px; }
.home-slider .sl-wrapper { clear:both; }
.home-slider .post-extras a { clear:both; margin:0 0 10px 0; }
.home-slider .post-extras a > .fa { min-width:19px; text-align:center; }
.comments:hover,
.sl-wrapper a:hover,
.comments:focus,
.sl-wrapper a:focus { text-decoration:none; }
.featured-carousel.mini-carousel { margin-bottom:30px; }
.featured-carousel.mini-carousel .featured-post .inner-block,
.featured-carousel.mini-carousel .featured-post .post-extras { padding:0 15px; }
.featured-carousel.multi .featured-post .post-extras { top:0; padding:20px; }
.featured-carousel.multi .featured-post .inner-block { bottom:0; left:0; padding:10px 20px; }
.featured-carousel.multi .featured-post h2 { font-size:23px; margin:13px 0 4px; }
.featured-carousel.multi .featured-post .post-meta li:last-child { float:right; margin:5px 0 0 0; }
.featured-carousel.multi .featured-post .post-meta li:last-child:before { display:none; }
.home-slider { margin-top:50px; }
@media ( min-width:1200px ){
	.featured-carousel.mini-carousel .featured-post .inner-block { width:80%; }
	.single-post.style2 .featured-carousel .owl-prev,
	.single-post.style3 .featured-carousel .owl-prev { right:95px; bottom:20px; }
	.single-post.style2 .featured-carousel .owl-next,
	.single-post.style3 .featured-carousel .owl-next { right:30px; bottom:20px; }
}

/* ===================================
   07. Blog Post
   =================================== */
.sl-wrapper .fa,
.comments .fa { font-size:15px; line-height:1; float:right; -webkit-transition:opacity 0.4s; transition:opacity 0.4s; }
.comments .fa { font-size:20px; margin-top:-3px; }
.sl-wrapper a:hover > .fa:before { content:'\f004'; }
.sl-wrapper .sl-count { display:inline-block; margin-right:3px; }
.home-slider .sl-wrapper .sl-count { margin-right:5px; }
.comments:hover,
.comments:focus { text-decoration:none; }
.comments:hover .fa:before,
.comments:focus .fa:before { content:'\f086'; }
.mini-post { margin-bottom:30px; position:relative; }
.post-thumbnail { display:block; background-color:#121212; position:relative; }
.post-thumbnail > img { width:100%; height:auto; opacity:0.85; -webkit-transition:opacity 0.4s; transition:opacity 0.4s; }
.post-thumbnail:hover > img { opacity:1; }
.post-thumbnail > .category { position:absolute; display:block; right:0; bottom:0; z-index:1; color:#fff; font-size:13px; font-weight:500; text-transform:uppercase; letter-spacing:1px; line-height:1; padding:8px 15px; background-color:rgba(0,0,0,0.2); }
.mini-post .post-content { padding:20px 20px 0 20px; border:1px solid #eee; border-top:none; }
.mini-post > .result-type { display:block; text-align:center; padding:8px 10px; background:rgba(18,18,18,0.35); color:#fff; line-height:1; font-size:11px; text-transform:uppercase; letter-spacing:1px; font-weight:500; }
.mini-post .post-title { font-size:21px; font-weight:bold; margin:0 0 10px 0; -ms-word-wrap: break-word; word-wrap: break-word; }
.mini-post .post-title a,
.mini-post .post-author,
.meta-wrap .post-author,
.single-post.style2 .post-meta li a { color:#242526; }
.mini-post .post-title a:hover,
.mini-post .post-title a:focus { text-decoration:none; }
.mini-post .sl-wrapper a,
.meta-wrap .sl-wrapper a { color:#9a9d9f; margin:0 12px; display:inline-block; }
.meta-wrap .sl-wrapper { margin-top:7px; }
.mini-post .sl-wrapper a .fa-heart-o,
.meta-wrap .sl-wrapper a .fa-heart-o,
.comments .fa { color:#242526; }
.home-slider .comments .fa,
.multi .comments .fa { color:#fff; }
.mini-post footer { border-top:1px solid #eee; margin:0 -20px; padding:20px; }
.mini-post .post-meta,
.meta-wrap .post-meta { margin:0; line-height:1; font-weight:normal; }
.mini-post .post-content .excerpt { margin:0 0 25px; }
.single-post .post-header { position:relative; }
.single-post .post-header > .inner-block { position:absolute; z-index:1000; bottom:0; left:0; width:100%; }
.single-post .post-header h1 { color:#fff; }
.single-post.style3 .post-header .inner-block { bottom:0; padding:0 5px; }
.meta-wrap { border-top:1px solid #eee; border-bottom:none; background-color:#fafafa; padding:10px 15px; margin-bottom:30px; }
.single-post .post-content .tags { margin:30px 0; }
.category-label li { float:left; list-style:none; margin:3px 0; }
.category-label.tags li { margin:3px; }
.category-label { padding:0; }
.post-content img { max-width:100%; height:auto; }
/* comments */
.comments-area { margin-top:40px; }
.comment-list { padding:15px; margin:30px 0; background-color:#fafafa; }
.comment-list li { list-style:none; position:relative; }
.comment-list li .comment-body { margin-bottom:20px; margin-bottom:20px; border-bottom:1px solid rgba(0,0,0,0.05); }
.comment-list li .comment-body .reply { position:absolute; right:0; top:0; }
.comment-list li .comment-body .reply a { font-size:12px; text-transform:uppercase; letter-spacing:1px; font-weight:600; }
.comment-list li .comment-body .reply a:hover,
.comment-list li .comment-body .reply a:focus { text-decoration:none; }
.comment-list li .avatar { border-radius:100%; float:left; margin:-2px 10px 0 0; max-width:42px; height:auto; }
.comment-list li .comment-body .comment-author { line-height:1; }
.comment-list a { color:#242526; }
.comment-list li .comment-body .comment-meta { margin-bottom:15px; }
.comment-list .children,
.category-widget ul { padding:0; }
.comment-body .comment-meta { font-weight:500; }
.comment-author .url { color:#9a9d9f; }
/* extras */
.prev-next { padding:30px; margin-top:30px; background-color:#fafafa; border-top:1px solid #eee; }
.prev-next > div { text-align:center; }
.prev-next > div h5 { margin-top:5px; }
.prev-next > div h5 a { color:#242526; }
.author-box { text-align:center; margin:30px auto; background-color:#fafafa; padding:30px; border-top:1px solid #eee; }
.author-box a { color:#242526; }
.author-box .avatar { border-radius:50%; max-width:50px; height:auto; }
.author-box .vcard { font-size:19px; margin-bottom:0; font-weight:bold }
.author-box .vcard a:hover,
.comment-author .url:hover,
.breadcrumb-wrap .breadcrumb a:hover { text-decoration:none; }
.author-box .author-url { margin-bottom:15px; }
.post-content a img {  -webkit-transition:all 0.3s; transition:all 0.3s; display:block; }
.post-content .author-box .avatar { display:inline-block; }
.post-content a:hover img { opacity:0.8; }
.single-post.style2 .featured-carousel { margin:20px 0; }
.single-post.style3 .featured-carousel { margin:0 0 30px; }
.single-post > .section { padding-top:0; margin-top:50px; }
.breadcrumb-wrap { margin-bottom:15px; }
.breadcrumb-wrap .breadcrumb { position:relative; margin:0; padding:10px 15px; background-color:#fafafa; border-radius:0; font-size:13px; font-weight:500; line-height:1; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.breadcrumb-wrap .breadcrumb:after { content:''; position:absolute; right:0; top:0; width:60px; height:100%; background: -moz-linear-gradient(left, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 79%, rgba(250,250,250,1) 97%, rgba(250,250,250,1) 100%);
background: -webkit-linear-gradient(left, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 79%,rgba(250,250,250,1) 97%,rgba(250,250,250,1) 100%);
background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 79%,rgba(250,250,250,1) 97%,rgba(250,250,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#fafafa',GradientType=1 ); }
.inner-page .breadcrumb-wrap { margin:0; position:relative; z-index:1; }
.inner-page .breadcrumb-wrap .breadcrumb { margin-bottom:30px; }
.inner-page .section { border-top:none; }
.inner-page .section.no-slider { border-top:1px solid #eee; }
.breadcrumb-wrap .breadcrumb a,
.breadcrumb-wrap .breadcrumb li { color:#9a9d9f; position:relative; }
.breadcrumb-wrap .breadcrumb a { color:#242526; }
.breadcrumb > li + li { padding-left:18px; }
.breadcrumb > li + li:before { font-family:FontAwesome; content:"\f105"; font-size:80%; margin:0; position:absolute; left:2px; top:2px; }
/* pagination */
.page-numbers { list-style:none; padding:0; margin:10px auto; text-align:center; }
.page-numbers li { display:inline-block; margin:2px; }
.page-numbers li a,
.page-numbers li span,
.paginated-links > a,
.paginated-links > span { display:block; width:42px; height:42px; line-height:40px; font-weight:500; text-align:center; border-radius:100%; border:1px solid #eee; background:#fafafa; color:#9a9d9f; }
.paginated-links > a,
.paginated-links > span { display:inline-block; margin:5px; }
.page-numbers li span.current,
.paginated-links > span { color:#fff; }
.page-numbers li a:hover,
.page-numbers li a:focus,
.paginated-links > a:hover,
.paginated-links > a:focus { color:#fff; text-decoration:none; background-color:#121212; border-color:#121212; }
.post-password-form label { float:left; margin-right:10px; }
.post-password-form input[type=submit] { padding:9.5px 20px; }
.mini-post .has-border-top { border-top:1px solid #eee; }
.single-featured { margin:20px 0 30px; }

/* ===================================
   08. Sidebar
   =================================== */
.aside-widget { margin:0 0 30px; }
.aside-widget .widget-title { font-size:13px; font-weight:500; margin:-30px -20px 30px; background-color:#fff; border-bottom:1px solid #121212; }
.aside-widget .widget-title > span { background-color:#121212; display:inline-block; color:#fff; padding:8px 15px 7px; text-transform:uppercase; letter-spacing:1px; }
.aside-widget .widget-inner { padding:30px 20px; background-color:#fafafa; }
.aside-widget .widget-inner .about-me { text-align:center; }
.about-me .my-thumb img { display:block; width:100%; max-width:210px; height:auto; margin:0 auto; border-radius:50%; }
.aside-widget .social-nav li a.facebook,
.share-list li a.facebook,
.site-footer .social-nav li a.facebook:hover { background-color:#3b5998; }
.aside-widget .social-nav li a.twitter,
.share-list li a.twitter,
.site-footer .social-nav li a.twitter:hover { background-color:#1da1f2; }
.aside-widget .social-nav li a.linkedin,
.share-list li a.linkedin,
.site-footer .social-nav li a.linkedin:hover { background-color:#0077b5; }
.aside-widget .social-nav li a.pinterest,
.share-list li a.pinterest,
.site-footer .social-nav li a.pinterest:hover { background-color:#bd081c; }
.aside-widget .social-nav li a.google-plus,
.share-list li a.google-plus,
.site-footer .social-nav li a.google-plus:hover { background-color:#dd4b39; }
.aside-widget .social-nav li a.youtube,
.site-footer .social-nav li a.youtube:hover { background-color:#cd201f; }
.aside-widget .social-nav li a.tumblr,
.site-footer .social-nav li a.tumblr:hover { background-color:#35465c; }
.aside-widget .social-nav li a.instagram,
.site-footer .social-nav li a.instagram:hover { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd521+8,f10000+49,b900b4+86 */
background: #ffd521; /* Old browsers */
background: -moz-linear-gradient(45deg, #ffd521 8%, #f10000 49%, #b900b4 86%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #ffd521 8%,#f10000 49%,#b900b4 86%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #ffd521 8%,#f10000 49%,#b900b4 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd521', endColorstr='#b900b4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.aside-widget .social-nav li a.reddit,
.site-footer .social-nav li a.reddit:hover,
.share-list li .reddit { background-color:#ff4500; }
.aside-widget .social-nav li a.flickr,
.site-footer .social-nav li a.flickr:hover { background-color:#ff0084; }
.aside-widget .social-nav li a.dribbble,
.site-footer .social-nav li a.dribbble:hover { background-color:#ea4c89; }
.aside-widget .social-nav li a.vimeo,
.site-footer .social-nav li a.vimeo:hover { background-color:#1ab7ea; }
.aside-widget .social-nav li a.soundcloud,
.site-footer .social-nav li a.soundcloud:hover { background-color:#ff3300; }
.aside-widget .social-nav li a.vk,
.site-footer .social-nav li a.vk:hover { background-color:#45668e; }
.aside-widget .social-nav li a.behance,
.site-footer .social-nav li a.behance:hover { background-color:#1769ff; }
.aside-widget .social-nav li a.github,
.site-footer .social-nav li a.github:hover { background-color:#4078c0; }
.share-list { margin-bottom:0; line-height:1; }
.share-list li a { color:#fff; display:block; text-align:center; padding:7px 0; width:42px; -webkit-transition:all 0.15s; transition:all 0.15s; }
.share-list li .share-friend { background-color:#9a9d9f; }
.aside-widget .social-nav li a:hover { opacity:0.85; -webkit-transform:translate(0,-4px); transform:translate(0,-4px); }
.share-list li a:hover,
.aside-widget .widget-inner .about-me .my-thumb a:hover img { opacity:0.85; }
.widget-subtitle { font-size:12px; text-transform:uppercase; letter-spacing:1px; font-weight:bold; }
.archive-list { padding:0; margin-bottom:20px; }
.archive-list li { list-style:none; border-bottom:1px solid rgba(0,0,0,.04); padding:0 0 5px 0; margin:0 0 3px 0; }
.archive-list li a { display:block; }
.archive-list li a:after { clear:both; }
.archive-list li a:after,
.archive-list li a:before { display:table; content:''; }
.archive-list li a > span { color:#9a9d9f; float:right; }
.ad-widget .widget-inner { text-align:center; background-color:transparent; }
.banner-ad img { max-width:100%; height:auto; padding:6px; border:1px solid #eee; background-color:#fafafa; }
.aside-article { position:relative; padding-left:115px; min-height:70px; margin-bottom:20px; }
.aside-article:last-child { margin-bottom:0; }
.aside-article .thumb > img { position:absolute; left:0; top:0; width:100px; height:auto; }
.aside-article h4 { margin:0; font-size:15px; }
.aside-article h4 a,
.aside-widget .widget-inner li a { color:#242526; }
.aside-widget .widget-inner ul { margin:0; padding:0; }
.aside-widget .widget-inner ul li { list-style:none; }
.aside-widget .widget-inner li a { color:#242526; display:inline-block; margin-right:10px; }
.aside-widget .widget-inner ul li { list-style:none; line-height:1.5; border-bottom:1px solid #eee; margin-bottom:8px; padding-bottom:8px; }
.aside-widget .widget-inner ul li:last-child { margin-bottom:0; border-bottom:none; padding-bottom:0; }
.aside-widget .widget-inner li a:hover,
.aside-widget .widget-inner li a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus { text-decoration:none; }
.aside-widget .widget-inner .tagcloud a { font-weight:500; letter-spacing:1px; text-transform:uppercase; line-height:1.3; color:#242526; }
.aside-widget .widget-inner .tagcloud a:hover { text-decoration:none; }
.calendar_wrap { padding:20px; background-color:#fff; }
.calendar_wrap #wp-calendar { width:100%; }
.calendar_wrap #wp-calendar,
.calendar_wrap #wp-calendar th { text-align:center; }
.calendar_wrap #wp-calendar caption { padding:4px 10px; background:#121212; color:#fff; margin-bottom:10px; text-transform:uppercase; letter-spacing:2px; text-align:center; }
.calendar_wrap #wp-calendar a { color:#242526; font-weight:500; }
.calendar_wrap #wp-calendar a:hover { text-decoration:none; }
.aside-widget .widget-inner ul:after { clear:both; }
.aside-widget .widget-inner ul:after,
.aside-widget .widget-inner ul:before { display:table; content:''; }
.aside-widget .widget-inner ul.flickr-feed li { float:left; width:25%; border:none; margin:0; padding:0;}
.aside-widget .widget-inner ul.flickr-feed li a { margin:3px; display:block; }
.aside-widget .widget-inner ul.flickr-feed li a img { width:100%; height:auto; }
.aside-widget .social-nav { margin:0; padding:0; }
.aside-widget .social-nav li a { color:#fff; }
.aside-widget .social-nav li { list-style:none; float:left; margin:0 4px 8px !important; padding:0 !important; border:none !important; }
.aside-widget .social-nav li:last-child { margin-right:0; }
.aside-widget .social-nav li a,
.aside-widget .social-nav li a:hover,
.aside-widget .social-nav li a:focus { display:block; width:45px; height:45px; line-height:44px; font-size:17px; text-align:center; border-radius:50%; color:#fff !important; -webkit-transition:all 0.25s; transition:all 0.25s; margin:0 !important; }
.aside-widget .signature > img { max-width:180px; height:auto; }

/* ===================================
   09. Forms & Buttons
   =================================== */
.form-wrap,
div.wpcf7 { margin-bottom:30px !important; }
.form-wrap,
.comment-form,
.wpcf7 .wpcf7-form { padding:15px; background-color:#fafafa; }
.form-wrap form { margin-bottom:20px; }
.form-control,
.form-control:focus,
input,
input:focus,
textarea,
textarea:focus,
select,
select:focus { height:38px; padding:6px 12px; box-shadow:none; border-radius:3px; background-color:#fff; -webkit-transition:all 0.3s; transition:all 0.3s; box-shadow:1px 1px 2px rgba(0,0,0,0.05) inset; border:1px solid #e6e6e6; outline:none; max-width:100%; }
.comment-form input[type=text],
.search-field { width:100%; max-width:350px; }
.form-control::-moz-placeholder { -webkit-transition:color 0.4s; transition:color 0.4s; }
.form-control:-ms-input-placeholder { -webkit-transition:color 0.4s; transition:color 0.4s; }
.form-control::-webkit-input-placeholder { -webkit-transition:color 0.4s; transition:color 0.4s; }
.form-control:focus::-moz-placeholder{color:#242526;opacity:1}
.form-control:focus:-ms-input-placeholder{color:#242526}
.form-control:focus::-webkit-input-placeholder{color:#242526}
textarea.form-control,
textarea.form-control:focus,
form textarea,
form textarea:focus { height:120px; width:100%; }
.btn,
input[type=button],
input[type=submit],
input[type=button]:focus,
input[type=submit]:focus { font-weight:500; height:auto; text-transform:uppercase; letter-spacing:1px; padding:11.5px 20px; border-radius:3px; }
.btn-default,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
input[type=button]:hover,
input[type=submit]:hover,
input[type=button]:focus,
input[type=submit]:focus { background-color:#121212; border-color:#121212; color:#fff; outline:none; }
.btn-default:hover,
.btn-default:focus,
input[type=button],
input[type=submit] { color:#fff; }
form label { display:block; color:#242526; }
.logged-in-as a { color:#9a9d9f; }
button:focus,
.btn:focus { outline:none; }
form label > sup { color:red; }
input[type=checkbox],
input[type=checkbox]:focus,
input[type=checkbox]:active { float:left; height:26px; margin:0 10px 0 0; }
.post-password-form { padding:30px; background-color:#fafafa; }


/* ===================================
   10. Footer
   =================================== */
.site-footer { background-color:#121212; text-align:center; color:#636363; }
.site-footer p { max-width:600px; margin-left:auto; margin-right:auto; }
.site-footer a { color:#818181; }
.site-footer .social-nav { padding:0; margin:0; }
.site-footer .social-nav li { list-style:none; float:left; text-align:center; }
.site-footer .social-nav.col1 li { width:100%; }
.site-footer .social-nav.col2 li { width:50%; }
.site-footer .social-nav.col3 li { width:33.33333%; }
.site-footer .social-nav.col4 li { width:25%; }
.site-footer .social-nav.col5 li { width:20%; }
.site-footer .social-nav.col6 li { width:16.66666%; }
.site-footer .social-nav.col7 li { width:14.28571%; }
.site-footer .social-nav.col8 li { width:12.5%; }
.site-footer .social-nav.col9 li { width:11.11111%; }
.site-footer .social-nav.col10 li { width:10%; }
.site-footer .social-nav.col11 li { width:9.090909%; }
.site-footer .social-nav.col12 li { width:8.33333%; }
.site-footer .social-nav.col13 li { width:7.692307%; }
.site-footer .social-nav.col14 li { width:7.142857%; }
.site-footer .social-nav.col15 li { width:6.666666%; }
.site-footer .social-nav.col16 li { width:6.25%; }
.site-footer .social-nav li a { background-color:#222222; color:#818181; font-size:17px; display:block; padding:10px 0; border-right:1px solid #121212; -webkit-transition:all 0.3s; transition:all 0.3s; }
.site-footer .social-nav li:last-child a { border-right:none; }
.site-footer .ft-inner { padding:50px 0; }
.site-footer .social-nav li a:hover { color:#fff; }
.site-footer .copyright { padding:30px; background-color:#0e0e0e; }
.site-footer .ft-logo { max-width:200px; height:auto; }
.site-footer .ft-nav { text-transform:uppercase; margin:15px 0 0; font-weight:500; letter-spacing:1px; font-size:14px; }
.site-footer .ft-nav li:before { content:'|'; margin-right:11px; color:rgba(255,255,255,0.1); }
.site-footer .ft-nav li:first-child:before { display:none; }
.site-footer .ft-nav a:hover { text-decoration:none; }
.site-footer .ad-wrap { margin:40px auto 0; }
.site-footer .ad-wrap img { max-width:90%; height:auto; padding:6px; background-color:rgba(255,255,255,0.03); border:1px solid rgba(255,255,255,0.05); }
.ad-wrap a:hover,
.header-ad a:hover,
.widget-inner .banner-ad:hover,
.aside-article .thumb:hover > img,
.aside-widget .widget-inner ul.flickr-feed li a:hover img { opacity:0.8; }

/* ==============================
	11. Back to Top Button
   ============================== */
.go-top {
  display: block; height: 36px; width: 36px; border-radius:50%; z-index:100000; position: fixed; bottom: 10px; right: 10px; color:#fff; visibility: hidden; opacity: 0.5;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s;
}
.go-top:hover,
.go-top:focus {
	color:#fff; text-decoration:none; opacity:1;
}
.go-top i {
	display:block; height:36px; width:36px; line-height:34px; font-size:20px; text-align:center;
}
.go-top.cd-is-visible, .go-top.cd-fade-out, .no-touch .go-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s;
}
.go-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible; opacity: 1;
}
.go-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .3;
}
.no-touch .go-top:hover {
  opacity: 1;
}

/* ===================================
   12. WordPress Classes
   =================================== */
img.alignright { float: right; margin: 0 0 20px 20px; max-width:100%; }
img.alignleft { float: left; margin: 0 20px 20px 0; max-width:100%; }
img.aligncenter { display:block; margin:30px auto; max-width:100%; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display:block; margin:15px auto; }
.wp-caption { background:#fff; border:1px solid #f0f0f0; background-color:#fafafa; max-width:96%; padding:6px 6px 5px; text-align:center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: none; margin: 0; padding: 0; }
.wp-caption p.wp-caption-text { font-size:11px; line-height:17px; margin:0; padding:3px 0 0; }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; white-space: nowrap; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block;	font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto;	z-index: 100000; }
.sticky { border-bottom:5px solid #121212; }
.gallery-caption { color: #686868; display: block; font-size: 13px; font-size: 0.8125rem; font-style: italic; line-height: 1.6153846154; padding-top: 0.5384615385em; }
.bypostauthor > article .fn:after { content: "\f304"; left: 3px; position: relative; top: 5px; }
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail { max-width: 100%; height: auto; }

/* ===================================
   13. Media Queries
   =================================== */
@media (min-width:350px) {
	.mini-post .post-meta li + li { display:inline-block; }
}
@media (min-width:400px) {
	.featured-carousel .featured-post { height:300px; }
	.single-post.style2 .featured-carousel .featured-post,
	.single-post.style3 .featured-carousel .featured-post { height:240px; }
	.featured-carousel .featured-post h2,
	.single-post h1 { font-size:26px; }
}
@media (min-width:560px) {
	.featured-carousel .featured-post { height:420px; }
	.inner-page .inner-banner { padding:100px 0; }
	.search .inner-page .inner-banner,
	.archive .inner-page .inner-banner { padding:60px 0; }
	.single-post.style2 .featured-carousel .featured-post,
	.single-post.style3 .featured-carousel .featured-post { height:320px; }
	.featured-carousel .featured-post .inner-block,
	.single-post .post-header .inner-block { bottom:15px; }
	.featured-carousel .featured-post h2,
	.single-post h1 { font-size:30px; margin:10px 0 8px; }
	.mini-post .post-content { padding:25px 20px 0; }
	.share-list { float:left; }
	.single-post .post-content .meta-wrap .comments { margin-top:7px; }
	.meta-wrap { border-top:1px solid #eee; border-bottom:none; background-color:#fafafa; padding:10px 15px; margin-bottom:30px; }
	.single-post.style2 .meta-wrap.before { margin-bottom:10px; }
	.single-post.style2 .category-label { margin-bottom:0; }
	.single-post.style2 h1 { margin-top:10px; }
	.single-post .meta-wrap.after { margin-top:30px; }
	.comment-list { padding:30px; }
	.comment-list .children { padding-left:30px; }
	.prev-next .prev-article { float:left; text-align:left; width:50%; padding-right:30px; }
	.prev-next .next-article { float:right; text-align:right; width:50%; padding-left:30px; }
	.prev-next > div h5 { margin:5px 0 0; }
	.form-control,
	.form-control:focus,
	form input,
	form input:focus { height:45px; }
	.form-wrap,
	.comment-form,
	.wpcf7 .wpcf7-form { padding:30px; }
	.wpcf7-submit { min-width:160px; }
	.author-box { text-align:left; }
	.author-box .avatar { max-width:60px; float:left; margin:0 15px 0 0; }
	.site-footer .ft-inner { padding:60px 0; }
	.site-footer .ad-wrap { margin:50px auto 0; }
	img.alignright,
	img.alignleft { max-width:45%; height:auto; }
	.single-post.style2 .featured-carousel { margin:20px 0 30px; }
	.single-post.style3 .post-header .inner-block { bottom:10px; padding:0 15px; }
}
@media (min-width:768px) {
	.not-found h1 { font-size:68px; }
	.body-wrapper { margin-top:0; }
	.inner-banner h1 { font-size:58px; }
	.nav-wrap { height:60px; box-shadow:0 -5px 12px rgba(0,0,0,.03); }
	.categories-wrap,
	.home-slider { margin-top:0; }
	.home .section { margin-top:0; }
	.home .has-slider { padding-top:40px; }
	.logo-wrap.style2 { padding:30px 0; }
	.logo-wrap.style2 .logo { display:inline-block; margin:0 auto 30px; }
	.search-wrap { top:100%; }
	.search-wrap .search-form .search-field { height:52px; font-size:19px; }
	.top-navbar .social-nav { float:right; }
	.navbar-brand { padding:2px; height:40px; margin:10px 15px; }
	.affix-top .navbar-brand .logo-alt { display:block; }
	.affix-top .navbar-brand .logo { display:none; }
	.navbar-nav > li > a { padding-top:20px; padding-bottom:20px; }
	.logo-wrap { display:block; }
	.heading-xl { font-size:45px; }
	.affix-top .navbar-header { display:none; }
	.affix .navbar-header { display:block; }
	.featured-carousel .featured-post,
	.featured-carousel.mini-carousel .featured-post { height:480px; }
	.single-post.style2 .featured-carousel .featured-post,
	.single-post.style3 .featured-carousel .featured-post { height:420px; }
	.mini-post .featured-carousel .featured-post { height:320px; }
	.featured-carousel .featured-post .inner-block,
	.single-post .post-header .inner-block { bottom:25px; }
	.featured-carousel.mini-carousel .featured-post .inner-block { bottom:10px; }
	.featured-carousel.mini-carousel .featured-post .post-extras { top:30px; }
	.featured-carousel.mini-carousel .featured-post .inner-block,
	.featured-carousel.mini-carousel .featured-post .post-extras { padding:0 30px; }
	.featured-carousel .featured-post h2,
	.single-post h1 { font-size:38px; margin:15px 0 10px; }
	.featured-carousel.mini-carousel .featured-post h2 { font-size:32px; margin:12px 0 5px; }
	.featured-carousel.multi .featured-post { height:300px; }
	.categories-wrap ul li a,
	.categories-wrap ul li span { font-size:15px; font-weight:500; padding:7px 18px; min-width:60px; }
	.featured-carousel .featured-post .post-extras { top:30px; }
	.search-btn { margin:17px 0 0 0; }
	.search-btn:before { content:'Search'; font-size:14px; margin-right:6px; opacity:0; position:absolute; right:100%; top:1px; -webkit-transition:all 0.4s; transition:all 0.4s; }
	.search-btn:hover:before { opacity:1; color:#9a9d9f; }
	.site-footer .social-nav li a { font-size:19px; }
	.single-post > .section { margin-top:0; }
	.breadcrumb-wrap { margin-bottom:30px; }
	.sidebar-left .content-area { float:right; }
}
@media (min-width:990px) {
	.innerpage-title > span { display:inline-block; padding-left:15px; margin:0 0 0 5px; font-size:85%; }
	.innerpage-title > span:before { content:''; position:absolute; left:0; top:0; height:100%; width:1px; border-left:1px dotted #ccc; }
	.featured-carousel .featured-post,
	.single-post.style3 .featured-carousel .featured-post { height:560px; }
	.featured-carousel.mini-carousel .featured-post { height:480px; }	
	.single-post.style2 .featured-carousel .featured-post { height:460px; }
	.mini-post .featured-carousel .featured-post { height:380px; }
	.featured-carousel .featured-post .inner-block,
	.single-post .post-header .inner-block { bottom:40px; }
	.featured-carousel .featured-post h2,
	.single-post h1 { font-size:45px; }
	.single-post.style2 h1 { font-size:38px; margin-bottom:0; }
	.featured-carousel .featured-post .post-extras { top:40px; }	
	.mini-post.style2 { position:relative; padding-left:50%; background-color:#121212; }
	.mini-post.style2 .post-thumbnail { width:50%; height:100%; position:absolute; left:0; top:0; background-position:center; background-size:cover; background-repeat:no-repeat; opacity:0.85; }
	.mini-post.style2 .post-thumbnail:hover { opacity:1; }
	.mini-post.style2 .post-thumbnail > img { display:none; }
	.mini-post.style2 .post-content { border:1px solid #eee; border-left:none; background-color:#fff; }
	.share-list li a { width:56px; }
	.site-footer .social-nav li a { font-size:23px; }
}
@media (min-width:1200px) {
	.logo-wrap.style2 { text-align:left; }
	.header-ad { text-align:right; }
	.logo-wrap.style2 .logo { margin:15px auto 0; }
	.mini-post .featured-carousel .featured-post { height:250px; }
}
@media (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:before { top:11px; }
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover:before { left:10px; }
	.featured-carousel.multi { margin-top:50px; }
	.no-social-nav,
	.logo-wrap.no-header-ad { display:none; }
	.no-social-nav + .logo-wrap.no-header-ad + .nav-wrap,
	.style1.no-header-ad + .nav-wrap { position:static; }
	.has-social-nav + .style1.no-header-ad + .nav-wrap { position:relative; }
}
@media (max-width:559px) {
	.section { padding:0 0 30px; }
	.categories-wrap { display:none; }
	.home .body-wrapper { margin-top:0px; }
	.single-post .meta-wrap { text-align:center; padding:6px 0 0; margin-bottom:20px; border:none; background-color:transparent; }
	.single-post.style2 .meta-wrap { margin-bottom:10px; }
	.single-post .meta-wrap > a,
	.sl-wrapper { float:none; display:inline-block; }	
	.home .sl-wrapper { float:right; margin:0; }
	.share-list { margin:10px auto 0; }
	.share-list li { padding:0; float:left; width:16.66666%; }
	.share-list li a { width:100%; }
	.single-post.style3 .featured-carousel,
	.single-post.style1 .breadcrumb-wrap,
	.single-post.style2 .breadcrumb-wrap { margin-bottom:0px; }
}
@media (max-width:420px) {
	.comment-list { text-align:center; }
	.comment-list li .avatar { float:none; margin:15px auto; display:block; }	
	.mini-post .featured-carousel .featured-post { height:220px; }
	.wpcf7-form-control-wrap .g-recaptcha > div,
	.wpcf7-form-control-wrap .g-recaptcha > div iframe { max-width:100% !important; }
}

/* ===================================
   14. Accent Color
   =================================== */
.sl-wrapper a i.fa-heart { color:#ff4500; }
.top-navbar .social-nav li a:hover,
.mini-post .post-title a:hover,
.comment-list li .comment-body .reply a:hover,
.author-box .vcard a:hover,
.site-footer .ft-nav a:hover,
.comment-author .url:hover,
.aside-widget .widget-inner li a:hover,
.aside-widget .widget-inner li a:focus,
.breadcrumb-wrap .breadcrumb a:hover,
.logged-in-as a:hover,
.logged-in-as a:focus,
.aside-widget .widget-inner .tagcloud a:hover,
.aside-widget .widget-inner .tagcloud a:focus,
.calendar_wrap #wp-calendar a:hover,
.calendar_wrap #wp-calendar a:focus,
.calendar_wrap #wp-calendar #today,
blockquote cite a:hover { color:#f83030; }
.categories-wrap ul li.active span,
.category-label li a:hover,
.btn-default:hover,
.btn-default:focus,
.btn-primary,
input[type=button],
input[type=submit],
button,
.page-numbers li span.current,
.paginated-links > span { background-color:#f83030; border-color:#f83030; }
.author-box .social-nav li a:hover,
.spinner,
.go-top,
.mini-post:hover > .result-type,
.color-overlay:after { background-color:#f83030; }