/**
 * @package    WordPress
 * @subpackage Drone
 * @since      5.0
 */

/* Shortcode mark
----------------------------------------------------------------------------- */
.drone-shortcode-mark {
	border-radius: 2px;
	font-family: Consolas, Monaco, monospace;
	color: #fff;
	background: #2ea2cc;
	margin: 0 1px;
	padding: 1px;
}