
/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;max-width:100%;height:auto;-webkit-transform-style:preserve-3d}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:60px;width:60px;left:50%;top:50%;margin-left:-30px;margin-top:-30px;background:url(../img/video-play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:opacity .3s ease;transition:opacity .3s ease}.owl-carousel .owl-video-play-icon:hover{opacity:0.8;}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
.featured-carousel .owl-nav { width:100%; max-width:1140px; margin:0 auto; position:relative; }
.featured-carousel.multi { overflow:hidden; }
.featured-carousel.multi .owl-nav { width:100%; position:static; opacity:0; -webkit-transition:all 0.4s; transition:all 0.4s; }
.featured-carousel.multi:hover .owl-nav { opacity:1; }
.featured-carousel.mini-carousel .owl-nav { right:30px; }
@media (min-width:768px) { .mini-post .loop-carousel .owl-nav { opacity:0; } }
.mini-post .loop-carousel .owl-nav { position:static; -webkit-transition:all 0.4s; transition:all 0.4s; }
.mini-post .loop-carousel:hover .owl-nav { opacity:1; }
.mini-post .loop-carousel .owl-prev,
.mini-post .loop-carousel .owl-next { left:15px; top:50%; margin-top:-24px; background-color:rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.35); color:rgba(255,255,255,0.85); }
.mini-post .loop-carousel .owl-next { left:auto; right:15px; }
.featured-carousel .owl-prev, .featured-carousel .owl-next, .featured-carousel.multi .owl-prev, .featured-carousel.multi .owl-next {position:absolute; z-index:10000; bottom:40px; width:48px; height:48px; text-align:center; line-height:47px; border-radius:50%; background-color:rgba(255,255,255,0.1); border:1px solid rgba(255,255,255,0.15); color:rgba(255,255,255,0.7); -webkit-transition:all 0.3s; transition:all 0.3s; font-size:13px; } .featured-carousel .owl-prev{right:65px; padding-right:3px;} .featured-carousel .owl-next{right:0px; padding-left:3px;} .featured-carousel .owl-prev:hover, .featured-carousel .owl-next:hover, .featured-carousel.multi .owl-prev:hover, .featured-carousel.multi .owl-next:hover {background-color:#fff; border-color:#fff; color:#242526;}
@media (max-width:1199px) {.featured-carousel .owl-nav{max-width:115px;} .featured-carousel .owl-prev, .featured-carousel .owl-next{bottom:-25px; background-color:#fff; border-color:rgba(0,0,0,.1); color:#242526; box-shadow:0 0 10px rgba(0,0,0,.1) inset;} .featured-carousel .owl-prev:hover, .featured-carousel .owl-next:hover{background-color:#121212; border-color:#121212; color:#fff;}.featured-carousel.mini-carousel .owl-nav { right:auto; }}
@media (max-width:560px) {.featured-carousel .owl-nav{display:none;} .featured-carousel.multi .owl-nav{display:block;}}
.featured-carousel.multi .owl-prev, .featured-carousel.multi .owl-next { top:50%; margin-top:-24px; -webkit-transition:all 0.4s; transition:all 0.4s; -webkit-transform:scale(0.5); transform:scale(0.5); opacity:0;}
.featured-carousel.multi .owl-prev{left:20px; padding-right:3px;} .featured-carousel.multi .owl-next{right:20px; padding-left:3px;}
.featured-carousel.multi:hover .owl-prev, .featured-carousel.multi:hover .owl-next{ -webkit-transform:scale(1); transform:scale(1); opacity:1;}