/**
 * @package    WordPress
 * @subpackage Website
 */

/* Box
----------------------------------------------------------------------------- */
section.box {
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	margin: 18px 0;
	padding: 18px 25px;
}
section.box.bottom,
section.box:last-child {
	margin-bottom: 10px;
}
.clear-this + section.box {
	margin-top: 0;
}
section.box h1 {
	font: normal 38px/1 Rokkitt, "Times New Roman";
}
section.box p {
	margin-top: 10px;
}
section.box .close {
	background-position: left top;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 9px;
	top: 8px;
	width: 15px;
	height: 15px;
}
section.box .close:hover {
	border-bottom-width: 0;
	background-position: right top;
}

@media only screen and (max-width: 979px) { /* <= Tablet */
	section.box {
		padding: 15px 20px;
	}
	section.box h1 {
		font-size: 34px;
	}
}
@media only screen and (max-width: 739px) { /* <= Mobile */
	section.box {
		margin: 13px 0;
		padding: 13px 15px;
	}
	section.box h1 {
		font-size: 26px;
	}
}
@media only screen and (max-width: 319px) { /* <= Mini */
	section.box {
		padding: 13px 12px;
	}
	section.box h1 {
		font-size: 20px;
	}
}

/* Columns
----------------------------------------------------------------------------- */
section.columns {
	margin: 30px 0;
}
section.columns.bottom,
section.columns:last-child {
	margin-bottom: 10px;
}
.clear-this + section.columns {
	margin-top: 12px;
}
section.columns > ul {
	list-style: none;
}
section.columns .column {
	border-left-width: 1px;
	border-style: dotted;
	float: left;
	margin-left: 14px;
	padding-left: 20px;
	height: 100%;
}
section.columns .column:first-child {
	border: none;
	margin: 0;
	padding: 0;
}
section.columns.two .column {
	width: 452px;
}
section.columns.three .column {
	width: 290px;
}
section.columns.four .column {
	width: 208px;
}
#content section.columns.two .column {
	width: 332px;
}
#content section.columns.three .column {
	width: 210px;
}
#content section.columns.four .column {
	width: 148px;
}
section.columns .column .icon {
	float: left;
}
section.columns .column h1 {
	background-position: left center;
	background-repeat: no-repeat;
	font: normal 28px/28px Rokkitt, "Times New Roman";
	margin-bottom: 10px;
	padding-top: 2px;
}
section.columns .column .icon + h1 {
	margin-left: 42px;
}
section.columns .column p,
section.columns .column ul,
section.columns .column ol {
	margin-top: 10px;
}

@media only screen and (max-width: 979px) { /* <= Tablet */
	section.columns .column {
		margin-left: 6px;
		padding-left: 10px;
	}
	section.columns.two .column {
		width: 341px;
	}
	section.columns.three .column {
		width: 222px;
	}
	section.columns.four .column {
		width: 162px;
	}
	#content section.columns.two .column {
		width: 221px;
	}
	#content section.columns.three .column {
		width: 142px;
	}
	#content section.columns.four .column {
		width: 102px;
	}
	section.columns .column .icon + h1 {
		margin-left: 40px;
	}
}
@media only screen and (max-width: 739px) { /* <= Mobile */
	section.columns {
		margin: 20px 0;
	}
	.clear-this + section.columns {
		margin-top: 7px;
	}
	section.columns > ul {
		height: auto !important;
	}
	section.columns .column {
		border-top-width: 1px;
		border-left-width: 0;
		float: none;
		margin-top: 15px;
		padding-top: 15px;
		margin-left: 0;
		padding-left: 0;
		width: 100% !important;
		height: auto;
	}
}
@media only screen and (max-width: 319px) { /* <= Mini */
	section.columns .column {
		margin-top: 15px;
		padding-top: 15px;
	}
}

/* Breadcrumbs
----------------------------------------------------------------------------- */
.breadcrumbs {
	font-size: 11px;
	line-height: 19px;
	margin: 10px 0;
}
.breadcrumbs + * {
	margin-top: 0 !important;
}
.breadcrumbs ul {
	list-style: none;
}
.breadcrumbs li {
	display: inline-block;
	white-space: nowrap;
}
.breadcrumbs li:before {
	content: '\203a';
	position: relative;
	margin: 0 0.6em;
	top: -1px;
}
.breadcrumbs meta:first-child + li:before,
.breadcrumbs meta:first-child + meta + li:before,
.breadcrumbs li:first-child:before {
	display: none;
}
.breadcrumbs a:hover {
	border-bottom-width: 0;
}

/* Post
----------------------------------------------------------------------------- */
.post {
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	margin: 18px 0;
}
.post > * {
	padding-left: 25px;
	padding-right: 25px;
}
.post .main {
	padding-top: 18px;
	padding-bottom: 18px;
}
.post .main *:last-child {
	margin-bottom: 0;
}
.post .title {
	font: normal 38px/38px Rokkitt, "Times New Roman";
	position: relative;
	padding-left: 48px;
}
.post.default .title,
.post.page .title  {
	padding-left: 0;
}
.post.quote .title {
	font: italic 23px/1.57 Georgia, serif;
}
.post .title:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 35px;
	height: 35px;
}
.post.default .title:before,
.post.page .title:before  {
	display: none;
}
.post.link .title:before {
	background-position: 0 0;
}
.post.image .title:before {
	background-position: -35px 0;
}
.post.quote .title:before {
	background-position: -70px 0;
}
.post.status .title:before {
	background-position: -105px 0;
}
.post.video .title:before {
	background-position: -140px 0;
}
.post.audio .title:before {
	background-position: -175px 0;
}
.post.chat .title:before {
	background-position: -210px 0;
}
.post .title a:hover {
	border-bottom-width: 0;
}
.post .featured {
	background: transparent;
	margin: 0 0 20px;
}
.post .title + .featured {
	margin-top: 18px;
}
.post .featured audio,
.post .featured video,
.post .featured iframe,
.post .featured embed,
.post .featured object,
.post .featured > a > img,
.post .featured > img {
	display: block;
	width: 100%;
	height: auto;
}
.post .featured audio,
.post .featured video {
	background: transparent;
}
.post.default .featured {
	float: left;
	margin: 7px 18px 0 0;
}
.post.default .featured img {
	border-width: 1px;
	border-style: solid;
	position: relative;
	width: 188px;
	height: 188px;
	z-index: 1;
}
.post .content {
	margin-top: 10px;
}
.post .content:first-child,
.post .content > *:first-child,
.post .content blockquote > *:first-child,
.post .content div.frame > *:first-child,
.post .content div.columns .column > *:first-child {
	margin-top: 0 !important;
}
.post .content > *:last-child,
.post .content .column > *:last-child {
	margin-bottom: 0 !important;
}
.post .content input[type="text"],
.post .content input[type="email"],
.post .content input[type="tel"],
.post .content input[type="url"],
.post .content input[type="password"],
.post .content textarea,
.post .content select {
	border-width: 1px;
}
.post .content p,
.post .content ul,
.post .content ol,
.post .content table,
.post .content blockquote,
.post .content pre,
.post .content code,
.post .content figure,
.post .content fieldset,
.post .content .tabs,
.post .content .frame {
	margin: 10px 0;
}
.post.chat .content p {
	position: relative;
	margin-top: 9px;
	padding-left: 100px;
}
.post .content h1,
.post .content h2,
.post .content h3,
.post .content h4,
.post .content h5,
.post .content h6 {
	font-family: Rokkitt, "Times New Roman";
	font-weight: normal;
	line-height: 1;
	margin: 11px 0;
}
.post .content h1 {
	font-size: 38px;
}
.post .content h2 {
	font-size: 32px;
}
.post .content h3 {
	font-size: 28px;
}
.post .content h4 {
	font-size: 22px;
}
.post .content h5,
.post .content h6 {
	font-size: 18px;
}
.post .content ul,
.post .content ol {
	list-style-position: outside;
}
.post .content ul ul,
.post .content ul ol,
.post .content ol ol,
.post .content ol ul,
.post .content li {
	margin-top: 6px;
}
.post .content li:first-child {
	margin-top: 0;
}
.post .content ul {
	list-style-type: disc;
	margin-left: 14px;
}
.post .content ol {
	margin-left: 17px;
}
.post .content .icon {
	position: relative;
	top: -1px;
	vertical-align: middle;
}
.post .content ul.list {
	list-style: none;
	margin-left: 0;
}
.post .content ul.list ul.list {
	margin-left: 28px;
}
.post .content ul.list > li {
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 28px;
}
.post .content ul.list.address > li {
	background-image: url(../img/icons/16/address.png);
}
.post .content ul.list.administrative-docs > li {
	background-image: url(../img/icons/16/administrative-docs.png);
}
.post .content ul.list.advertising > li {
	background-image: url(../img/icons/16/advertising.png);
}
.post .content ul.list.archives > li {
	background-image: url(../img/icons/16/archives.png);
}
.post .content ul.list.attibutes > li {
	background-image: url(../img/icons/16/attibutes.png);
}
.post .content ul.list.bank > li {
	background-image: url(../img/icons/16/bank.png);
}
.post .content ul.list.basket > li {
	background-image: url(../img/icons/16/basket.png);
}
.post .content ul.list.bestseller > li {
	background-image: url(../img/icons/16/bestseller.png);
}
.post .content ul.list.billing > li {
	background-image: url(../img/icons/16/billing.png);
}
.post .content ul.list.bookmark > li {
	background-image: url(../img/icons/16/bookmark.png);
}
.post .content ul.list.brainstorming > li {
	background-image: url(../img/icons/16/brainstorming.png);
}
.post .content ul.list.business-contact > li {
	background-image: url(../img/icons/16/business-contact.png);
}
.post .content ul.list.busy > li {
	background-image: url(../img/icons/16/busy.png);
}
.post .content ul.list.calendar > li {
	background-image: url(../img/icons/16/calendar.png);
}
.post .content ul.list.category > li {
	background-image: url(../img/icons/16/category.png);
}
.post .content ul.list.check > li {
	background-image: url(../img/icons/16/check.png);
}
.post .content ul.list.collaboration > li {
	background-image: url(../img/icons/16/collaboration.png);
}
.post .content ul.list.comment > li {
	background-image: url(../img/icons/16/comment.png);
}
.post .content ul.list.communication > li {
	background-image: url(../img/icons/16/communication.png);
}
.post .content ul.list.config > li {
	background-image: url(../img/icons/16/config.png);
}
.post .content ul.list.consulting > li {
	background-image: url(../img/icons/16/consulting.png);
}
.post .content ul.list.contact > li {
	background-image: url(../img/icons/16/contact.png);
}
.post .content ul.list.cost > li {
	background-image: url(../img/icons/16/cost.png);
}
.post .content ul.list.credit-card > li {
	background-image: url(../img/icons/16/credit-card.png);
}
.post .content ul.list.credit > li {
	background-image: url(../img/icons/16/credit.png);
}
.post .content ul.list.current-work > li {
	background-image: url(../img/icons/16/current-work.png);
}
.post .content ul.list.customers > li {
	background-image: url(../img/icons/16/customers.png);
}
.post .content ul.list.cv > li {
	background-image: url(../img/icons/16/cv.png);
}
.post .content ul.list.database > li {
	background-image: url(../img/icons/16/database.png);
}
.post .content ul.list.date > li {
	background-image: url(../img/icons/16/date.png);
}
.post .content ul.list.delicious > li {
	background-image: url(../img/icons/16/delicious.png);
}
.post .content ul.list.document-library > li {
	background-image: url(../img/icons/16/document-library.png);
}
.post .content ul.list.donate > li {
	background-image: url(../img/icons/16/donate.png);
}
.post .content ul.list.drawings > li {
	background-image: url(../img/icons/16/drawings.png);
}
.post .content ul.list.edit > li {
	background-image: url(../img/icons/16/edit.png);
}
.post .content ul.list.email > li {
	background-image: url(../img/icons/16/email.png);
}
.post .content ul.list.featured > li {
	background-image: url(../img/icons/16/featured.png);
}
.post .content ul.list.feed > li {
	background-image: url(../img/icons/16/feed.png);
}
.post .content ul.list.finished-work > li {
	background-image: url(../img/icons/16/finished-work.png);
}
.post .content ul.list.flag > li {
	background-image: url(../img/icons/16/flag.png);
}
.post .content ul.list.folder > li {
	background-image: url(../img/icons/16/folder.png);
}
.post .content ul.list.free-for-job > li {
	background-image: url(../img/icons/16/free-for-job.png);
}
.post .content ul.list.freelance > li {
	background-image: url(../img/icons/16/freelance.png);
}
.post .content ul.list.full-time > li {
	background-image: url(../img/icons/16/full-time.png);
}
.post .content ul.list.future-projects > li {
	background-image: url(../img/icons/16/future-projects.png);
}
.post .content ul.list.graphic-design > li {
	background-image: url(../img/icons/16/graphic-design.png);
}
.post .content ul.list.heart > li {
	background-image: url(../img/icons/16/heart.png);
}
.post .content ul.list.hire-me > li {
	background-image: url(../img/icons/16/hire-me.png);
}
.post .content ul.list.home > li {
	background-image: url(../img/icons/16/home.png);
}
.post .content ul.list.illustration > li {
	background-image: url(../img/icons/16/illustration.png);
}
.post .content ul.list.invoice > li {
	background-image: url(../img/icons/16/invoice.png);
}
.post .content ul.list.issue > li {
	background-image: url(../img/icons/16/issue.png);
}
.post .content ul.list.library > li {
	background-image: url(../img/icons/16/library.png);
}
.post .content ul.list.lightbulb > li {
	background-image: url(../img/icons/16/lightbulb.png);
}
.post .content ul.list.limited-edition > li {
	background-image: url(../img/icons/16/limited-edition.png);
}
.post .content ul.list.link > li {
	background-image: url(../img/icons/16/link.png);
}
.post .content ul.list.lock > li {
	background-image: url(../img/icons/16/lock.png);
}
.post .content ul.list.login > li {
	background-image: url(../img/icons/16/login.png);
}
.post .content ul.list.logout > li {
	background-image: url(../img/icons/16/logout.png);
}
.post .content ul.list.milestone > li {
	background-image: url(../img/icons/16/milestone.png);
}
.post .content ul.list.my-account > li {
	background-image: url(../img/icons/16/my-account.png);
}
.post .content ul.list.networking > li {
	background-image: url(../img/icons/16/networking.png);
}
.post .content ul.list.old-versions > li {
	background-image: url(../img/icons/16/old-versions.png);
}
.post .content ul.list.order > li {
	background-image: url(../img/icons/16/order.png);
}
.post .content ul.list.order-check > li {
	background-image: url(../img/icons/16/order-check.png);
}
.post .content ul.list.payment-card > li {
	background-image: url(../img/icons/16/payment-card.png);
}
.post .content ul.list.paypal > li {
	background-image: url(../img/icons/16/paypal.png);
}
.post .content ul.list.pen > li {
	background-image: url(../img/icons/16/pen.png);
}
.post .content ul.list.pencil > li {
	background-image: url(../img/icons/16/pencil.png);
}
.post .content ul.list.phone > li {
	background-image: url(../img/icons/16/phone.png);
}
.post .content ul.list.photography > li {
	background-image: url(../img/icons/16/photography.png);
}
.post .content ul.list.plus > li {
	background-image: url(../img/icons/16/plus.png);
}
.post .content ul.list.premium > li {
	background-image: url(../img/icons/16/premium.png);
}
.post .content ul.list.print > li {
	background-image: url(../img/icons/16/print.png);
}
.post .content ul.list.process > li {
	background-image: url(../img/icons/16/process.png);
}
.post .content ul.list.product-box > li {
	background-image: url(../img/icons/16/product-box.png);
}
.post .content ul.list.product-design > li {
	background-image: url(../img/icons/16/product-design.png);
}
.post .content ul.list.product > li {
	background-image: url(../img/icons/16/product.png);
}
.post .content ul.list.project > li {
	background-image: url(../img/icons/16/project.png);
}
.post .content ul.list.publish > li {
	background-image: url(../img/icons/16/publish.png);
}
.post .content ul.list.refresh > li {
	background-image: url(../img/icons/16/refresh.png);
}
.post .content ul.list.search > li {
	background-image: url(../img/icons/16/search.png);
}
.post .content ul.list.settings > li {
	background-image: url(../img/icons/16/settings.png);
}
.post .content ul.list.shipping > li {
	background-image: url(../img/icons/16/shipping.png);
}
.post .content ul.list.showreel > li {
	background-image: url(../img/icons/16/showreel.png);
}
.post .content ul.list.sign-in > li {
	background-image: url(../img/icons/16/sign-in.png);
}
.post .content ul.list.sign-out > li {
	background-image: url(../img/icons/16/sign-out.png);
}
.post .content ul.list.sign-up > li {
	background-image: url(../img/icons/16/sign-up.png);
}
.post .content ul.list.sitemap > li {
	background-image: url(../img/icons/16/sitemap.png);
}
.post .content ul.list.special-offer > li {
	background-image: url(../img/icons/16/special-offer.png);
}
.post .content ul.list.star > li {
	background-image: url(../img/icons/16/star.png);
}
.post .content ul.list.statistics > li {
	background-image: url(../img/icons/16/statistics.png);
}
.post .content ul.list.suppliers > li {
	background-image: url(../img/icons/16/suppliers.png);
}
.post .content ul.list.tag > li {
	background-image: url(../img/icons/16/tag.png);
}
.post .content ul.list.ticket > li {
	background-image: url(../img/icons/16/ticket.png);
}
.post .content ul.list.twitter > li {
	background-image: url(../img/icons/16/twitter.png);
}
.post .content ul.list.upcoming-work > li {
	background-image: url(../img/icons/16/upcoming-work.png);
}
.post .content ul.list.user > li {
	background-image: url(../img/icons/16/user.png);
}
.post .content ul.list.world > li {
	background-image: url(../img/icons/16/world.png);
}
.post .content ul.list.zoom > li {
	background-image: url(../img/icons/16/zoom.png);
}
.post .content table {
	border-collapse: separate;
	border-spacing: 1px;
}
.post .content table caption {
	caption-side: bottom;
}
.post .content th {
	text-align: left;
}
.post .content th,
.post .content td {
	padding: 5px 13px;
}
.post .content blockquote {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: italic 19px/1.37 Georgia, serif;
	position: relative;
	padding: 12px;
}
.post .content blockquote.alignleft,
.post .content blockquote.alignright {
	margin-top: 0;
	margin-bottom: 6px;
	top: 6px;
}
.post .content sup, .post .content sub {
	font-size: 0.9em;
	vertical-align: top;
}
.post .content sub {
	vertical-align: bottom;
}
.post .content pre {
	padding: 0 10px;
	overflow: auto;
}
.post .content pre,
.post .content code {
	font: normal 12px/24px "Lucida console";
}
.post .content img {
	max-width: 100%;
}
.post .content figure {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.post .content figure.thick {
	border-width: 1px;
	border-style: solid;
	padding: 8px;
}
.post .content figure.alignnone {
	margin-left: 0;
	margin-right: 0;
}
.post .content figure.alignleft {
	margin: 0 20px 12px 0;
	top: 6px;
}
.post .content figure.alignright {
	margin: 0 0 12px 20px;
	top: 6px;
}
.post .content figure img {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: auto;
	max-width: 100%;
}
.post .content figure.thin img {
	border-width: 1px;
	border-style: solid;
}
.post .content figure.thick figcaption {
	text-align: center;
	position: relative;
	margin: 0;
	top: 4px;
}
.post .content figure.full-width img {
	width: 100%;
}
.post .content iframe,
.post .content embed,
.post .content object {
	max-width: 100%;
}
.post .content .credit,
.post .content table caption,
.post .content figure figcaption {
	font-size: 11px;
	line-height: 15px;
	margin: 2px 2px 0 0;
	text-align: right;
}
.post .content .tabs > ul {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	list-style: none;
	margin-left: 0;
	height: 33px;
}
.post .content .tabs > ul > li {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
	line-height: 32px;
	cursor: pointer;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 0 16px;
}
.post .content .tabs > ul > li.active {
	cursor: default;
}
.post .content .dropcap {
	font: normal 52px/44px Rokkitt, "Times New Roman";
	position: relative;
	float: left;
	padding-right: 6px;
	top: 3px;
}
.post .content .frame {
	border-radius: 4px;
	background-repeat: no-repeat;
	padding: 9px 14px;
}
.post .content .frame.icon,
.post .content .frame.icon-16 {
	background-position: 14px 12px;
	padding-left: 44px;
}
.post .content .frame.icon-32 {
	background-position: 14px center;
	padding-left: 60px;
}
.post .content div.columns {
	margin: calc(10px - 1%) -1%;
	clear: both;
}
.post .content div.columns:first-child {
	margin-top: -1% !important;
}
.post .content div.columns:last-child {
	margin-bottom: -1% !important;
}
.post .content div.columns .column {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 1%;
}
.post .content div.columns .column.row-clear {
	clear: left;
}
.post .content .twitter-tweet-rendered {
	max-width: 100% !important;
}
.post .content .tags {
	font-size: 11px;
	line-height: 16px;
	float: left;
	margin: 0 20px 10px 0;
	width: 15%;
}
.post .content .tags a,
.post .content .tags span {
	display: inline-block;
	margin: 3px 0;
	padding: 0 4px;
	white-space: nowrap;
}
.post .content .tags a:hover {
	border-bottom-width: 0;
}
.post.chat .content .name {
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	position: absolute;
	left: 0;
	top: 0;
	width: 90px;
	overflow: hidden;
}
.post.chat .content .name:after {
	content: ":";
}
.post .about,
.post .social,
.post .meta {
	border-top-width: 1px;
	border-top-style: dotted;
}
.post .about {
	padding-top: 14px;
	padding-bottom: 14px;
}
.post .about .avatar {
	float: left;
}
.post .about .info {
	position: relative;
	margin-left: 80px;
	top: -2px;
}
.post .about h1 {
	font: normal 22px/1 Rokkitt, "Times New Roman";
}
.post .about p {
	font-size: 11px;
	line-height: 20px;
	margin: 5px 0 -7px;
}
.post .social {
	line-height: 0;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.post .social li {
	display: block;
	padding: 6px 0;
	float: left;
	height: 20px;
}
.post .social a {
	border-bottom-width: 0;
}
.post .social .facebook .fb-like {
	margin-right: 30px;
}
.post .social .twitter .twitter-tweet-button {
	margin-right: 30px;
}
.post .social .facebook .fb_iframe_widget {
	height: 20px;
}
.post .social .pinterest > span {
	margin-right: 75px;
}
.post .social .inshare .IN-widget {
	margin-right: 26px;
}
.post .meta {
	list-style: none;
	padding-top: 14px;
	padding-bottom: 14px;
}
.post .meta li {
	background-repeat: no-repeat;
	font: italic 11px/24px Georgia, serif;
	display: inline-block;
	margin-right: 13px;
}
.post .meta li.date {
	background-position: -338px 0;
}
.post .meta li.date:hover {
	background-position: -312px -24px;
}
.post .meta li.category {
	background-position: -286px -48px;
}
.post .meta li.category:hover {
	background-position: -260px -72px;
}
.post .meta li.comments {
	background-position: -234px -96px;
}
.post .meta li.comments:hover {
	background-position: -208px -120px;
}
.post .meta li.author {
	background-position: -182px -144px;
}
.post .meta li.author:hover {
	background-position: -156px -168px;
}
.post .meta li.link {
	background-position: -130px -192px;
}
.post .meta li.link:hover {
	background-position: -104px -216px;
}
.post .meta li.tags {
	background-position: -78px -240px;
}
.post .meta li.tags:hover {
	background-position: -52px -264px;
}
.post .meta li.edit {
	background-position: -26px -288px;
}
.post .meta li.edit:hover {
	background-position: 0 -312px;
}
.post .meta a {
	display: inline-block;
}
.post .meta a:hover {
	border-bottom-width: 0;
}
.post .meta a:first-child {
	padding-left: 26px;
}

@media only screen and (max-width: 979px) { /* <= Tablet */
	.post > * {
		padding-left: 20px;
		padding-right: 20px;
	}
	.post .main {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.post .title {
		font-size: 34px;
		line-height: 34px;
		padding-left: 40px;
	}
	.post.quote .title {
		font-size: 21px;
	}
	.post .featured {
		margin: 0 0 18px;
	}
	.post .title + .featured {
		margin-top: 16px;
	}
	.post.default .featured {
		margin: 5px 16px 0 0;
	}
	.post.default .featured img {
		width: 120px;
		height: 120px;
	}
	.post .content h1 {
		font-size: 34px;
	}
	.post .content h2 {
		font-size: 29px;
	}
	.post .content h3 {
		font-size: 25px;
	}
	.post .content h4 {
		font-size: 20px;
	}
	.post .content h5,
	.post .content h6 {
		font-size: 18px;
	}
	.post .about h1 {
		font-size: 20px;
	}
}
@media only screen and (max-width: 739px) { /* <= Mobile */
	.post {
		margin-bottom: 13px;
	}
	.post > * {
		padding-left: 15px;
		padding-right: 15px;
	}
	.post .main {
		padding-top: 13px;
		padding-bottom: 13px;
	}
	.post .title {
		font-size: 26px;
		line-height: 26px;
		padding-left: 35px;
	}
	.post.quote .title {
		font-size: 16px;
	}
	.post .featured {
		margin: 0 0 15px;
	}
	.post .title + .featured {
		margin-top: 13px;
	}
	.post.default .featured {
		margin: 2px 13px 0 0;
	}
	.post.default .featured img {
		width: 68px;
		height: 68px;
	}
	.post .content {
		margin-top: 8px;
		word-wrap: break-word;
	}
	.post .content h1 {
		font-size: 26px;
	}
	.post .content h2 {
		font-size: 22px;
	}
	.post .content h3 {
		font-size: 19px;
	}
	.post .content h4,
	.post .content h5,
	.post .content h6 {
		font-size: 18px;
	}
	.post .content blockquote {
		font-size: 16px;
		float: none;
		margin: 10px auto !important;
		top: 0 !important;
		width: 100% !important;
	}
	.post .content figure {
		display: block;
		float: none;
		margin: 10px auto !important;
		top: 0 !important;
	}
	.post .content figure.full-width-mobile img {
		width: 100%;
	}
	.post .content .tabs > ul {
		border-bottom-width: 0;
		height: auto;
	}
	.post .content .tabs > ul > li {
		border-bottom-width: 0;
		float: none;
		margin-right: 0;
	}
	.post .content div.columns .column {
		float: none !important;
		width: 100% !important;
	}
	.post .content .tags {
		width: auto;
	}
	.post .about h1 {
		font-size: 18px;
	}
}
@media only screen and (max-width: 319px) { /* <= Mini */
	.post > * {
		padding-left: 12px;
		padding-right: 12px;
	}
	.post .title {
		font-size: 20px;
		line-height: 20px;
		padding-left: 25px;
	}
	.post.quote .title {
		font-size: 12px;
	}
	.post .featured {
		margin: 0 0 11px;
	}
	.post .title + .featured {
		margin-top: 10px;
	}
	.post.default .featured {
		display: none;
	}
	.post .content h1 {
		font-size: 20px;
	}
	.post .content h2,
	.post .content h3,
	.post .content h4,
	.post .content h5,
	.post .content h6 {
		font-size: 18px;
	}
}

/* Comments
----------------------------------------------------------------------------- */
section.comments {
	margin-top: 20px;
}
.comments h1 {
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	margin: 20px 0;
}
.comments .comment {
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	padding: 25px;
}
.comments .comment.level-1 {
	margin-left: 80px;
}
.comments .comment.level-2 {
	margin-left: 160px;
}
.comments .comment.level-3,
.comments .comment.level-4,
.comments .comment.level-5,
.comments .comment.level-6,
.comments .comment.level-7,
.comments .comment.level-8,
.comments .comment.level-9 {
	margin-left: 240px;
}
.comments .comment .avatar {
	display: block;
	float: left;
}
.comments .comment .meta,
.comments .comment .content {
	margin-left: 55px;
}
.comments .comment .meta a:hover {
	border-bottom-width: 0;
}
.comments .comment .meta cite {
	font-style: normal;
	line-height: 18px;
	display: block;
	margin-bottom: 1px;
}
.comments .comment .meta cite a:hover {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}
.comments .comment .meta .date {
	font-size: 10px;
	line-height: 14px;
}
.comments .comment .content p {
	margin-top: 10px;
}
.comments .comment .content p:first-child {
	margin-top: 20px;
}
.comments .comment .content blockquote {
	font-family: Georgia, serif;
	font-style: italic;
}

@media only screen and (max-width: 979px) { /* <= Tablet */
	.comments .comment {
		padding: 20px;
	}
	.comments .comment.level-1 {
		margin-left: 75px;
	}
	.comments .comment.level-2,
	.comments .comment.level-3,
	.comments .comment.level-4,
	.comments .comment.level-5,
	.comments .comment.level-6,
	.comments .comment.level-7,
	.comments .comment.level-8,
	.comments .comment.level-9 {
		margin-left: 150px;
	}
}
@media only screen and (max-width: 739px) { /* <= Mobile */
	section.comments {
		margin-top: 15px;
	}
	.comments h1 {
		margin: 15px 0;
	}
	.comments .comment {
		padding: 15px;
	}
	.comments .comment.level-1 {
		margin-left: 15px;
	}
	.comments .comment.level-2,
	.comments .comment.level-3,
	.comments .comment.level-4,
	.comments .comment.level-5,
	.comments .comment.level-6,
	.comments .comment.level-7,
	.comments .comment.level-8,
	.comments .comment.level-9 {
		margin-left: 30px;
	}
}
@media only screen and (max-width: 319px) { /* <= Mini */
	.comments .comment {
		padding: 12px;
	}
	.comments .comment.level-1 {
		margin-left: 12px;
	}
	.comments .comment.level-2,
	.comments .comment.level-3,
	.comments .comment.level-4,
	.comments .comment.level-5,
	.comments .comment.level-6,
	.comments .comment.level-7,
	.comments .comment.level-8,
	.comments .comment.level-9 {
		margin-left: 24px;
	}
	.comments .comment .content {
		margin-left: 0;
	}
	.comments .comment .content p:first-child {
		margin-top: 15px;
	}
}

/* Comment form
----------------------------------------------------------------------------- */
.comment-respond {
	margin: 20px 0;
}
.comment-respond:last-child {
	margin-bottom: 0;
}
.comment-respond h1,
.comment-respond h2,
.comment-respond h3 {
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	margin: 20px 0;
}
.comment-respond p {
	font-size: 11px;
	margin-top: 10px;
}

@media only screen and (max-width: 739px) { /* <= Mobile */
	.comment-respond {
		margin-top: 15px;
	}
	.comment-respond h1 {
		margin: 15px 0;
	}
}

/* Shortcodes
----------------------------------------------------------------------------- */
button {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	font: normal 25px/38px Rokkitt, "Times New Roman";
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	margin: 0;
	padding: 0 14px;
	height: 40px;
	vertical-align: baseline;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
button.icon-32 {
	font-size: 30px;
	line-height: 48px;
	height: 50px;
}
button > span {
	background-repeat: no-repeat;
	background-position: 0 center;
	display: inline-block;
	margin-right: 14px;
	vertical-align: top;
}
button.icon > span,
button.icon-16 > span {
	width: 16px;
	height: 38px;
}
button.icon-32 > span {
	width: 32px;
	height: 48px;
}
button.small,
button.tiny {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	padding: 0 6px;
}
button.small {
	line-height: 26px;
	height: 28px;
}
button.tiny {
	-ms-filter: "";
	border: none;
	line-height: 18px;
	height: 18px;
}
button.tiny:hover {
	top: 1px;
}

/* Items
----------------------------------------------------------------------------- */
.items {
	margin: -10px 0;
}
.items .item {
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
	width: 100%;
}
.items .item .image a {
	border-bottom-width: 0;
	display: block;
	position: relative;
}
.items .item .image img {
	display: block;
	width: 100%;
	height: auto;
}
.items .item .image .hover {
	border-style: solid;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.4;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.items .item .image .fancybox .hover {
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	opacity: 0;
}
.items .item .main {
	padding: 10px 15px;
}
.items .item .main p {
	margin-bottom: 5px;
}
.items .item .main .title {
	font-weight: bold;
	margin-bottom: 3px;
}
.items .item .main .tags {
	font-size: 11px;
	line-height: 16px;
	margin: 5px 0 0;
}
.items .item .main .tags a,
.items .item .main .tags span {
	white-space: nowrap;
	display: inline-block;
	margin: 3px 0;
	padding: 0px 4px;
}
.items .item .tags a:hover {
	border-bottom-width: 0;
}

@media only screen and (min-width: 740px) { /* >= Tablet */
	.items.medium,
	.items.small,
	.items.tiny {
		margin: -10px -10px 0 !important;
	}
	.items.medium .item,
	.items.small .item,
	.items.tiny .item {
		float: left;
		margin: 10px;
	}
	.items.medium .item {
		width: 340px;
	}
	.items.small .item {
		width: 220px;
	}
	.items.tiny .item {
		width: 160px;
	}
}
@media only screen and (min-width: 980px) { /* >= Desktop */
	.items.medium .item {
		width: 460px;
	}
	.items.small .item {
		width: 300px;
	}
	.items.tiny .item {
		width: 220px;
	}
}

@media only screen and (max-width: 739px) { /* <= Mobile */
	.items {
		margin-top: -7px;
	}
	.items .item {
		margin: 7px 0;
	}
}

/* Filter
----------------------------------------------------------------------------- */
.filter {
	line-height: 18px;
	display: none;
	margin: 15px 0;
}
.filter a {
	white-space: nowrap;
	display: inline-block;
	padding: 0 5px;
}
.filter a:hover {
	border-bottom-width: 0;
}

/* Pagination
----------------------------------------------------------------------------- */
.pagination {
	font: italic 20px/30px Georgia, serif;
	text-align: center;
	position: relative;
	margin: 10px 0;
	height: 30px;
}
.pagination:first-child {
	margin-top: 0;
}
.pagination:last-child {
	margin-bottom: 0;
}
.pagination a:hover {
	border-bottom-width: 0;
}
.pagination .current {
	font-size: 25px;
	font-weight: bold;
	vertical-align: top;
}
.pagination .left,
.pagination .right,
.pagination .prev,
.pagination .next {
	background-repeat: no-repeat;
	white-space: nowrap;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	max-width: 80%;
}
.pagination .left,
.pagination .prev {
	background-position: left center;
	left: 0;
	padding-left: 25px;
}
.pagination .right,
.pagination .next {
	background-position: right center;
	right: 0;
	padding-right: 25px;
}

@media only screen and (max-width: 739px) { /* <= Mobile */
	.pagination .left,
	.pagination .right,
	.pagination .prev,
	.pagination .next {
		text-indent: 999px;
		padding: 0;
		width: 24px;
	}
}

/* Video
----------------------------------------------------------------------------- */
.wp-video {
	width: 100%;
	height: 0;
	position: relative;
}
.wp-video .mejs-container {
	position: absolute;
	left: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}
.wp-video .mejs-overlay,
.wp-video .mejs-poster,
.wp-video .mejs-mediaelement video {
	width: 100% !important;
	height: 100% !important;
}

/* MediaElement.js
----------------------------------------------------------------------------- */
.mejs-container {
	background: none !important;
}
.mejs-container * {
	outline: none !important;
}

/* Flexslider
----------------------------------------------------------------------------- */
.flexslider {
	border: none;
	border-radius: 0;
	overflow: hidden;
}
.flexslider .slides li {
	display: block;
}
.flexslider .slides a,
.flexslider .slides img {
	border-bottom-width: 0;
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
.flexslider .slides iframe,
.flexslider .slides embed,
.flexslider .slides object {
	width: 100%;
}
.flexslider .slides .caption {
	font: normal 32px/0.82 Rokkitt, "Times New Roman";
	display: block;
	position: absolute;
	padding: 21px 25px;
	left: 0;
	right: 0;
	bottom: 0;
}
.flexslider .slides .caption.top {
	top: 0;
	bottom: auto;
}
.flexslider .flex-caption {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: normal 18px/1 Rokkitt, "Times New Roman";
	padding: 6px 10px;
	width: 100%;
}
.flexslider .flex-control-nav {
	display: block;
	right: 10px;
	bottom: 10px;
	width: auto;
}
.flexslider .flex-control-nav li {
	display: block;
	float: left;
	margin: 0 0 0 7px;
}
.flexslider .flex-control-nav a {
	box-shadow: none;
	border-radius: 5px;
	background-image: none;
	text-indent: 999px;
	display: block;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
.flexslider .flex-control-nav a:hover {
	border-bottom-width: 0;
}
.flexslider .flex-direction-nav a {
	text-align: left;
	display: none;
	float: none;
	margin-top: -26px;
	width: 52px;
	height: 52px;
}
.flexslider .flex-direction-nav a:hover {
	border-bottom-width: 0;
}
.flexslider .flex-direction-nav .next {
	right: 18px;
}
.flexslider .flex-direction-nav .prev {
	left: 18px;
}

@media only screen and (max-width: 979px) { /* <= Tablet */
	.flexslider .slides .caption {
		font-size: 28px;
		padding: 16px 20px;
	}
	.flexslider .flex-direction-nav .next {
		right: 14px;
	}
	.flexslider .flex-direction-nav .prev {
		left: 14px;
	}
}
@media only screen and (max-width: 739px) { /* <= Mobile */
	.flexslider .slides .caption {
		font-size: 25px;
		padding: 11px 15px;
	}
	.flexslider .slides .flex-caption {
		display: none;
	}
	.flexslider .flex-direction-nav .next {
		right: 10px;
	}
	.flexslider .flex-direction-nav .prev {
		left: 10px;
	}
}
@media only screen and (max-width: 319px) { /* <= Mini */
	.flexslider .slides .caption {
		font-size: 23px;
		padding: 6px 10px;
	}
	.flexslider .flex-direction-nav .next {
		right: 8px;
	}
	.flexslider .flex-direction-nav .prev {
		left: 8px;
	}
}

/* Widget
----------------------------------------------------------------------------- */
.widget {
	display: block;
}
#aside .widget {
	border-top-width: 1px;
	border-top-style: dotted;
	padding: 14px 0 20px;
}
#aside .widget:first-child {
	border-top-width: 0;
	padding-top: 0;
}
#aside-bottom .widget {
	font-size: 11px;
	line-height: 20px;
	float: left;
	margin-left: 20px;
}
#aside-bottom .widget:first-child {
	margin: 0;
}
#aside-bottom .widget.fixed {
	width: 220px;
}
#aside-bottom .widget.small {
	width: 220px;
}
#aside-bottom .widget.medium {
	width: 460px;
}
#aside-bottom .widget.large {
	width: 700px;
}
#aside-bottom .widget.full {
	width: 100%;
}
#aside .widget h1 {
	font: normal 28px/1 Rokkitt, "Times New Roman";
	margin-bottom: 10px;
}
#aside-bottom .widget h1 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 6px;
}
#aside .widget p,
#aside .widget ul,
#aside .widget ol,
#aside .widget form {
	margin-top: 10px;
}
#aside-bottom .widget p,
#aside-bottom .widget ul,
#aside-bottom .widget ol,
#aside-bottom .widget form {
	margin-top: 6px;
}
.widget p:first-child,
.widget ul:first-child,
.widget ol:first-child,
.widget form:first-child,
.widget ul ul,
.widget ul ol,
.widget ol ol,
.widget ol ul {
	margin-top: 0 !important;
}
.widget ul {
	list-style: disc outside;
	margin-left: 14px;
}
.widget ul.fancy img {
	vertical-align: middle;
}
#aside .widget ul.fancy,
#aside .widget ul.fancy ul {
	list-style: none;
	margin-left: 0;
}
#aside .widget ul.fancy li {
	border-top-width: 1px;
	border-style: dotted;
	font-size: 11px;
	padding: 4px 0 4px 24px;
}
#aside .widget ul.fancy > li:last-child {
	border-bottom-width: 1px;
}
#aside .widget ul.fancy a {
	border-bottom: none;
}

@media only screen and (max-width: 979px) { /* <= Tablet */
	#aside-bottom .widget.small {
		width: 140px;
	}
	#aside-bottom .widget.medium {
		width: 300px;
	}
	#aside-bottom .widget.large {
		width: 460px;
	}
}
@media only screen and (max-width: 739px) { /* <= Mobile */
	#aside .widget {
		padding: 9px 0 15px;
	}
	#aside-bottom .widget {
		float: none;
		margin-left: 0;
		margin-top: 20px;
		width: 100% !important;
	}
}

/* Tag cloud widget
----------------------------------------------------------------------------- */
.widget-tag-cloud .tagcloud {
	font-family: Rokkitt, "Times New Roman";
	margin: 0 -4px;
}
.widget-tag-cloud a {
	display: inline-block;
	margin: 0 4px;
}
.widget-tag-cloud a:hover {
	border-bottom-width: 0;
}

/* Social widget
----------------------------------------------------------------------------- */
#aside .widget-social {
	padding-top: 15px;
}
.widget-social ul {
	margin-left: 0;
}
.widget-social li {
	font: normal 22px/1 Rokkitt, "Times New Roman";
	display: block;
	margin-top: 5px;
	height: 32px;
	overflow: hidden;
}
.widget-social li a {
	border-bottom: none !important;
	background-position: left center;
	background-repeat: no-repeat;
	display: block;
	padding: 5px 0 5px 40px;
	overflow: hidden;
}
.widget-social .horizontal {
	margin-left: -5px;
}
.widget-social .horizontal li {
	float: left;
	margin-left: 5px;
	width: 32px;
}
.widget-social .horizontal li a {
	padding: 0 0 0 40px;
	width: 0;
	height: 100%;
}

/* Search widget
----------------------------------------------------------------------------- */
#aside .widget-search {
	padding-top: 20px;
}
.widget-search .input {
	margin-right: 29px;
}
.widget-search input {
	display: block;
}
.widget-search input[type="text"] {
	font-family: Georgia, serif;
	font-style: italic;
	width: 100%;
}
.widget-search input[type="submit"] {
	-ms-filter: "";
	border: none;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	float: right;
	margin-right: 5px;
	padding: 0;
	width: 17px;
	height: 28px !important;
}
#aside .widget-search input[type="submit"] {
	background-position: -68px center;
}
#aside .widget-search input[type="submit"]:hover {
	background-position: -85px center;
}
#aside-bottom .widget-search input[type="submit"] {
	background-position: -34px center;
}
#aside-bottom .widget-search input[type="submit"]:hover {
	background-position: -51px center;
}

/* Twitter widget
----------------------------------------------------------------------------- */
.widget-twitter ul {
	list-style: none;
	margin-left: 0;
}
#aside .widget-twitter ul {
	margin-top: 10px !important;
}
#aside-bottom .widget-twitter ul {
	margin-top: 6px !important;
	margin-right: 20px;
}
.widget-twitter li {
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: 30px;
	margin-top: 20px;
}
.widget-twitter li:first-child {
	margin-top: 0;
}
#aside .widget-twitter li {
	background-position: -940px 0;
}
.widget-twitter img {
	display: block;
	margin: 5px 0 2px;
	max-width: 100%;
}
.widget-twitter img + br {
	display: none;
}
.widget-twitter small {
	font-size: 9px;
}
.widget-twitter small a:hover {
	border-bottom: none;
}

@media only screen and (max-width: 979px) { /* <= Tablet */
	#aside-bottom .widget-twitter ul {
		margin-right: 0;
	}
}

/* Flickr, Instagram widget
----------------------------------------------------------------------------- */
.widget-flickr ul,
.widget-instagram ul {
	position: relative;
	margin: 8px -4px -4px;
}
#aside .widget-flickr,
#aside .widget-instagram {
	margin-bottom: -4px;
}
#aside .widget-flickr ul,
#aside .widget-instagram ul {
	margin-top: 4px;
}
.widget-flickr li,
.widget-instagram li {
	display: block;
	float: left;
	margin: 4px;
}
.widget-flickr img,
.widget-instagram img {
	border-width: 1px;
	border-style: solid;
	display: block;
	padding: 3px;
	width: 41px;
	height: 41px;
}

@media only screen and (max-width: 739px) { /* <= Mobile */
	.widget-flickr li:nth-child(n+6),
	.widget-instagram li:nth-child(n+6) {
		display: none;
	}
}
@media only screen and (max-width: 319px) { /* <= Mini */
	.widget-flickr li:nth-child(n+5),
	.widget-instagram li:nth-child(n+5) {
		display: none;
	}
}

/* Contact widget
----------------------------------------------------------------------------- */
.widget-contact input[type="text"],
.widget-contact input[type="email"],
.widget-contact input[type="tel"],
.widget-contact input[type="url"] {
	width: 65%;
}
.widget-contact textarea {
	height: 100px;
}

/* Info widget
----------------------------------------------------------------------------- */
.widget-info h1 {
	font: normal 38px/1 Rokkitt, "Times New Roman";
	text-transform: none !important;
	margin-bottom: 4px !important;
}
.widget-info h2 {
	font: italic 16px/22px Georgia, serif;
	text-transform: none;
}

/* Custom widget
----------------------------------------------------------------------------- */
#aside .widget-custom {
	padding-top: 20px;
}

@media only screen and (max-width: 739px) { /* <= Mobile */
	#aside .widget {
		padding-top: 15px;
	}
}

/* Fancybox
----------------------------------------------------------------------------- */
#fancybox-close {
	border-bottom-width: 0;
}

/* Tipsy
----------------------------------------------------------------------------- */
.tipsy {
	line-height: 14px;
}

/* Contact form
----------------------------------------------------------------------------- */
.contact-form .message {
	display: none;
}
.contact-form .load {
	display: none;
	margin-left: 20px;
}