/**
 * @package    WordPress
 * @subpackage Website
 */

/* WordPress
----------------------------------------------------------------------------- */
#wpadminbar {
	background-color: #444;
}
.screen-reader-text {}
.wp-caption {}
.wp-caption-text {}
.gallery-caption {}
.bypostauthor {}
.sticky {}
.aligncenter {}

/* Twitter
----------------------------------------------------------------------------- */
iframe.twitter-tweet {
	width: 99%;
}

/* AddThis
----------------------------------------------------------------------------- */
.addthis_toolbox a:hover {
	border-bottom-width: 0;
}

/* bbPress
----------------------------------------------------------------------------- */
#bbpress-forums #bbp_search_submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	position: relative;
	padding: 0 6px;
	top: -1px;
	height: 28px;
}
#bbpress-forums div.bbp-search-form {
	margin-bottom: 10px;
}
#bbpress-forums ul.bbp-lead-topic:last-child,
#bbpress-forums ul.bbp-topics:last-child,
#bbpress-forums ul.bbp-forums:last-child,
#bbpress-forums ul.bbp-replies:last-child,
#bbpress-forums ul.bbp-search-results:last-child {
	margin-bottom: 0;
}
#bbpress-forums fieldset.bbp-form:last-child {
	margin-bottom: 0;
}
#bbpress-forums .bbp-author-avatar,
#bbpress-forums #bbp-single-user-details #bbp-user-avatar a:hover {
	border-bottom-width: 0;
}
#bbpress-forums #bbp-your-profile fieldset select {
	width: 60% !important;
}

/* Captcha
----------------------------------------------------------------------------- */
.comment-respond .hctpc_block br {
	display: none;
}

/* Contact form 7
----------------------------------------------------------------------------- */
.wpcf7-list-item {
	margin: 0 20px 0 0 !important;
}
.wpcf7-checkbox .wpcf7-list-item-label,
.wpcf7-radio .wpcf7-list-item-label {
	margin-left: 17px;
}
.wpcf7-not-valid {
	border-color: #e00 !important;
}
.wpcf7-not-valid-tip {
	display: none;
}
.wpcf7-response-output {
	border-radius: 4px;
	border-width: 0 !important;
	color: #2d2300;
	margin: 10px 0 0 !important;
	padding: 9px 14px !important;
}
.wpcf7-response-output.wpcf7-validation-errors {
	background-color: #ffd987;
}
.wpcf7-response-output.wpcf7-mail-sent-ok {
	background-color: #c4fdb9;
}
div.wpcf7 img.ajax-loader {
	margin-left: 10px !important;
}

/* WPML
----------------------------------------------------------------------------- */
#lang_sel_list img {
	position: relative;
	top: -1px;
	vertical-align: middle;
}
#aside-bottom #lang_sel_list ul {
	list-style: none;
	margin-left: 0;
}
#lang_sel_footer {
	display: none;
}
.menu-item-language img {
	margin-right: 6px;
}