/**
 * @package    WordPress
 * @subpackage Website
 */

/* Background images
----------------------------------------------------------------------------- */
label > span:before,
.wpcf7-checkbox .wpcf7-list-item-label:before,
.wpcf7-radio .wpcf7-list-item-label:before { background-image: url(../img/dark/input.png); }

#top                                       { background-image: url(../img/dark/top-bg.png); }
#search input[type="submit"]               { background-image: url(../img/dark/search.png); }
#nav-main li ul li                         { background-image: url(../img/dark/bg.gif); }
#main                                      { background-image: url(../img/dark/bg.gif); }
#bottom                                    { background-image: url(../img/dark/bottom-bg.png); }

section.box .close                         { background-image: url(../img/dark/close.png); }
.post .title:before                        { background-image: url(../img/dark/post-formats-desktop.png); }
.post .content pre                         { background-image: url(../img/dark/code.gif); }
.post .meta li                             { background-image: url(../img/dark/meta.png); }
.items .item .image .fancybox .hover       { background-image: url(../img/dark/magnifier.png); }
.pagination .left,
.pagination .right,
.pagination .prev,
.pagination .next                          { background-image: url(../img/dark/pagination-small.png); }
.flexslider .flex-direction-nav a          { background-image: url(../img/bright/slider-nav.png); }

.widget-search input[type="submit"]        { background-image: url(../img/dark/search.png) !important; }
.widget-twitter li                         { background-image: url(../img/dark/twitter.png); }

@media only screen and (max-width: 979px) { /* <= Tablet */
	.post .title:before                    { background-image: url(../img/dark/post-formats-tablet.png); }
}

@media only screen and (max-width: 739px) { /* Mobile */
	#top h1:after                          { background-image: url(../img/dark/arrow.png); }
	#nav-main li.sub > a:after             { background-image: url(../img/dark/arrow.png); }

	.post .title:before                    { background-image: url(../img/dark/post-formats-mobile.png); }
	.pagination .left,
	.pagination .right,
	.pagination .prev,
	.pagination .next                      { background-image: url(../img/bright/pagination-big.png); }
}

@media only screen and (max-width: 319px) { /* <= Mini */
	.post .title:before                    { background-image: url(../img/dark/post-formats-mini.png); }
}

/* Background colors
----------------------------------------------------------------------------- */
body, #top, #bottom                             { background-color: #e9e9e9; }
mark.yellow,
mark.search                                     { background-color: #ffed58; }
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select                                          { background-color: #090909; }
input[type="submit"]                            { background: #f2f2f2;
                                                  background: -moz-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: -webkit-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: -o-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: -ms-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b3b3b3')"; }
input[type="submit"]:active                     { background: #b3b3b3;
                                                  background: -moz-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: -webkit-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: -o-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: -ms-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: linear-gradient(top, #b3b3b3, #f2f2f2); }

#search                                         { background-color: #cbcbcb; }
#search input                                   { background-color: transparent; }
#nav-top li ul li                               { background-color: #e9e9e9; }
#nav-main li ul li                              { background-color: #181818; }
#main                                           { background-color: #181818; }
#banners .banner                                { background-color: #090909; }
#bottom input[type="text"],
#bottom input[type="email"],
#bottom input[type="tel"],
#bottom input[type="url"],
#bottom input[type="password"],
#bottom textarea                                { background-color: #fff; }

section.box                                     { background-color: #090909; }
.post                                           { background-color: #090909; }
.post .content table                            { background-color: #3f3f3f; }
.post .content th                               { background-color: #222; }
.post .content td                               { background-color: #090909; }
.post .content input[type="text"],
.post .content input[type="email"],
.post .content input[type="tel"],
.post .content input[type="url"],
.post .content input[type="password"],
.post .content textarea,
.post .content select                           { background-color: #000; }
.post .content figure.thick                     { background-color: #191919; }
.post .content .tabs > ul > li                  { background-color: #222; }
.post .content .tabs > ul > li.active           { background-color: #090909; }
.post .content .frame.green                     { background-color: #c4fdb9; }
.post .content .frame.orange                    { background-color: #ffd987; }
.post .content .frame.red                       { background-color: #ff4949; }
.post .content .frame.blue                      { background-color: #b1eaf3; }
.post .content .frame.gray                      { background-color: #3c3c3c; }
.post .content .tags a,
.post .content .tags span                       { background-color: #999; }
.comments .comment                              { background-color: #090909; }
button                                          { background: #f2f2f2;
                                                  background: -moz-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: -webkit-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: -o-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: -ms-linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  background: linear-gradient(top, #f2f2f2, #b3b3b3);
                                                  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b3b3b3')"; }
button:active                                   { background: #b3b3b3;
                                                  background: -moz-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: -webkit-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: -o-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: -ms-linear-gradient(top, #b3b3b3, #f2f2f2);
                                                  background: linear-gradient(top, #b3b3b3, #f2f2f2); }
.item                                           { background-color: #090909; }
.items .item .image .fancybox .hover            { background-color: #000; }
.items .item .main .tags a,
.items .item .main .tags span                   { background-color: #999; }
.flexslider .flex-caption                       { background-color: rgba(0,0,0,.3); }
.flexslider .flex-control-nav a                 { background-color: rgba(255,255,255,.4); }
.flexslider .flex-control-nav .active           { background-color: rgba(255,255,255,.9); }

.widget-flickr img,
.widget-instagram img                           { background-color: #090909; }

@media only screen and (max-width: 739px) { /* Mobile */
	#top h1,
	#top .frame                                 { background-color: #afafaf; }
	#search                                     { background-color: #e9e9e9; }
	#nav-top                                    { background-color: #e9e9e9; }
}

/* Border colors
----------------------------------------------------------------------------- */
hr                                              { border-top-color: #434343; }
input[type="submit"]                            { border-color:     #0d0d0d; }

#nav-top li                                     { border-color:     #ccc;
                                                  border-top-color: #afafaf; }
#nav-top li ul li:first-child                   { border-top-color: #ccc; }
#nav-main                                       { border-color:     #434343; }
#nav-main li                                    { border-color:     #2d2d2d;
                                                  border-top-color: #434343; }
#nav-main li ul li:first-child                  { border-top-color: #2d2d2d; }
#header h2                                      { border-color:     #3b3b3b; }
#footer                                         { border-top-color: #afafaf; }

section.columns .column                         { border-color:     #3a3a3a; }
.post.default .featured img                     { border-color:     #232323; }
.post .content input[type="text"],
.post .content input[type="email"],
.post .content input[type="tel"],
.post .content input[type="url"],
.post .content input[type="password"],
.post .content textarea,
.post .content select                           { border-color:     #232323; }
.post .content figure,
.post .content figure img                       { border-color:     #232323; }
.post .content .tabs > ul,
.post .content .tabs > ul > li                  { border-color:     #3f3f3f; }
.post .content .tabs > ul > li.active           { border-bottom-color: transparent; }
.post .about,
.post .social,
.post .meta                                     { border-top-color: #434343; }
button                                          { border-color:     #0d0d0d; }
.items .item .image .hover                      { border-color:     #000; }

#aside .widget                                  { border-color:     #3a3a3a; }
#aside .widget li                               { border-color:     #434343; }
#aside .widget-flickr img,
#aside .widget-instagram img                    { border-color:     #3a3a3a; }
#aside-bottom .widget-flickr img,
#aside-bottom .widget-instagram img             { border-color:     #4e4e4e; }

@media only screen and (max-width: 739px) { /* Mobile */
	#nav-top li                                 { border-color:     #afafaf !important; }
	#nav-main li                                { border-color:     #434343 !important; }
}

/* Shadow colors
----------------------------------------------------------------------------- */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select                                          { box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 1), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.15); }

#bottom input[type="text"],
#bottom input[type="email"],
#bottom input[type="tel"],
#bottom input[type="url"],
#bottom input[type="password"],
#bottom textarea                                { box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3); }

.post .content input[type="text"],
.post .content input[type="email"],
.post .content input[type="tel"],
.post .content input[type="url"],
.post .content input[type="password"],
.post .content textarea,
.post .content select                           { box-shadow: none; }

/* Colors
----------------------------------------------------------------------------- */
body                                                   { color: #a4a4a4; }
mark                                                   { color: #000; }
mark.yellow,
mark.search                                            { color: #000; }
input, textarea, select                                { color: #afafaf; }
input:-moz-placeholder,
textarea:-moz-placeholder                              { color: #606060; }
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder                    { color: #606060; }
input[type="submit"]                                   { color: #000; }

#search input                                          { color: #191919; }
#search input:-moz-placeholder                         { color: #6d6d6d; }
#search input::-webkit-input-placeholder               { color: #6d6d6d; }
#nav-top a                                             { color: #6d6d6d; }
#nav-main a                                            { color: #dbdbdb; }
#nav-main li.sub > a:after                             { color: #777; }
#header h1,
#header h1 a                                           { color: #d2d2d2; }
#header h2                                             { color: #777; }
#banners article h1                                    { color: #d2d2d2; }
#banners .small .caption                               { color: #f8f8f8; }
#banners .small .caption.black                         { color: #080808; }
#bottom input[type="text"],
#bottom input[type="email"],
#bottom input[type="tel"],
#bottom input[type="url"],
#bottom input[type="password"],
#bottom textarea                                       { color: #191919; }
#bottom input:-moz-placeholder,
#bottom textarea:-moz-placeholder                      { color: #808080; }
#bottom input::-webkit-input-placeholder,
#bottom textarea::-webkit-input-placeholder            { color: #808080; }
#bottom input[type="submit"]                           { color: #000; }
#footer                                                { color: #727272; }
#footer a                                              { color: #a2a2a2; }

section.box h1                                         { color: #dbdbdb; }
section.columns .column h1                             { color: #dbdbdb; }
.breadcrumbs,
.breadcrumbs a                                         { color: #6d6d6d; }
.post .title,
.post .title a                                         { color: #dbdbdb; }
.post .content figure.thick figcaption                 { color: #a4a4a4; }
.post .content .credit,
.post .content table caption,
.post .content figure figcaption                       { color: #6d6d6d; }
.post .content .frame.green                            { color: #101a0e; }
.post .content .frame.orange                           { color: #2d2300; }
.post .content .frame.red                              { color: #250000; }
.post .content .frame.blue                             { color: #15181d; }
.post .content .tags a,
.post .content .tags span                              { color: #000; }
.post .content .tags a:hover                           { color: #000; }
.post .meta,
.post .meta a                                          { color: #5c5c5c; }
.post .meta a:hover                                    { color: #c9c9c9; }
.comments .comment .meta,
.comments .comment .meta a                             { color: #5c5c5c; }
.comments h1,
.comment-respond h1,
.comment-respond h2,
.comment-respond h3                                    { color: #727272; }
button.tiny                                            { color: #090909; }
.items .item .main .tags a,
.items .item .main .tags span                          { color: #000; }
.items .item .main .tags a:hover                       { color: #000; }
.filter,
.filter a                                              { color: #6d6d6d; }
.filter a:hover,
.filter a.active                                       { color: #090909; }
.pagination,
.pagination a                                          { color: #dbdbdb; }
.flexslider .caption                                   { color: #f8f8f8; }
.flexslider .caption.black                             { color: #080808; }
.flexslider .flex-caption                              { color: #f8f8f8; }

#aside-bottom .widget                                  { color: #393939; }
#aside .widget h1                                      { color: #dbdbdb; }
#aside-bottom .widget h1                               { color: #1c1c1c; }
#aside .widget ul.fancy a                              { color: #727272; }
.widget-tag-cloud a                                    { color: #727272; }
#aside .widget-social li a                             { color: #dbdbdb; }
#aside-bottom .widget-social li a                      { color: #1c1c1c; }
#aside-bottom .widget-info h1,
#aside-bottom .widget-info h2                          { color: #1c1c1c !important; }
.widget-twitter small,
.widget-twitter small a                                { color: #7b7b7b; }

@media only screen and (max-width: 739px) { /* Mobile */
	#top h1                                            { color: #4a4a4a; }
	#top h1:hover                                      { color: #000; }
	#search input                                      { color: #f8f8f8; }
}