/**
 * @package    WordPress
 * @subpackage Website
 */

/* Styles
----------------------------------------------------------------------------- */
label > input {
	position: relative;
	top: 2px;
}
label > span {
	margin-left: 3px;
}
label > span:before {
	display: none;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"] {
	line-height: 26px;
}

/* Conditional classes
----------------------------------------------------------------------------- */
.lte-ie8 {
	display: block;
}
span.lte-ie8 {
	display: inline;
}

/* Search
----------------------------------------------------------------------------- */
#search input {
	line-height: 24px;
}

/* Flexslider
----------------------------------------------------------------------------- */
.flexslider {
	border: none !important;
}