/**
 * @package    WordPress
 * @subpackage Website
 */

/* Conditional classes
----------------------------------------------------------------------------- */
.lte-ie9 {
	display: block;
}
span.lte-ie9 {
	display: inline;
}