/**
 * Utility classes
 */
.clear {
  clear: both; }

/**
 * Global styles
 */
p.demo_store {
  position: fixed;
  z-index: 99998;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  background-color: #ffd200;
  color: #000;
  box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2); }
  p.demo_store a {
    text-decoration: underline;
    color: inherit; }
  .admin-bar p.demo_store {
    top: 32px; }

.woocommerce-breadcrumb {
  margin: 0 0 1.5em;
  padding: 0;
  font-size: 13px;
  font-family: "Poppins", "Roboto", sans-serif;
  color: #999; }
  .woocommerce-breadcrumb a {
    color: #666; }

.woocommerce-result-count {
  float: right;
  margin: 0 0 1.5em 15px; }

.woocommerce-ordering {
  float: left;
  margin: 0 0 1.5em; }

.woocommerce .col2-set, .woocommerce-page .col2-set {
  width: 100%; }
  .woocommerce .col2-set:after, .woocommerce-page .col2-set:after {
    display: table;
    clear: both;
    content: ""; }
  .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: right;
    width: 48%; }
  .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: left;
    width: 48%; }

.woocommerce a.remove, .woocommerce-page a.remove {
  display: block;
  height: 20px;
  width: 20px;
  font-size: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #e6e6e6;
  color: #999; }
  .woocommerce a.remove:before, .woocommerce-page a.remove:before {
    font-size: 16px;
    line-height: 20px;
    font-family: "bimber";
    content: "\e01b"; }

.woocommerce .star-rating, .woocommerce-page .star-rating {
  overflow: hidden;
  position: relative;
  width: 5.4em;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  font-family: "bimber"; }
  .woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    content: "\e015\e015\e015\e015\e015";
    color: #d9d9d9; }
  .woocommerce .star-rating span, .woocommerce-page .star-rating span {
    overflow: hidden;
    float: right;
    top: 0;
    right: 0;
    left: auto;
    position: absolute;
    padding-top: 1.5em; }
  .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before {
    top: 0;
    position: absolute;
    right: 0;
    left: auto;
    content: "\e015\e015\e015\e015\e015";
    color: #ff0036; }

.woocommerce .quantity .qty, .woocommerce-page .quantity .qty {
  width: 4em;
  text-align: center; }

.woocommerce ul.products, .woocommerce-page ul.products {
  clear: both;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin: 0 -15px 1.5rem;
  list-style: none;
  font-size: 0; }
  .woocommerce ul.products:after, .woocommerce-page ul.products:after {
    display: table;
    clear: both;
    content: ""; }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 0 0 3rem 0;
    font-size: 1rem;
    vertical-align: top; }

.woocommerce li.product, .woocommerce-page li.product {
  width: 100%; }
  .woocommerce li.product .woocommerce-LoopProduct-link, .woocommerce-page li.product .woocommerce-LoopProduct-link {
    display: block;
    width: 100%;
    margin-bottom: 0.75em; }
    .woocommerce li.product .woocommerce-LoopProduct-link img, .woocommerce-page li.product .woocommerce-LoopProduct-link img {
      display: block;
      width: 100%;
      margin-bottom: 0.75em; }
  .woocommerce li.product .star-rating, .woocommerce-page li.product .star-rating {
    float: left; }
  .woocommerce li.product .g1-button, .woocommerce-page li.product .g1-button {
    display: block;
    width: 100%;
    margin: auto 0 0.5em 0; }
  .woocommerce li.product .entry-flags, .woocommerce-page li.product .entry-flags {
    margin: 0 10px;
    position: absolute;
    top: -10px; }

.woocommerce li.product-category > a, .woocommerce-page li.product-category > a {
  display: block;
  width: 100%;
  position: relative; }
  .woocommerce li.product-category > a img, .woocommerce-page li.product-category > a img {
    display: block;
    width: 100%; }
  .woocommerce li.product-category > a h3, .woocommerce-page li.product-category > a h3 {
    padding: 16px 20px;
    position: absolute;
    right: 15px;
    left: 15px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.666); }
  .woocommerce li.product-category > a .product-category-count, .woocommerce-page li.product-category > a .product-category-count {
    font-size: 13px;
    font-weight: normal;
    text-transform: none; }

@media only screen and (min-width: 481px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 50%; }
  .woocommerce.columns-2 ul.products li.product, .woocommerce.columns-4 ul.products li.product,
  .woocommerce-page.columns-2 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product {
    width: 50%; } }

@media only screen and (min-width: 801px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 33.33333%; }
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product {
    width: 33.33333%; }
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product {
    width: 25%; }
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product {
    width: 20%; }
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 16.66667%; } }

@media only screen and (min-width: 1025px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    padding-right: 15px;
    padding-left: 15px; } }

.woocommerce,
.woocommerce-page {
  /**
	 * Forms
	 */
  /**
	 * Forms
	 */ }
  .woocommerce form .form-row,
  .woocommerce-page form .form-row {
    padding: 3px;
    margin: 0 0 6px; }
    .woocommerce form .form-row label.hidden,
    .woocommerce-page form .form-row label.hidden {
      visibility: hidden; }
    .woocommerce form .form-row label.inline,
    .woocommerce-page form .form-row label.inline {
      display: inline; }
    .woocommerce form .form-row .select2-container,
    .woocommerce-page form .form-row .select2-container {
      width: 100%;
      line-height: 2em; }
    .woocommerce form .form-row.woocommerce-invalid label,
    .woocommerce-page form .form-row.woocommerce-invalid label {
      color: #ff0000; }
    .woocommerce form .form-row.woocommerce-invalid .select2-container,
    .woocommerce form .form-row.woocommerce-invalid input.input-text,
    .woocommerce form .form-row.woocommerce-invalid select,
    .woocommerce-page form .form-row.woocommerce-invalid .select2-container,
    .woocommerce-page form .form-row.woocommerce-invalid input.input-text,
    .woocommerce-page form .form-row.woocommerce-invalid select {
      border-color: #ff0000; }
    .woocommerce form .form-row.woocommerce-validated .select2-container,
    .woocommerce form .form-row.woocommerce-validated input.input-text,
    .woocommerce form .form-row.woocommerce-validated select,
    .woocommerce-page form .form-row.woocommerce-validated .select2-container,
    .woocommerce-page form .form-row.woocommerce-validated input.input-text,
    .woocommerce-page form .form-row.woocommerce-validated select {
      border-color: green; }
  .woocommerce form .form-row:after,
  .woocommerce-page form .form-row:after {
    display: block;
    clear: both;
    content: ""; }
  .woocommerce form .form-row label,
  .woocommerce-page form .form-row label {
    display: block; }
    .woocommerce form .form-row label.checkbox,
    .woocommerce-page form .form-row label.checkbox {
      display: inline; }
  .woocommerce form .form-row select,
  .woocommerce form .form-row .input-text,
  .woocommerce-page form .form-row select,
  .woocommerce-page form .form-row .input-text {
    width: 100%; }
  .woocommerce form .form-row-first,
  .woocommerce form .form-row-last,
  .woocommerce-page form .form-row-first,
  .woocommerce-page form .form-row-last {
    float: right;
    width: 47%;
    overflow: visible; }
  .woocommerce form .form-row-last,
  .woocommerce-page form .form-row-last {
    float: left; }
  .woocommerce form .form-row-wide,
  .woocommerce-page form .form-row-wide {
    clear: both; }
  .woocommerce .comment-form-rating label,
  .woocommerce-page .comment-form-rating label {
    margin-bottom: 0.375rem; }

form.cart {
  margin-bottom: 1.5rem; }
  form.cart:after {
    display: table;
    clear: both;
    content: ""; }
  form.cart div.quantity {
    float: right;
    margin: 0 0 0 6px; }
  form.cart table {
    border-width: 0 0 1px 0; }
    form.cart table td {
      padding-right: 0; }
    form.cart table div.quantity {
      float: none;
      margin: 0; }
    form.cart table small.stock {
      display: block;
      float: none; }
  form.cart .variations {
    margin-bottom: 1em;
    border: 0;
    width: 100%; }
    form.cart .variations td,
    form.cart .variations th {
      border: 0;
      vertical-align: top;
      line-height: 2em; }
    form.cart .variations label {
      font-weight: 700; }
    form.cart .variations select {
      max-width: 100%;
      min-width: 75%;
      display: inline-block;
      margin-left: 1em; }
    form.cart .variations td.label {
      padding-left: 1em; }
  form.cart .woocommerce-variation-description p {
    margin-bottom: 1em; }
  form.cart .reset_variations {
    visibility: hidden;
    font-size: 0.83em; }
  form.cart .wc-no-matching-variations {
    display: none; }
  form.cart .button {
    vertical-align: middle;
    float: right; }
  form.cart .group_table td.label {
    padding-left: 1em;
    padding-right: 1em; }
  form.cart .group_table td {
    vertical-align: top;
    padding-bottom: .5em;
    border: 0; }

/**
 * Cart.
 */
.cart-empty {
  text-align: center; }
  .cart-empty:before {
    display: block;
    margin: 0 auto 15px;
    font-size: 96px;
    line-height: 1;
    font-family: "bimber";
    content: "\e026";
    opacity: 0.2; }

.return-to-shop {
  text-align: center; }

table.shop_table {
  width: 100%; }

table.cart {
  width: 100%;
  margin-bottom: 3rem; }
  table.cart thead th.product-remove {
    width: 20px; }
  table.cart thead th.product-subtotal {
    text-align: left; }
  table.cart tbody td {
    vertical-align: middle; }
  table.cart tbody td.product-remove {
    padding-right: 0;
    padding-left: 0; }
  table.cart tbody td.product-price {
    font-family: "Poppins", "Roboto", sans-serif; }
  table.cart tbody td.product-subtotal {
    font-family: "Poppins", "Roboto", sans-serif;
    font-weight: bold;
    text-align: left; }
  table.cart tbody td.actions {
    text-align: left;
    padding-right: 0;
    padding-left: 0; }
    table.cart tbody td.actions .coupon {
      float: right; }

th.product-remove {
  visibility: hidden; }

th.product-thumbnail {
  visibility: hidden; }

td.product-thumbnail {
  min-width: 60px;
  width: 90px; }
  td.product-thumbnail img {
    display: block; }

td.product-name {
  font-family: "Poppins"; }
  td.product-name a {
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #000; }

table.cart thead th.product-name {
  position: relative;
  right: -125px;
  left: auto;
  padding-right: 0; }

.g1-drop-the-cart .g1-drop-toggle-icon {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }
  .g1-drop-the-cart .g1-drop-toggle-icon:before {
    content: "\e026"; }

.widget_shopping_cart .total {
  text-align: left;
  text-align: center; }
  .widget_shopping_cart .total strong {
    font-weight: inherit;
    opacity: 0.333; }

.widget_shopping_cart .buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 -3px; }
  .widget_shopping_cart .buttons .button {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0 3px; }

.cart_totals {
  padding: 30px 20px;
  background-color: #f2f2f2; }
  .cart_totals .checkout-button {
    display: block; }

@media only screen and (min-width: 1025px) {
  .cart_totals {
    padding-right: 30px;
    padding-left: 30px; } }

#shipping_method {
  margin: 0 0 0.75rem;
  list-style: none; }

.product_list_widget {
  margin: 0 0 1.5rem;
  list-style: none; }
  .product_list_widget > li {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    padding: 10px 0; }
    .product_list_widget > li ins {
      background-color: transparent;
      color: inherit; }
    .product_list_widget > li .remove {
      position: absolute;
      right: 0;
      top: 50%;
      top: calc(50% - 10px); }
    .product_list_widget > li .product-media {
      width: 80px;
      margin-left: 15px; }
    .product_list_widget > li .g1-epsilon,
    .product_list_widget > li .quantity {
      display: block; }
    .product_list_widget > li .star-rating {
      display: block;
      float: none; }
    .product_list_widget > li .reviewer {
      font-size: 13px;
      line-height: 15px;
      font-family: "Poppins", "Roboto", sans-serif;
      color: #999; }
  .product_list_widget > .mini_cart_item {
    padding: 10px 25px 10px 0; }
    .product_list_widget > .mini_cart_item .remove {
      position: absolute;
      right: 0;
      top: 50%;
      top: calc(50% - 10px); }
  .product_list_widget > .empty {
    display: block;
    text-align: center; }

.widget_layered_nav ul {
  margin: 0 0 1.5rem;
  list-style: none; }

.widget_layered_nav .wc-layered-nav-term .count {
  display: block;
  clear: both;
  min-width: 1em;
  float: left;
  padding: 3px 5px;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  background-color: #f2f2f2;
  color: #999; }

.widget_layered_nav select {
  width: 100%; }

.widget_product_categories select {
  width: 100%; }

/* Average rating filter */
.widget_rating_filter ul {
  margin-right: 0;
  list-style: none; }

.widget_rating_filter .wc-layered-nav-rating {
  position: relative;
  overflow: hidden;
  text-align: left;
  font-size: 13px; }
  .widget_rating_filter .wc-layered-nav-rating > a {
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: inherit; }
  .widget_rating_filter .wc-layered-nav-rating .star-rating {
    display: inline-block;
    position: absolute;
    right: 0; }

/**
 * Price filter widget
 */
.widget_price_filter .price_slider {
  margin-bottom: 1em; }

.widget_price_filter .price_slider_amount {
  text-align: left;
  line-height: 2.4;
  font-size: 13px; }
  .widget_price_filter .price_slider_amount .button {
    font-size: 1.15em; }
  .widget_price_filter .price_slider_amount .button {
    float: right; }

.widget_price_filter .ui-slider {
  position: relative;
  text-align: right;
  margin-right: .5em;
  margin-left: .5em; }

.widget_price_filter .ui-slider .ui-slider-handle {
  display: block;
  position: absolute;
  z-index: 2;
  top: -.3em;
  width: 16px;
  height: 16px;
  cursor: ew-resize;
  border-radius: 50%;
  background-color: #ff0000;
  margin-right: -8px; }

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background-color: #ff0000; }

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #e6e6e6;
  border: 0; }

.widget_price_filter .ui-slider-horizontal {
  height: .5em; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  right: -1px;
  left: auto; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  left: -1px;
  right: auto; }

.woocommerce-tabs {
  margin-bottom: 4.5rem; }

.wc-tab #comments {
  margin-right: 0; }

.wc-tab .commentlist {
  clear: both;
  margin: 0 0 1.5rem;
  list-style: none; }
  .wc-tab .commentlist .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0; }
  .wc-tab .commentlist .meta {
    margin-bottom: 0.75rem; }

.woocommerce {
  /**
	 * Product page
	 */ }
  .woocommerce div.product .entry-flags {
    position: absolute;
    z-index: 3;
    right: 10px;
    left: auto;
    top: 10px; }
  .woocommerce div.product div.images {
    margin-bottom: 2em; }
    .woocommerce div.product div.images img {
      display: block;
      width: 100%;
      height: auto;
      box-shadow: none; }
    .woocommerce div.product div.images div.thumbnails {
      padding-top: 1em; }
    .woocommerce div.product div.images.woocommerce-product-gallery {
      position: relative; }
    .woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
      transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s; }
    .woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
      width: 25%;
      display: inline-block; }
    .woocommerce div.product div.images .woocommerce-product-gallery__trigger {
      position: absolute;
      top: 10px;
      right: auto;
      left: 10px;
      font-size: 2em;
      z-index: 9;
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      border-radius: 100%;
      box-sizing: content-box;
      background: #fff;
      color: #000;
      -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
      -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
      -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
      transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; }
      .woocommerce div.product div.images .woocommerce-product-gallery__trigger:hover {
        color: #fff;
        background: #000; }
      .woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid currentColor;
        border-radius: 100%;
        position: absolute;
        top: 11px;
        left: 11px;
        box-sizing: content-box; }
      .woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
        content: "";
        display: block;
        width: 2px;
        height: 8px;
        background: currentColor;
        border-radius: 6px;
        position: absolute;
        top: 21px;
        left: 24px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: content-box; }
    .woocommerce div.product div.images .flex-control-thumbs {
      overflow: hidden;
      zoom: 1;
      margin: 0;
      padding: 0; }
      .woocommerce div.product div.images .flex-control-thumbs li {
        width: 20%;
        float: left;
        margin: 0;
        list-style: none; }
        .woocommerce div.product div.images .flex-control-thumbs li img {
          cursor: pointer;
          opacity: .5;
          margin: 0; }
          .woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img:hover {
            opacity: 1; }
  .woocommerce div.product div.summary {
    margin-bottom: 44px;
    margin-bottom: 3rem; }
  .woocommerce div.product .woocommerce-tabs {
    clear: both; }
  .woocommerce .price del {
    opacity: 0.333; }
  .woocommerce .price ins {
    background-color: transparent; }
  .woocommerce .stars a {
    display: inline-block;
    height: 16px;
    margin-left: 12px;
    position: relative;
    font-size: 0;
    text-decoration: none; }
    .woocommerce .stars a:before {
      display: inline-block;
      font-size: 16px;
      line-height: 1;
      font-family: "bimber";
      content: "\e015";
      color: #d9d9d9; }
  .woocommerce .stars a:hover:before,
  .woocommerce .stars .active:before {
    color: inherit; }
  .woocommerce .stars .star-2:before {
    content: "\e015\e015"; }
  .woocommerce .stars .star-3:before {
    content: "\e015\e015\e015"; }
  .woocommerce .stars .star-4:before {
    content: "\e015\e015\e015\e015"; }
  .woocommerce .stars .star-5:before {
    content: "\e015\e015\e015\e015\e015"; }

@media only screen and (min-width: 601px) {
  .woocommerce div.product div.images,
  .woocommerce #content div.product div.images {
    float: right;
    width: 48%; }
  .woocommerce div.product div.summary,
  .woocommerce #content div.product div.summary {
    float: left;
    width: 48%; } }

.woocommerce-product-rating {
  margin: 0 0 1.5rem; }
  .woocommerce-product-rating .star-rating {
    display: inline-block;
    margin: 0 0 0 7px;
    vertical-align: middle; }

.product {
  position: relative; }

.products .product h3 {
  margin: 0.25em 0; }

.added_to_cart {
  display: block;
  text-align: center; }

.woocommerce-MyAccount-navigation > ul {
  margin: 0 0 1.5rem;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link {
  padding: 4px 0;
  margin-left: 10px;
  color: #666; }
  .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link > a {
    color: inherit; }

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link:hover,
.woocommerce-MyAccount-navigation .is-active {
  color: #000; }

@media only screen and (max-width: 800px) {
  .woocommerce-account .woocommerce-MyAccount-navigation-link {
    display: inline-block;
    vertical-align: top; } }

@media only screen and (min-width: 801px) {
  .woocommerce-account:after {
    display: table;
    clear: both;
    content: ""; }
  .woocommerce-account .woocommerce-MyAccount-navigation {
    float: right;
    width: 30%; }
  .woocommerce-account .woocommerce-MyAccount-content {
    float: left;
    width: 68%; } }

.woocommerce abbr.required {
  text-decoration: none; }

.woocommerce .summary {
  padding-top: 45px; }

.woocommerce table.variations {
  display: block; }
  .woocommerce table.variations tbody,
  .woocommerce table.variations tr,
  .woocommerce table.variations td {
    display: block; }
  .woocommerce table.variations tr {
    margin-bottom: 10px; }
  .woocommerce table.variations td {
    padding: 0; }
  .woocommerce table.variations select {
    max-width: 300px;
    width: 100%; }
  .woocommerce table.variations .reset_variations {
    display: block; }

.woocommerce .checkout-order-review-wrapper {
  padding: 30px;
  background: #f2f2f2; }

.woocommerce .woocommerce-billing-fields,
.woocommerce .woocommerce-shipping-fields {
  margin-bottom: 3rem; }

.woocommerce .wc_payment_methods {
  margin-right: 0;
  list-style: none; }

.woocommerce .wc_payment_method {
  position: relative;
  padding-right: 30px; }
  .woocommerce .wc_payment_method .input-radio {
    position: absolute;
    right: 0;
    left: auto; }
  .woocommerce .wc_payment_method label {
    cursor: pointer; }
